@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.WarehouseEntity.JiChunEntity>
    @{
        ViewBag.Title = "_PatientChuzhiCard";
        Layout = null;
        string orderno = "";
        string delorderno = "";
    }
    <form action="@Url.Content("~/CashManage/OrderList")" method="post" id="submitform">
        <table class="gridTable" style="margin-top: 0px; width: 100%; border-collapse: collapse;">
            <thead style="position:absolute;width:100%;">
                <tr>
                    <th>
                        单据号
                    </th>
                    <th>
                        姓名
                    </th>
                    <th>
                        卡号
                    </th>
                    <th>
                        欠货时间
                    </th>
                    <th>
                        产品名称
                    </th>
                    <th>
                        欠货数量
                    </th>
                    <th>
                        已领取数量
                    </th>
                    <th>
                        剩余数量
                    </th>
                    <th>
                        操作
                    </th>

                </tr>
            </thead>
            <tbody style="">
                <tr style="height:40px;"></tr>
                @foreach (var entity in Model)
                {
                    var list = Model.Where(c => c.OrderNo == entity.OrderNo).ToList();

                    <tr>
                        @if (orderno != entity.OrderNo)
                        {

                            <td rowspan='@list.Count'>
                                <a href="javascript:OpenOrderDetail('@entity.Memo');">   @entity.OrderNo</a>
                            </td>
                            <td rowspan='@list.Count'>
                                @entity.UserName
                            </td>
                            <td rowspan='@list.Count'>
                                @entity.MemberNo
                            </td>
                            <td rowspan='@list.Count'>
                                @entity.JichunTime
                            </td>
                            orderno = entity.OrderNo;
                        }
                        <td>
                            @entity.ProductName
                        </td>
                        <td>
                            @entity.JichunCount
                        </td>
                        <td>
                            @entity.LingquCount
                        </td>
                        <td>
                            @entity.ShengYuCount
                        </td>
                        <td>
                            @if (entity.ShengYuCount > 0)
                            {
                                if (entity.IsActive == 1)
                                {
                                    <a href="javascript:OpenDailogLingQu(@entity.JiChunID,@entity.ProductID,'@entity.ProductName',@entity.ShengYuCount,'@entity.OrderNo',@entity.JichunCount);">
                                        领取
                                    </a>
                                }
                            }
                            else
                            {

                            }
                            <a href="javascript:OpenDailogLingquDetail(@entity.JiChunID,@entity.ProductID);" style="color:Green;">
                                领取记录
                            </a>
                            @if (entity.IsActive == 1)
                            {
                                <a href="javascript:DeleteJichunOrder(@entity.ID,2)" style="color:red;">删除</a>
                            }
                            else
                            {
                                <a href="javascript:DeleteJichunOrder(@entity.ID,1)" style="color:blue;">启用</a>

                            }
                        </td>

                    </tr>
                }
                <tr>
                    <td colspan="5">
                    </td>
                    <td>
                        @ViewBag.JichunCount
                </td>
                <td>
                    @ViewBag.LingquCount
            </td>
            <td>
                @ViewBag.ShengYuCount
        </td>
        <td>
        </td>

    </tr>
    @Html.Raw(HS.SupportComponents.NoRecord.NoRecords(Model.Count, 9))
</tbody>
</table>
@Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new MvcAjaxOptions { UpdateTargetId = "articles", HttpMethod = "Post", DataFormId = "searchForm" }, new { id = "badoopager" })
</form>
<script type="text/javascript">
    $(function () {

        //计算head高度，宽度 计算articles高度
        var theadheight = $("#header").height() + $(".accountdiv").height();
        $(".gridTable thead").css("top", theadheight + "px");
        $('.mainContentRight_bottom').on('scroll', function () {
            let scrollHeight = $('.mainContentRight_bottom').scrollTop();
            let topHeight = $(".ullist").height();
            if (scrollHeight >= topHeight) {
                $(".gridTable thead").css("top", topHeight + "px");

            } else {
                $(".gridTable thead").css("top", topHeight + "px");
            }


        })
    })
</script>
<script src="/Scripts/ymx/commonTable.js"></script>
