@using Webdiyer.WebControls.Mvc;
@using PersonnelManage.Factory.IBLL;
@model PagedList<EYB.ServiceEntity.CashEntity.OrderEntity>
@{
    ViewBag.Title = "单据列表";
    var orderField = ViewBag.orderField;
    var orderDirection = ViewBag.orderDirection;
    var status = ViewBag.Statu;
    var ordertype = ViewBag.OrderType;
    var st = ViewBag.StartTime;
    var et = ViewBag.EndTime;
    DateTime StartTime = Convert.ToDateTime(ViewBag.StartTime);
    DateTime EndTime = Convert.ToDateTime(ViewBag.EndTime);
    IPersonnelManageBLL personbll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IPersonnelManageBLL>();
    var hospitalList = personbll.GetHospitalListByParentID(ViewBag.ParentHospitalID);
    bool HasPermission = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.HospitalManager_Manage_跨店权限);
    //获取区域门店
    var RegionhospitalList = personbll.GetRegionHospitalListByHospitaId(ViewBag.HospitalID);
    var HospitalID = ViewBag.HospitalID;
}
<div id="mainContentBody">
     @Html.Partial("~/Views/CenterManage/_CenterInfoControl.cshtml")
    <div id="mainContentRight">
        <div class="mainContentRight_top">
            <label class="Soliddots">
              </label>
            收银对账表 (<span id="sp">@Model.TotalItemCount</span>)</div>
        <div class="mainContentRight_bottom">
            @*  @using (Ajax.BeginForm("OrderList", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, new RouteValueDictionary { { "id", "searchForm" } }))
            {*@
            @using (Ajax.BeginForm("CashCheckList", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" }, { "class", "form-inline well well-sm" } }))
            {
                <input type="hidden" value="" name="orderDirection" id="orderDirection" />
                <input type="hidden" value="" name="orderField" id="orderField" />
                <div class="accountdiv ullist" style="margin-bottom: 0px; width: 100%;">
                    <ul>
                        @if (HasPermission)
                        {
                            <li>
                                <label style="font-weight: normal;">
                                    所属分店：</label>
                                <select name="HospitalID" id="HospitalID" class="" >
                                    <option value="0">请选择分店</option>
                                    @if (RegionhospitalList.Count > 0)
                                    {
                                        foreach (var info in RegionhospitalList)
                                        {
                                        <option @(ViewBag.HospitalID == info.HospitalID ? "selected='selected'" : "") value="@info.HospitalID" >@info.Name</option>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var info in hospitalList)
                                        {
                                        <option @(ViewBag.HospitalID == info.ID ? "selected='selected'" : "") value="@info.ID" >@info.Name</option>
                                        }
                                    }
                                </select>
                            </li>
                        }
                        <li>
                            <label style="font-weight: normal;">
                                关键字：</label>
                            <input type="text" name="UserName" id="txtUserName" class="input130"  />
                        </li>
                        <li>
                            <label style="font-weight: normal;">
                                订单时间:</label>
                            <input type="text" autocomplete="off" class="text-input Wdate input130" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="StartTime" id="txtStartTime" value="@(StartTime.Year == 1 ? DateTime.Now.ToString("yyyy-MM-dd") : StartTime.ToString("yyyy-MM-dd"))" />
                        </li>
                        <li>
                            <label style="font-weight: normal;">
                                至:</label> <input type="text" autocomplete="off"  class="text-input Wdate input130" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="EndTime" id="txtEndTime" value="@(EndTime.Year == 1 ? DateTime.Now.ToString("yyyy-MM-dd") : EndTime.ToString("yyyy-MM-dd"))" />
                        </li>
                        <li>
                            <label style="font-weight: normal;">
                                订单状态:</label>
                            <select name="Statu" id="Statu" class="" >
                                <option @(status == 999 ? "selected='selected'" : "") value="999">请选择订单状态</option>
                                <option @(status == 1 ? "selected='selected'" : "") value="1">已结算</option>
                                <option @(status == 2 ? "selected='selected'" : "") value="2">待结算</option>
                                <option @(status == 3 ? "selected='selected'" : "") value="3">已取消</option>
                                <option @(status == 4 ? "selected='selected'" : "") value="4">异常</option>
                            </select>
                        </li>
                        <li>
                            <label style="font-weight: normal;">
                                订单类型:</label>
                            <select name="OrderType" id="OrderType" class="" >
                                <option @(ordertype == 0 ? "selected='selected'" : "") value="0">请选择类型</option>
                                <option @(ordertype == 1 ? "selected='selected'" : "") value="1">项目产品</option>
                                <option @(ordertype == 2 ? "selected='selected'" : "") value="2">购买卡项</option>
                                <option @(ordertype == 3 ? "selected='selected'" : "") value="3">充值</option>
                                <option @(ordertype == 4 ? "selected='selected'" : "") value="4">还款</option>
                                <option @(ordertype == 5 ? "selected='selected'" : "") value="5">退换</option>
                            </select>
                        </li>
  <li>
                            <label style="font-weight: normal;">
                                退卡原因：
                            </label>
                            <select name="TuiType" id="TuiType" style="width: 105px;border:none;" class="select">
                                <option value="0">选择退卡原因</option>
                                <option value="1">开错订单</option>
                                <option value="2">正常退卡</option>
                                <option value="4">公司退款</option>
                                <option value="3">顾客转卡</option>
                            </select>
                        </li>
                        @* <li>
                            <label style="font-weight: normal;">顾客姓名:</label>
                             <input type="text" id="UserName" name="UserName" value=""class="new-input" style="float:none;" />
                        </li>

                            <li>
                            <label style="font-weight: normal;">卡号:</label>
                             <input type="text" id="MemberNo" name="MemberNo" value=""class="new-input" style="float:none;" />
                        </li>

                            <li>
                            <label style="font-weight: normal;">订单编号:</label>
                             <input type="text" id="OrderNo" name="OrderNo" value=""class="new-input" style="float:none;" />
                        </li>*@
                        <li>
                            <input type="hidden" value="@DateTime.Now.Ticks" name="t" id="txtTime" />
                            <input type="submit" id="btnsumbit" class="submitbutton2" style="float: none;" value="查询" />
                        </li>
                        <li>
                            <input type="button" id="btnSave" class="submitbutton2" style="float: none;" value="导出" />
                        </li>
                    </ul>
                    <div style="clear: both;">
                    </div>
                </div>
            }
            <div id="articles" style="margin-top: 5px; overflow: auto;">
                @Html.Partial("_CashCheckList", Model)
            </div>
            @{Html.RegisterMvcPagerScriptResource();}
            <script src="../../Scripts/Jquery/plugins/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
        </div>
    </div>
    <div id="showmessage" style="display: none; width: 220px; height: 140px; position: fixed;
        top: 300px; left: 650px; color: Red; margin: 0 auto; text-align: center;">
        <img src="../../Content/themes/images/loading.gif" width="100" />
        <p style="text-align: center; height: 30px; line-height: 30px;">
            正在努力查询中，请稍后...</p>
    </div>
</div>
<script src="../../Scripts/Common/placeholder.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#btnsumbit").click(function () {
        $("#txtTime").val(Math.random());
        $("#showmessage").css("display", "");
    })

    $(function () {
        $("th[orderField='@orderField']").addClass("@orderDirection");
        //定义高度
        var docheight = getDocumentHeight() - $("#header").height() - $("#footer").height() + 15;
        $("#articles").height(docheight - 150);
        if (window.PIE) {
            $('.rounded').each(function () {
                PIE.attach(this);
            });
        }
        $('#txtUserName').placeholder({
            word: '姓名、订单号、会员卡号'
        })
    });

    $("#btnSave").click(function () {
        var StartTime = $("#txtStartTime").val();
        var EndTime = $("#txtEndTime").val();
        var Statu = $("#Statu").val();
        if ($("#HospitalID").val() == "" || $("#HospitalID").val() == null) {
            var HospitalID =@HospitalID;
        }
        else { var HospitalID = $("#HospitalID").val(); }
        //var HospitalID = $("#HospitalID").val();
        var OrderType = $("#OrderType").val();
        var UserName = $("#txtUserName").val();
        var url = getControllerUrl("CashManage", "ExportCashCheckList") + "?pageNum=1&numPerPage=1000000&Statu=" + Statu + "&OrderType=" + OrderType + "&HospitalID=" + HospitalID + "&StartTime=" + StartTime + "&EndTime=" + EndTime + "&UserName=" + UserName;
        // window.open(url);
        window.location.href = url;
    });

</script>
