@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.PatientEntity.PatientEntity>
@{
    ViewBag.Title = "顾客信息管理";
    var orderField = ViewBag.orderField;
    var orderDirection = ViewBag.orderDirection;
}
<div id="mainContentBody">
    @Html.Partial("_CashControl")
    <div id="mainContentRight">
        <div class="mainContentRight_top">

          <label class="Soliddots">●</label>  顾客信息 (<span>@Model.TotalItemCount</span>)</div>

        <div class="mainContentRight_bottom">
        <form action="@Url.Content("~/CashManage/OrderSummary")" method="post" id="submitform" >
            <input type="hidden" value="" name="orderDirection" id="orderDirection" />
            <input type="hidden" value="" name="orderField"  id="orderField"  />
            
            <table class="gridTable">
            
                <thead>
                    <tr>
                        <th orderField="UserID" style="width:53px;">
                            编号
                        </th>
                        <th orderField="UserName" style="width:68px;">
                            姓名
                        </th>
                        <th orderField="Mobile" style="width:68px;">
                            手机
                        </th>
                        <th orderField="Sex" style="width:53px;">
                            性别
                        </th>
                        <th orderField="Birthday" style="width:53px;">
                            生日
                        </th>
                   
                        <th orderField="CreateTime">
                            登记时间
                        </th>
                     
                        <th >
                            顾客管理
                        </th>

                       
                    </tr>
                </thead>
                <tbody>
                 @foreach (var entity in Model)
                 {
                    <tr>
                        <td>
                            @entity.UserID
                        </td>
                        <td >
                             <div style="width:68px; overflow:hidden;"><a href="@Url.Content("~/PatientManage/PatientDetail")?UserID=@entity.UserID">@entity.UserName</a></div>
                        </td>
                           <td>
                            @entity.Mobile
                        </td>
                        <td>
                             @{if (entity.Sex == 0) { <span>男</span>}
                               else
                               { 
                                   <span>女</span> }
                               }
                        </td>
                        <td>
                             @entity.Birthday
                        </td>
                      
                        <td>
                            @entity.CreateTime.Value.ToString("yyyy-MM-dd HH:mm")
                        </td>
                       
                        <td>
                          <a href="@Url.Content("~/PatientManage/PatientRegister")?UserID=@entity.UserID">编辑</a>
                        <a href="@Url.Content("~/CashManage/Consumer")?UserID=@entity.UserID">项目产品</a>
                         <a href="@Url.Content("~/PatientManage/PatientRegister")?UserID=@entity.UserID">充值办卡</a>
                        </td>
                    </tr>
                 }
                 @Html.Raw(HS.SupportComponents.NoRecord.NoRecords(Model.Count, 8))
                </tbody>
            </table>
            </form>
             @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new { id = "badoopager" })
        </div>
       
    </div>

<script type="text/javascript">

    $(function () {
        $("th[orderField='@orderField']").addClass("@orderDirection");
        if (window.PIE) {
            $('.rounded').each(function () {
                PIE.attach(this);
            });
        }
    });
    function goPage(UserID) {

        art.dialog.open("/DoctorManage/ReservationAgain?UserID=" + UserID, { title: "再次预约", width: 900, height: 560 })
    }
</script>