@using Webdiyer.WebControls.Mvc;
@using SystemManage.Factory.IBLL;
@model PagedList<EYB.ServiceEntity.WarehouseEntity.JiChunEntity>
@{
    ViewBag.Title = "会员结构分析";
    Layout = null;
    var orderField = ViewBag.orderField;
    var orderDirection = ViewBag.orderDirection;
    ISystemManageBLL systemBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<ISystemManageBLL>();//基础数据
    PersonnelManage.Factory.IBLL.IPersonnelManageBLL personbll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<PersonnelManage.Factory.IBLL.IPersonnelManageBLL>();
    var hospitalList = personbll.GetHospitalListByParentID(ViewBag.ParentHospitalID);

    bool HasPermission = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.HospitalManager_Manage_跨店权限);
    //基础字典-顾客分类
    var BaseInfolist = systemBLL.GetBaseInfoTreeByType("CustomerType", 1, ViewBag.ParentHospitalID);
    var HospitalID = ViewBag.HospitalID;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache,   must-revalidate" />
    <meta http-equiv="expires" content="Wed,   26   Feb   1997   08:21:57   GMT" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <link href="@Url.Content("~/Content/themes/default/style.css")?v=1.2" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/themes/css/core.css")?v=1.1" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../Content/themes/css/template.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Common/common.js" type="text/javascript"></script>
    <script src="../../Scripts/Common/table.js"></script>
    <!--弹出框-->
    <script src="../../Scripts/Jquery/plugins/artDialog/artDialog.js?skin=blue" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
    <!--日期-->
    <script src="../../Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <style type="text/css">
        body {
            background: #fff;
        }
    </style>
</head>
<body>
    <div class="mainContentRight_bottom" style="margin-top: 0px; ">
        @using (Ajax.BeginForm("ProductJichunIn", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
        {<input type="hidden" value="" name="orderDirection" id="orderDirection" />
            <input type="hidden" value="" name="orderField" id="orderField" />
            <div class="accountdiv ullist" style="margin-bottom: 0px; margin-top: 0px; width: 100%;">
                <ul>
                    @if (HasPermission)
                    {
                        <li>
                            <label style="font-weight: normal;">
                                所属分店:
                            </label>
                            <select name="HospitalID" id="HospitalID" class="select ymxSelect" style="">
                                <option value="0">请选择分店</option>
                                @foreach (var info in hospitalList)
                                {
                                    <option value="@info.ID" @(ViewBag.HospitalID == info.ID ? "selected=selected" : "")=)>@info.Name</option>
                                }
                            </select>
                        </li>
                    }
                    <li>
                        <label style="font-weight: normal;">
                            寄存时间:
                        </label>
                        <input type="text" autocomplete="off" class="text-input Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="JichunStartTime" id="JichunStartTime" value="@ViewBag.JichunStartTime" />
                        至 <input type="text" autocomplete="off" class="text-input Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="JichunEndTime" id="JichunEndTime" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </li>
                    <li>
                        <label style="font-weight: normal;">
                            状态:
                        </label>
                        <select name="IsActive" id="IsActive" class="ymxSelect">
                            <option value="999">全部</option>
                            <option value="1" @(ViewBag.IsActive == 1 ? "selected=selected" : "")=)>启用</option>
                            <option value="2" @(ViewBag.IsActive == 2 ? "selected=selected" : "")=)>已删除</option>
                        </select>
                    </li>
                    <li>
                        <label style="font-weight: normal;">
                            顾客姓名:
                        </label>
                        <input type="text" name="UserName" id="UserName" class="text-input ymxInput" />
                    </li>
                    <li>
                        <label style="font-weight: normal;">
                            产品名称:
                        </label>
                        <input type="text" name="ProductName" id="ProductName" class="text-input ymxInput" style="width: 100px;" />
                    </li>
                    <li>
                        <input type="hidden" value="@DateTime.Now.Ticks" name="t" id="txtTime" />
                        <input type="submit" class="submitbutton2 ymxButtonMT" id="btnsumbit" style="float: none;" value="查询" />
                        <input type="button" id="btnSave" class="submitbutton2 ymxButtonMT" style="float: none;" value="导出" />
                        <input type="button" class="submitbutton2" onclick="OpenDailogDetail()" id="btnadd" style="float: none;" value="添加寄存" />
                    </li>
                </ul>
                <div style="clear: both">
                </div>
            </div>

        }
        <div id="articles" class="" style="margin-top: 0px;overflow:auto">
            @Html.Partial("_ProductJichunIn", Model)
        </div>
        @{Html.RegisterMvcPagerScriptResource();}
        <script src="../../Scripts/Jquery/plugins/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    </div>
    <script type="text/javascript">
        $("#btnselect").click(function () {
            $("#txtTime").val(Math.random());
        });

        $(function () {
            $("th[orderField='@orderField']").addClass("@orderDirection");
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });
            }
        });
        function OpenDailogDetail() {
            art.dialog.open("/CashManage/ProductJichunInAdd?Type=1", { title: "添加寄存", width: 960, height: 640 });
        }
        function OpenDailogLingQu(JiChunID, ProductID, ProductName, ShengYuCount) {
            art.dialog.open("/CashManage/ProductJichunLingqu?Type=1&JiChunID=" + JiChunID + "&ProductID=" + ProductID + "&ProductName=" + ProductName + "&ShengYuCount=" + ShengYuCount, {
                title: "领取", width: 480, height: 380, close: function () {
                    $("#btnsumbit").click();
                    return true;
                }
            });
        }
        //领取记录
        function OpenDailogLingquDetail(JiChunID, ProductID) {
            art.dialog.open("/CashManage/ProductJichunLingquRecord?JiChunID=" + JiChunID + "&ProductID=" + ProductID, { title: "领取记录", width: 960, height: 640 });
        }
        //删除单据
        function DeleteJichunOrder(ID) {
            if (confirm("确认删除吗？")) {
                $.ajax({
                    type: "post", //使用get方法访问后台
                    dataType: "json", //返回json格式的数据
                    url: "/CashManage/DelJiChun",
                    data: { "ID": ID, "IsActive": 2 }, // 你的formid
                    async: false,
                    success: function (data) {

                        if (data > 0) {
                            alert("删除成功");
                            $("#btnsumbit").click();

                        } else {
                            alert("删除失败");
                        }
                    },
                    error: function (e) {
                        alert("操作失败！");
                    }
                });
            }
        }
        //导出
        $("#btnSave").click(function () {
            if ($("#HospitalID").val() == "" || $("#HospitalID").val() == null) {
                var HospitalID =@HospitalID;
            }
            else { var HospitalID = $("#HospitalID").val(); }
            var JichunStartTime = $("#JichunStartTime").val();
            var JichunEndTime = $("#JichunEndTime").val();
            var IsActive = $("#IsActive").val();
            var UserName = $("#UserName").val();
            var ProductName = $("#ProductName").val();

            var url = getControllerUrl("CashManage", "ExportProductJichunIn") + "?pageNum=1&numPerPage=1000000&IsActive=" + IsActive + "&UserName=" + UserName + "&ProductName=" + ProductName + "&HospitalID=" + HospitalID + "&JichunStartTime=" + JichunStartTime + "&JichunEndTime=" + JichunEndTime;
            // window.open(url);
            window.location.href = url;
        });
    </script>
    <script>
        $(function () {
            let acHeight = $(window).height() - $("#footer").height() - $(".mainContentRight_top").height() - $("#header").height();
            $("#articles").css("height", acHeight + "px");
        })
    </script>
</body>
</html>