@using Webdiyer.WebControls.Mvc;
@using HS.SupportComponents;
@using PersonnelManage.Factory.IBLL;
@{
    ViewBag.Title = "办卡管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PersonnelManage.Factory.IBLL.IPersonnelManageBLL personBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<PersonnelManage.Factory.IBLL.IPersonnelManageBLL>();
    CashManage.Factory.IBLL.ICashManageBLL cashBll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<CashManage.Factory.IBLL.ICashManageBLL>();
    IPersonnelManageBLL personnelBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IPersonnelManageBLL>();
    //顾客ID
    var UserID = ConvertValueHelper.ConvertIntValue(Request["UserID"]);

    //查询门店美容师
    IList<EYB.ServiceEntity.PersonnelEntity.HospitalUserEntity> persoList = personBLL.GetAllUserByHospitalID(ViewBag.HospitalID, 0);
    persoList = persoList.Where(i => i.IsSys != 1).ToList();
    //获取用户所有的划扣次数
    var projectList = cashBll.GetProjectBalance(UserID, 0, ViewBag.ParentHospitalID);
    var hospitalList = personBLL.GetHospitalListByParentID(ViewBag.ParentHospitalID);
    bool result1 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.CashManage_PreAddorder);
}
<div id="mainContentBody">
    @Html.Partial("_CashControl")
    <div id="mainContentRight">
        <div class="mainContentRight_top">
            <label class="Soliddots">
            </label>
            充值办卡--购买卡项
        </div>
        <div class="mainContentRight_bottom clearfix">
            @Html.Partial("_PatientSelect")
            <div id="tabbox" style="overflow-x: hidden; overflow-y: auto;">
                <ul class="tabs" id="tabs">
                    <li><a href="###" tab="tab1">疗程卡</a></li>
                    <li><a href="###" tab="tab2">储值卡</a></li>
                    @*    <li><a href="###" tab="tab3" style="display:none;">方案卡</a></li>*@
                </ul>
                <ul id="tab_conbox" class="tab_conbox">
                    <li id="tab1" class="tab_con">
                        <form id="myform" action="@Url.Content("~/CashManage/AddCard1")" class="clearfix" method="post">
                            <input type="hidden" id="labuserid1" name="txtUserID" value="@UserID" />
                            <div class="clearfix">
                                <fieldset style="width: 300px; float: left;">
                                    <legend>已购买卡项</legend>
                                    <table class="gridTable" id="cardlist" style="border-collapse: collapse;">
                                        <thead>
                                            <tr style="background: rgba(251,195,196,0.8);">
                                                <th style="text-align: center;">
                                                    项目名称
                                                </th>
                                                <th style="text-align: center;">
                                                    剩余次数
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="cardtbody1"></tbody>
                                    </table>
                                </fieldset>
                                <fieldset style="width: 720px; float: left; margin-left: 5px;">
                                    <legend>待结账卡项</legend>
                                 

                                        <table id="purchasetable" class="gridTable" style="border-collapse: collapse;">
                                            <thead>
                                                <tr style="background:rgba(251,195,196,0.8);">
                                                    <th style="text-align: center;">
                                                        卡项名称
                                                    </th>
                                                    <th style="text-align: center;">
                                                        售价
                                                    </th>
                                                    <th style="text-align: center;display: none">
                                                        折扣
                                                    </th>
                                                    <th style="text-align: center;display: none">
                                                        次数
                                                    </th>
                                                    <th style="text-align: center;display: none">
                                                        单价
                                                    </th>
                                                    <th style="text-align: center;display: none">
                                                        消耗单价
                                                    </th>
                                                    <th style="display: none; text-align: center;">
                                                        描述
                                                    </th>
                                                    <th style="display: none; text-align: center;">
                                                        参与员工
                                                    </th>
                                                    <th style="text-align:center">
                                                        项目管理
                                                    </th>
                                                    <th style="text-align: center;">
                                                        操作
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="purchasetbody"></tbody>
                                        </table>
                                   
                                        <div style="margin-top: 20px;">
                                            <div class="accountdiv2" id="selaccountdiv2">
                                                <label style="font-weight: normal; line-height: 40px;">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消费总额：
                                                </label><label id="labamout">0</label>
                                                <ul style="position: relative; display: inline-block; text-align: right; margin-left: 5px;">
                                                    <li class="liMenu">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" style="text-decoration: underline;
                                                color: Blue;">选择参与员工</a>

                                                    </li>
                                                    <ul class="liHide ulClass">
                                                        @foreach (var info in persoList)
                                                        {
                                                            <li class="liClass">
                                                                <input type="checkbox" code="@info.UserName" id="chk(@info.UserID)" value="@info.UserID" name="UserID" /><label for="chk(@info.UserID)">@info.UserName</label>
                                                            </li>
                                                        }
                                                        <li class="liClass" style="margin-left: -10px;">
                                                            <select name="HospitalID" class="select selHospitalID" style="width: 100px; color: Blue;
                                                        font-size: 12px;">
                                                                <option value="0">选择跨店员工</option>
                                                                @foreach (var info in hospitalList)
                                                                {
                                                                    if (info.ID != ViewBag.HospitalID)
                                                                    {
                                                                        <option value="@info.ID">@info.Name</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </li>
                                                    </ul>
                                                </ul>
                                                <label style="font-weight: normal;">
                                                    备注：
                                                </label>
                                                <input type="text" style="width: 60px;" name="Memo" id="txtmemo" />
                                                @if (result1)
                                                {
                                                    <label>补单：</label>
                                                    <input type="text" class="text-input Wdate" style="width:100px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="CreateTime" id="txtCreateTime" autocomplete="off" value="" />
                                                    <input type="checkbox" value="1" name="CheckCreateTime" id="chkcreatetime" style="width: 20px;height: 20px; vertical-align:middle;margin:-4px 2px 0px 2px; " />
                                                }
                                            </div>
                                            <div style="text-align: right; margin-top: 5px; margin-right: 3px;">
                                                <input type="button" style="float: none; " class="addtreament submitbutton2" value="选择卡项" />
                                                <input type="button" id="btnsavetem" style="float: none;" class="submitbutton2" value="结账" />
                                                @*    <input type="reset" onclick="history.go(-1)" style="float: none;" class="submitbutton2"
                    value="返 回" />*@
                                            </div>
                                        </div>
                                </fieldset>
                            </div>
                        </form>
                        <div id="appendUser" style="display: none;">
                            <ul style="position: relative;">
                                <li class="liMenu"><a href="javascript:;">点击选择</a></li>
                                <ul class="liHide ulClass">
                                    @foreach (var info in persoList)
                                    {
                                        <li class="liClass">
                                            <input type="checkbox" code="@info.UserName" id="chk(@info.UserID)" value="@info.UserID" name="UserID" /><label for="chk(@info.UserID)">@info.UserName</label>
                                        </li>
                                    }
                                </ul>
                            </ul>
                        </div>
                    </li>
                    <li id="tab2" class="tab_con" style="padding: 8px; display: none;">
                        <form id="myform2" action="@Url.Content("~/CashManage/AddCard1")" class="clearfix" method="post">
                            <input type="hidden" id="labuserid3" name="txtUserID" value="@UserID" />
                            <div class="clearfix">
                                <fieldset style="width: 300px; float: left;">
                                    <legend>已购买卡项</legend>
                                    <table class="gridTable" id="cardlist3" style="border-collapse: collapse;">
                                        <thead>
                                            <tr style="background: rgba(251,195,196,0.8);">
                                                <th style="text-align: center;">
                                                    选择
                                                </th>
                                                <th style="text-align: center;">
                                                    卡项名称
                                                </th>
                                                <th style="text-align: center;">
                                                    余额
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="cardtbod3"></tbody>
                                    </table>
                                </fieldset>
                                <fieldset style="width: 720px; float: left; margin-left: 5px;">
                                    <legend>待结账卡项</legend>
                                    <table id="purchasetable3" class="gridTable" style="border-collapse: collapse;">
                                        <thead>
                                            <tr style="background: rgba(251,195,196,0.8);">
                                                <th style="text-align: center;">
                                                    卡项名称
                                                </th>
                                                <th style="text-align: center;">
                                                    金额
                                                </th>
                                                <th style="text-align: center;">
                                                    划扣折率
                                                </th>
                                                <th style="display: none; text-align: center;">
                                                    参与员工
                                                </th>
                                                <th style="text-align: center;">
                                                    操作
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="purchasetbody3"></tbody>
                                    </table>
                                    <div class="accountdiv1" id="selaccountdiv1">
                                        <label style="font-weight: normal; line-height: 40px;">
                                            &nbsp;&nbsp;消费总额：
                                        </label><label id="labcash0" class="labamout0">0</label>
                                        <label style="font-weight: normal;">
                                            应付金额：
                                        </label>
                                        <label id="labamout0" style="color: Red;">
                                            0
                                        </label>
                                        <ul style="position: relative; display: inline-block; text-align: right; margin-left: 5px;"
                                            class="selectUL">
                                            <li class="liMenu">
                                                &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" style="text-decoration: underline;
                                            color: Blue;">选择参与员工</a>
                                            </li>
                                            <ul class="liHide ulClass">
                                                @foreach (var info in persoList)
                                                {
                                                    <li class="liClass">
                                                        <input type="checkbox" code="@info.UserName" id="chk(@info.UserID)" value="@info.UserID" name="UserID" /><label for="chk(@info.UserID)">@info.UserName</label>
                                                    </li>
                                                }
                                                <li class="liClass" style="margin-left: -10px;">
                                                    <select name="HospitalID" class="select selHospitalID" style="width: 100px; color: Blue;
                                                    font-size: 12px;">
                                                        <option value="0">选择跨店员工</option>
                                                        @foreach (var info in hospitalList)
                                                        {
                                                            if (info.ID != ViewBag.HospitalID)
                                                            {
                                                                <option value="@info.ID">@info.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                </li>
                                            </ul>
                                        </ul>
                                        <label style="font-weight: normal;">
                                            备注：
                                        </label>
                                        <input type="text" style="width: 80px;" name="Memo" id="txtmemo1" />
                                        @if (result1)
                                        {
                                            <label>补单：</label>
                                            <input type="text" class="text-input Wdate" style="width:100px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                                                   name="CreateTime" id="txtCreateTime1" value="" />
                                            <input type="checkbox" value="1" name="CheckCreateTime" id="chkcreatetime1" style="width: 20px;
                                            height: 20px; vertical-align:middle;margin:-4px 2px 0px 2px; " />
                                        }
                                    </div>
                                    <div style="text-align: right; margin-top: 5px; margin-right: 3px;">
                                        <input type="button" id="addsto" style="float: none; " class="submitbutton2"
                                               value="选择卡项" />
                                        <input type="button" id="btnsavesto" style="float: none;" class="submitbutton2" value="结账" />
                                        @*  <input type="reset" onclick="history.go(-1)" style="float: none;" class="submitbutton2"
                                            value="返 回" />*@
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                        <div id="appendUser3" style="display: none;">
                            <ul style='position: relative;'>
                                <li class="liMenu">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" style="text-decoration: underline;
                                    color: Blue;">选择参与员工</a>
                                </li>
                                <ul class="liHide ulClass">
                                    @foreach (var info in persoList)
                                    {
                                        <li class="liClass">
                                            <input type="checkbox" code="@info.UserName" id="chk(@info.UserID)" value="@info.UserID" name="UserID" /><label for="chk(@info.UserID)">@info.UserName</label>
                                        </li>
                                    }
                                </ul>
                            </ul>
                        </div>
                    </li>
                    <li id="tab3" class="tab_con" style="display: none;">
                        <form id="myform1" action="@Url.Content("~/CashManage/AddCard1")" class="clearfix" method="post">
                            <input type="hidden" id="labuserid2" name="txtUserID" value="@UserID" />
                            <div class="clearfix">
                                <fieldset style="width: 300px; float: left;">
                                    <legend>已购买卡项</legend>
                                    <table class="gridTable" id="cardlist2" style="border-collapse: collapse;">
                                        <thead>
                                            <tr style="background: #ccc;">
                                                <th>
                                                    卡项名称
                                                </th>
                                                <th>
                                                    售价
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="cardtbody2"></tbody>
                                    </table>
                                </fieldset>
                                <fieldset style="width: 490px; float: left; margin-left: 5px;">
                                    <legend>待结账卡项</legend>
                                    <table id="purchasetable2" class="gridTable" style="border-collapse: collapse;">
                                        <thead>
                                            <tr style="background: #ccc;">
                                                <th>
                                                    卡项名称
                                                </th>
                                                <th>
                                                    售价
                                                </th>
                                                <th style="display: none;">
                                                    描述
                                                </th>
                                                <th style="display: none;">
                                                    参与员工
                                                </th>
                                                <th>
                                                    操作
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="purchasetbody2"></tbody>
                                    </table>
                                    <div class="accountdiv3">
                                        <label style="font-weight: normal; line-height: 40px;">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消费总额：
                                        </label><label id="labamout2">0</label>
                                        <ul style="position: relative; display: inline-block; text-align: right; margin-left: 5px;">
                                            <li class="liMenu">
                                                &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" style="text-decoration: underline;
                                            color: Blue;">选择参与员工</a>
                                            </li>
                                            <ul class="liHide ulClass">
                                                @foreach (var info in persoList)
                                                {
                                                    <li class="liClass">
                                                        <input type="checkbox" code="@info.UserName" id="chk(@info.UserID)" value="@info.UserID" name="UserID" /><label for="chk(@info.UserID)">@info.UserName</label>
                                                    </li>
                                                }
                                            </ul>
                                        </ul>
                                    </div>
                                    <div style="text-align: right; margin-top: 5px; margin-right: 3px;">
                                        <input type="button" style="float: none; " class="submitbutton2"
                                               id="addpro" value="选择卡项" />
                                        <input type="button" id="btnsavepro" style="float: none;" class="submitbutton2" value="结账" />
                                        @*     <input type="reset" onclick="history.go(-1)" style="float: none;" class="submitbutton2"
                                            value="返 回" />*@
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                        <div id="appendUser1" style="display: none;">
                            <ul style="position: relative;">
                                <li class="liMenu"><a href="javascript:;">点击选择</a></li>
                                <ul class="liHide ulClass">
                                    @foreach (var info in persoList)
                                    {
                                        <li class="liClass">
                                            <input type="checkbox" code="@info.UserName" id="chk(@info.UserID)" value="@info.UserID" name="UserID" /><label for="chk(@info.UserID)">@info.UserName</label>
                                        </li>
                                    }
                                </ul>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="../../Scripts/Controls/CashManage/PuchanseCard.js?v=3.2" type="text/javascript"></script>
<script type="text/javascript">
    $("#labuserid").val("0");
    $("#tabbox").css("min-height", getDocumentHeight() - $("#header").height() - $("#footer").height() - 170 + "px");
 
</script>
