@using EYB.ServiceEntity.CashEntity;
@model EYB.ServiceEntity.MoneyEntity.StoreDataSummaryEntity
@using PersonnelManage.Factory.IBLL;
@{
    ViewBag.Title = "门店客流";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var staretime = ViewBag.StartTime;
    var endtime = ViewBag.Endtime;
    var HospitalID = ViewBag.HospitalID;
    SystemManage.Factory.IBLL.ISystemManageBLL systemBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<SystemManage.Factory.IBLL.ISystemManageBLL>();
    IPersonnelManageBLL personbll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IPersonnelManageBLL>();
    var hospitalList = personbll.GetHospitalListByParentID(ViewBag.ParentHospitalID);
    bool HasPermission = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.HospitalManager_Manage_跨店权限);
    //打印机设置
    var PrintTemplate = systemBLL.GetUserSettingsValue(ViewBag.HospitalID, "PrintTemplate").AttributeValue;
    //获取区域门店
    var RegionhospitalList = personbll.GetRegionHospitalListByHospitaId(ViewBag.HospitalID);

    bool result1 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.MoneyManage_PerformanceAudit);//员工业绩审核
    bool result2 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.MoneyManage_PerformanceDetails);//员工销售明细
    bool result3 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.MoneyManage_ItemDetailsConsumption);//员工消耗明细
    bool result4 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.MoneyManage_PerformanceSummary);//员工业绩汇总
    bool result5 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.MoneyManage_PassengerTraffic);//员工客流量
    bool result6 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.MoneyManage_StatisticsHospitalUser);//员工业绩达成分析
    bool result7 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.MoneyManage_PerformanceReports);//营收分析
    bool result8 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.CenterManage_YewuxiaoshouMingxi);//业务销售明细
    bool result9 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.CenterManage_Yewuxiaoshouhuizong);//业务销售汇总
    bool result10 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.Statistics_Statisticsjiajuyeji);//员工家居业绩统计

    bool result11 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.CenterManage_GoalScheduleList);//目标状态
    bool result12 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.CenterManage_GoalsManage);//目标管理
    bool result13 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.CenterManage_GoalsStatistics); //目标结果

    bool result14 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.CashManage_OrderSummary); //门店客流

    int RenTou = Convert.ToInt32(Model.YouXiaoHuLiRenTou) +  Convert.ToInt32(Model.XuHuLiRenTou);
    
    int ZRenTou = Convert.ToInt32(Model.YouXiaoRenTou) +  Convert.ToInt32(Model.XuRenTou);
}
<script src="../../Scripts/Print/LodopFuncs.js" type="text/javascript"></script>
<div id="mainContentBody">
    @*修改*@
    @*<div id="mainContentLeft">
        <div id="mainContentLeft_top">
            <span>员工管理</span>
        </div>
        <div id="mainContentLeft_bottom">
            <ul>
                @if (result1)
                {
                    <li onclick='CheckRight(this,"@result1")' redirect="@Url.Content("~/MoneyManage/PerformanceAudit")">
                        <a style="cursor: pointer; ">
                            <span class="list_icon"></span>&nbsp;&nbsp;员工业绩审核
                        </a>
                    </li>
                }
                @if (result2)
                {
                    <li onclick='CheckRight(this,"@result2")' redirect="@Url.Content("~/MoneyManage/PerformanceDetails")">
                        <a style="cursor: pointer; ">
                            <span class="list_icon"></span>&nbsp;&nbsp;员工销售明细

                        </a>
                    </li>
                }
                @if (result3)
                {
                    <li onclick='CheckRight(this,"@result3")' redirect="@Url.Content("~/MoneyManage/ItemDetailsConsumption")">
                        <a style="cursor: pointer; ">
                            <span class="list_icon"></span>&nbsp;&nbsp;员工消耗明细

                        </a>
                    </li>
                }
                @if (result4)
                {
                    <li onclick='CheckRight(this,"@result4")' redirect="@Url.Content("~/MoneyManage/PerformanceSummary")">
                        <a style="cursor: pointer; ">
                            <span class="list_icon"></span>&nbsp;&nbsp;员工绩效汇总

                        </a>
                    </li>
                }
                @if (result5)
                {
                    <li onclick='CheckRight(this,"@result5")' redirect="@Url.Content("~/MoneyManage/PassengerTraffic")">
                        <a style="cursor: pointer; ">
                            <span class="list_icon"></span>&nbsp;&nbsp;员工客流量

                        </a>
                    </li>
                }
                @if (result10)
                {
                    <li onclick='CheckRight(this,"@result10")' redirect="@Url.Content("~/MoneyManage/HospitalUserProductYeji")">
                        <a style="cursor: pointer; ">
                            <span class="list_icon"></span>&nbsp;&nbsp;员工家居业绩统计

                        </a>
                    </li>
                }
                @if (result6)
                {
                    <li onclick='CheckRight(this,"@result6")' redirect="@Url.Content("~/Statistics/StatisticsHospitalUser")">
                        <a style="cursor: pointer; ">
                            <span class="list_icon"></span>&nbsp;&nbsp;员工业绩达成分析

                        </a>
                    </li>
                }
                @if (result12)
                {
                    <li onclick='CheckRight(this,"@result11")' style="" redirect="@Url.Content("~/CenterManage/GoalsList")">
                        <a style="cursor: pointer; ">
                            <span class="list_icon"></span>&nbsp;&nbsp;目标管理

                        </a>
                    </li>
                }
                @if (result11)
                {
                    <li onclick='CheckRight(this,"@result11")' style="" redirect="@Url.Content("~/CenterManage/GoalsState")">
                        <a style="cursor: pointer; ">
                            <span class="list_icon"></span>&nbsp;&nbsp;目标状态

                        </a>
                    </li>
                }
                @if (result13)
                {
                    <li onclick='CheckRight(this,"@result13")' style="" redirect="@Url.Content("~/CenterManage/GoalsStatistics")">
                        <a style="cursor: pointer; ">
                            <span class="list_icon"></span>&nbsp;&nbsp;目标结果

                        </a>
                    </li>
                }
                <li onclick='CheckRight(this,"@result14")' redirect="@Url.Content("~/CashManage/StoreDataSummary")">
                    <a style="cursor: pointer; ">
                        <span class="list_icon"></span>&nbsp;&nbsp;门店客流
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <script type="text/javascript">
    //登录回车事件
    $(document).keydown(function (event) {
        if (event.keyCode == 13 || event.keyCode == 32) {
            if ($.trim($(".searchInput").val()) != "" && $(".searchInput").val() != "搜索") {
                document.getElementById("submitform").submit();
            }
        }
    });

    //定义权限列表，主要为了显示默认有权限的页面
    var TheArray = [["@result1", "@Url.Content("~/MoneyManage/PerformanceAudit")"],
        ["@result2", "@Url.Content("~/MoneyManage/PerformanceDetails")"],
        ["@result3", "@Url.Content("~/MoneyManage/ItemDetailsConsumption")"],
        ["@result4", "@Url.Content("~/MoneyManage/PerformanceSummary")"],
        ["@result5", "@Url.Content("~/MoneyManage/PassengerTraffic")"],
        ["@result6", "@Url.Content("~/Statistics/StatisticsHospitalUser")"],
        ["@result10", "@Url.Content("~/MoneyManage/HospitalUserProductYeji")"],
        ["@result11", "@Url.Content("~/CenterManage/GoalsState")"],
        ["@result12", "@Url.Content("~/CenterManage/GoalsList")"],
        ["@result13", "@Url.Content("~/CenterManage/GoalsStatistics")"]];


    </script>*@



    @*修改*@
    @Html.Partial("_CashControl")

    <div id="mainContentRight">
        <div class="mainContentRight_top">
            <label class="Soliddots">
            </label>
            门店客流
        </div>
        <div class="mainContentRight_bottom clearfix">
            <form id="myform" action="@Url.Content("~/CashManage/StoreDataSummary")" class="clearfix" method="post">
                <div class="accountdiv ullist">
                    <ul>
                        @if (HasPermission)
                        {
                            <li>
                                <label style="font-weight: normal;">
                                    所属分店：
                                </label>
                                <select name="HospitalID" class="ymxSelect">
                                    <option value="0">请选择分店</option>
                                    @if (RegionhospitalList.Count > 0)
                                    {
                                        foreach (var info in RegionhospitalList)
                                        {
                                            <option @(ViewBag.HospitalID == info.HospitalID ? "selected='selected'" : "") value="@info.HospitalID">@info.Name</option>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var info in hospitalList)
                                        {
                                            <option @(ViewBag.HospitalID == info.ID ? "selected='selected'" : "") value="@info.ID">@info.Name</option>
                                        }
                                    }
                                </select>
                            </li>
                        }
                        <li>
                            <label style="font-weight: normal;">
                                时间:
                            </label><input autocomplete="off" type="text"  name="StartTime" value="@ViewBag.StartTime.ToString("yyyy-MM-dd")" class="text-input Wdate input130" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                                           id="startTime" />
                        </li>
                        <li>
                            <label style="font-weight: normal;">
                                至:
                            </label><input autocomplete="off" type="text"  name="EndTime" value="@ViewBag.EndTime.ToString("yyyy-MM-dd")" class="text-input Wdate input130" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                                           id="endtime" />
                        </li>
                        <li>
                            <input type="hidden" value="@DateTime.Now.Ticks" name="t" id="txtTime" />
                            <input type="submit" id="btnsumbit" class="submitbutton2 ymxButtonMT" style="float: none;" name="btn"
                                   value="汇总" />
                        </li>
                        <li>
                            <input type="button" class="submitbutton2 ymxButtonMT" style="float: none;" name="" onclick="Preview1()"
                                   value="打印" />
                        </li>
                    </ul>
                    <div style="clear: both;">
                    </div>
                </div>
            </form>
            <style>
            </style>
            <div id="printtab1">
                <table class="gridTable" style="border-collapse: collapse; font-size: 1em; text-align: center; width:550px;margin-top:10px;">
                    <thead>
                        <tr style="border-right:1px solid #d6d6d6;">
                            <th style="width: 50%;">
                                数据类型名称
                            </th>
                            <th style="width: 50%;">
                                数量
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border-right:1px solid #d6d6d6;">
                            <td style="width: 50%;">
                                所有人头
                            </td>
                            <td style="width: 50%;">
                                @ZRenTou
                            </td>
                        </tr>
                        <tr style="border-right:1px solid #d6d6d6;">
                            <td style="width: 50%;">
                                总实人头
                            </td>
                            <td style="width: 50%;">
                                @Model.YouXiaoRenTou
                            </td>
                        </tr>
                        <tr style="border-right:1px solid #d6d6d6;">
                            <td style="width: 50%;">
                                总虚人头
                            </td>
                            <td style="width: 50%;">
                                @Model.XuRenTou
                            </td>
                        </tr>
                        @*<tr style="border-right:1px solid #d6d6d6;">
                                <td style="width: 50%;">
                                    总有效护理人头
                                </td>
                                <td style="width: 50%;">
                                    @Model.YouXiaoHuLiRenTou
                                </td>
                            </tr>
                            <tr style="border-right:1px solid #d6d6d6;">
                                <td style="width: 50%;">
                                    总虚护理人头
                                </td>
                                <td style="width: 50%;">
                                    @Model.XuHuLiRenTou
                                </td>
                            </tr>*@
                        <tr style="border-right:1px solid #d6d6d6;">
                            <td style="width: 50%;">
                                所有客流
                            </td>
                            <td style="width: 50%;">
                                @ViewBag.zskl
                                @*@Model.YouXiaoHuLiRenTou*@
                            </td>
                        </tr>
                        <tr style="border-right:1px solid #d6d6d6;">
                            <td style="width: 50%;">
                                总实客流
                            </td>
                            <td style="width: 50%;">
                                @Model.YouXiaoKeLiu
                            </td>
                        </tr>
                        <tr style="border-right:1px solid #d6d6d6;">
                            <td style="width: 50%;">
                                总虚客流
                            </td>
                            <td style="width: 50%;">
                                @Model.XuKeLiu
                            </td>
                        </tr>

                        <tr style="border-right:1px solid #d6d6d6;">
                            <td style="width: 50%;">
                                总护理人数
                            </td>
                            <td style="width: 50%;">
                                @RenTou
                            </td>
                        </tr>
                        <tr style="border-right:1px solid #d6d6d6;">
                            <td style="width: 50%;">
                                实护理人数
                            </td>
                            <td style="width: 50%;">
                                @Model.YouXiaoHuLiRenTou
                            </td>
                        </tr>
                        <tr style="border-right:1px solid #d6d6d6;">
                            <td style="width: 50%;">
                                虚护理人数
                            </td>
                            <td style="width: 50%;">
                                @Model.XuHuLiRenTou
                            </td>
                        </tr>

                        @*<tr style="border-right:1px solid #d6d6d6;">
            <td style="width: 50%;">
                审核客流
            </td>
            <td style="width: 50%;s">
                @Model.ShenHeKeLiu
            </td>
        </tr>*@
                    </tbody>
                </table>
            </div>
            <object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width="0" height="0">
                <embed id="LODOP_EM" type="application/x-print-lodop" width="0" height="0"></embed>
            </object>
        </div>
    </div>
</div>
<script type="text/javascript">
    var printtemp = '@PrintTemplate';

    $("#btnsumbit").click(function () {
        $("#txtTime").val(Math.random());
    })

    //打印
    var LODOP; //声明为全局变量
    function Preview1() {
        LODOP = getLodop(document.getElementById('LODOP_OB'), document.getElementById('LODOP_EM'));

        if (printtemp == 58) {
            //alert("我进了58打印!");
            Preview58();
        } else {
            //alert("我进了76打印!");
            Preview76();
        }
    };

    function Preview58() {
        // LODOP.PRINT_INITA(0, 0, 580, 333, "自定义纸张1");
        LODOP.PRINT_INIT("自定义纸张");
        //         document.getElementById('W1').value;
        LODOP.SET_PRINT_PAGESIZE(3, 580, 800, "A4");
        LODOP.SET_PRINTER_INDEXA(-1); //指定打印机
        LODOP.SET_PRINT_MODE("RESELECT_PAGESIZE", true);
        AddPrintContent();
        LODOP.PREVIEW();
    }

    function Preview76() {
        // LODOP.PRINT_INITA(0, 0, 580, 333, "自定义纸张1");
        LODOP.PRINT_INIT("自定义纸张");
        //         document.getElementById('W1').value;
        LODOP.SET_PRINT_PAGESIZE(3, 760, 800, "A4");
        LODOP.SET_PRINTER_INDEXA(-1); //指定打印机
        LODOP.SET_PRINT_MODE("RESELECT_PAGESIZE", true);
        AddPrintContent76();
        LODOP.PREVIEW();
    }


    function AddPrintContent() {
        LODOP.ADD_PRINT_HTM(15, 5, "100%", 20, "<div style='font-size:15px; text-align:center;'>" + $("#startTime").val() + "至" + $("#endtime").val() + "</div>");
        LODOP.ADD_PRINT_HTM(45, 5, "100%", 20, "<div style='font-size:16px; text-align:center;'>营业汇总</div>");

        LODOP.SET_PRINT_STYLE("FontName", "宋体");
        LODOP.SET_PRINT_STYLE("FontSize", 10);
        LODOP.SET_PRINT_STYLE("FontColor", 0);

        //订单详情
        var form1height = $("#printtab").height();
        LODOP.ADD_PRINT_HTM(98, 5, 580, form1height, document.getElementById("printtab").innerHTML);
        var trheight = 0;
    }

    function AddPrintContent76() {
        LODOP.ADD_PRINT_HTM(15, 5, "100%", 20, "<div style='font-size:16px; text-align:center;'>" + $("#startTime").val() + "至" + $("#endtime").val() + "</div>");
        LODOP.ADD_PRINT_HTM(45, 5, "100%", 20, "<div style='font-size:18px; text-align:center;'>营业汇总</div>");

        LODOP.SET_PRINT_STYLE("FontName", "宋体");
        LODOP.SET_PRINT_STYLE("FontSize", 13);
        LODOP.SET_PRINT_STYLE("FontColor", 0);

        //订单详情
        var form1height = $("#printtab1").height();
        LODOP.ADD_PRINT_HTM(98, 5, 760, form1height, document.getElementById("printtab1").innerHTML);
        var trheight = 0;
    }
</script>
