@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.ActivityEntity.BonusEmployeeEntity>
@{
    Layout = null;
}
<form action="" method="post" id="searchForm">
    <input type="hidden" value="" name="orderDirection" id="orderDirection" />
    <input type="hidden" value="" name="orderField" id="orderField" />
    <table class="gridTable" id="proudectList" style="height: auto; border-collapse: collapse;
    margin: 0px; width: 100%;" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>
                员工姓名
            </th>
            <th>
                分红类型
            </th>
            <th>
                分红
            </th>
            <th>
                关联员工
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody id="gridtbody">
        @foreach (var entity in Model)
        {
            <tr class="ableclick">
                <td>
                    @entity.UserName
                </td>
                <td>
                    <input type="hidden" value="@entity.RewardType" class="RewardType" />
                    @if (entity.RewardType == 1)
                    {<label>每笔单实收百分比</label>}
                    else {<label>每笔单固定金额</label>}
                </td>
                <td>
                    @entity.Reward
                    @if (entity.RewardType == 1)
                    {<label>%</label>}
                    else
                    {<label>元</label>}
                </td>
                <td>@entity.RelevanceNames
                </td>
                <td>
                    <a href="javascript:Openyuanlian(@entity.Id);">
                        关联员工
                    </a>
                    <a href="javascript:OpenDailogDetail('Edit',@entity.Id);">
                        编辑</a>
                 
                        <a href="javascript:;" onclick="DeleteData(@entity.Id)">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new { id = "badoopager" })
</form>
  <script type="text/javascript">
      $(function () {
          $("#sp").text('@Model.TotalItemCount');
      })
  </script>