@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.ActivityEntity.ActivityEntity>
@{
    Layout = null;
}
<form action="" method="post" id="searchForm">
<input type="hidden" value="" name="orderDirection" id="orderDirection" />
<input type="hidden" value="" name="orderField" id="orderField" />
<table class="gridTable" id="proudectList" style="height: auto; border-collapse: collapse;
    margin: 0px; width: 100%;" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>
                活动名称
            </th>
            <th>
                有效期
            </th>
            <th>
                面值
            </th>
            <th>
                可使用数
            </th>
            <th>
                可分享数
            </th>
            <th>
                不可重复领取
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            var listValue = entity.Id + "|" + entity.ActivityName + "|" + entity.Amount + "|" + entity.EnableCount + "|" + entity.ShareCount + "|" + entity.NewUserReceive + "|" + entity.NotRepeatReceive + "|" + entity.ValidityType + "|" + entity.Validity + "|" + entity.ValidityStartTime.ToString("yyyy-MM-dd") + "|" + entity.ValidityStartEnd.ToString("yyyy-MM-dd");
            <tr class="ableclick" id="@entity.Id"  code="@entity.ActivityName" listvalue="@listValue">
                <td>
                    @entity.ActivityName
                </td>
                <td>
                    @(entity.ValidityType == 1 ? "领取后"+entity.Validity + "天" : entity.ValidityStartTime.ToString("yyyy-MM-dd") + "至" + entity.ValidityStartEnd.ToString("yyyy-MM-dd"))
                </td>
                <td>
                    @entity.Amount
                </td>
                <td>
                    @entity.EnableCount
                </td>
                <td>
                    @entity.ShareCount
                </td>
                <td>
                    @(entity.NotRepeatReceive==1?"是":"否")
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new { id = "badoopager" })
</form>
