@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.PersonnelEntity.HospitalUserEntity>
@{
    ViewBag.Title = "_PersonnelManagePage";
}
<form action="@Url.Content("~/PersonnelManage/PersonnelSelectManagePage")" method="post" id="submitform" >
<input type="hidden" value="" name="orderDirection" id="orderDirection" />
<input type="hidden" value="" name="orderField" id="orderField" />
<table class="gridTable" style="border-collapse: collapse;">
    <thead>
        <tr>
            <th>
                选择
            </th>
            @* <th orderfield="">
                员工工号
            </th>*@
            <th orderfield="UserName">
                姓名
            </th>
            <th orderfield="Sex">
                性别
            </th>
            <th orderfield="IsDoctor">
                岗位
            </th>
            <th orderfield="Phone">
                联系方式
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var info in Model)
        {
            <tr>
                <td>
                    <input name="radioList" type="radio" code="@info.UserName" value="@info.UserID" />
                </td>
                @*<td>
                    @info.LoginAccount
                </td>*@
                <td>
                    @info.UserName
                </td>
                <td>
                    @info.Sex
                </td>
                <td>
                    @info.DutyName
                </td>
                <td>
                    @info.Phone
                </td>
            </tr>
        }
        @Html.Raw(HS.SupportComponents.NoRecord.NoRecords(Model.Count, 5))
    </tbody>
</table>
     @Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false,CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new MvcAjaxOptions { UpdateTargetId = "articles", HttpMethod = "Post", DataFormId = "searchForm" }, new { id = "badoopager" })

</form>
