@using Webdiyer.WebControls.Mvc;
@using EYB.ServiceEntity.PersonnelEntity;
@model PagedList<NoticeEntity>
@{
    ViewBag.Title = "PersonnelNoticeReciev";
    var orderField = ViewBag.orderField;
    var orderDirection = ViewBag.orderDirection;
    var Type = Request["Type"];
}

<div id="mainContentBody">
    @Html.Partial("_PersonnelNoticeControl")
    <div id="mainContentRight">
        <div class="mainContentRight_top">
         <label class="Soliddots">●</label>  搜索结果  (<span>@Model.TotalItemCount</span>)
        </div>
        <div class="mainContentRight_bottom">
            <form id="submitform" action="@Url.Content("~/PersonnelManage/PersonnelNoticeNoReciev")" class="formular clearfix" method="post" style="position: relative;">
              <input type="hidden" value="" name="orderDirection" id="orderDirection" />
            <input type="hidden" value="" name="orderField"  id="orderField"  />
            <table class="gridTable">
                <thead>
                    <tr>
                        <th style="width: 10px;">
                            <input type="checkbox"  id="check_box" onclick="selectall('ckbox')" />
                        </th>
                        <th orderfield="UserName">
                            发送人
                        </th>
                        <th orderfield="Title">
                            标题
                        </th>
                        <th orderfield="CreateTime">
                            发送时间
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var info in Model)
                    {
                        <tr>
                            <td style="width: 10px;">
                                <input type="checkbox" name="ckbox" code="@info.ID"/>
                            </td>
                            <td>@info.UserName
                            </td>
                            <td>@info.Title
                            </td>
                            <td>@info.CreateTime
                            </td>
                            <td>
                                <a href="javascript:;" onclick="Detail(@info.ID)">查看详情</a>
                            </td>
                        </tr>
                    }
                     @Html.Raw(HS.SupportComponents.NoRecord.NoRecords(Model.Count, 5))
                </tbody>
            </table>
            <div style="margin-top:20px;">
             <input type="button"  onclick="history.go(-1)" class="submitbutton1" value="返回" />
                <input type="button" id="btndelete" class="submitbutton2" value="删除" />
               
                </div>
            </form>
             @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new { id = "badoopager" })
        </div>
    </div>
</div>
<script type="text/javascript">
    //删除
    $("#btndelete").click(function () {

        if (confirm("确认删除吗？")) {
            var arr = new Object();
            $("input[name='ckbox']:checked").each(function (i) {
                arr[i] = $(this).attr("code");
            });
            $.ajax({
                type: "post", //使用get方法访问后台 
                dataType: "json", //返回json格式的数据
                url: getControllerUrl("PersonnelManage", "DeleteNotice"),
                data: { "ids": arr },
                success: function (data) {
                    if (data > 0) {
                        artdialog("删除成功！", "/PersonnelManage/SearchNotice");
                    } else {
                        artdialogfail("删除失败！");
                    }
                },
                error: function () {
                    alert("对不起！系统出错啦，我们会尽快跟踪处理的！");
                }
            });
        }
    })
    function Detail(id) {
        art.dialog.open("/PersonnelManage/PersonnelNoticeDetail?id=" + id + "&Type=4", { title: "通知详情", width: 550, height: 265 })
    }
</script>