@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.WarehouseEntity.StockOrderEntity>
    @{
        Layout = null;
        var allprice = ViewBag.AllPrice;
        var allnumber = ViewBag.AllNumber;
        var allchengben = ViewBag.allchengben;
        bool HasPermission = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.HospitalManager_Manage_仓库管理成本价);
        bool result = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.HospitalManager_Manage_仓库管理出库操作);
        var count = 0;
        if (HasPermission)
        {
            count = 1;
        }
        var b = ViewBag.UserID;
        var c = ViewBag.LoginAccount;
    }
    <form action="" method="post" id="searchForm">
        <input type="hidden" value="" name="orderDirection" id="orderDirection" />
        <input type="hidden" value="" name="orderField" id="orderField" />
        <table class="gridTable" id="proudectList" style="height: auto; border-collapse: collapse;
    width: 100%; margin-left: 5px;" cellpadding="0" cellspacing="0">
            <thead style="position:absolute;">
                <tr>
                    <th>
                        订单序号
                    </th>
                    <th>
                        订单编号
                    </th>
                    <th orderfield="">
                        出库时间
                    </th>
                    <th>
                        出库类别
                    </th>
                    <th>
                        出库数量
                    </th>
                    @if (HasPermission)
                    {
                        <th>
                            总计成本
                        </th>
                    }
                    <th>
                        总计金额
                    </th>
                    <th orderfield="">
                        操作人
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="height:35px;"></tr>
                @foreach (var entity in Model)
                {
                    <tr>
                        <td>
                            @entity.DocumentNumber
                        </td>
                        <td>
                            @if (result)
                            {
                                <a href="javascript:OpenDailogDetail(@entity.ID);">@entity.OrderNo</a>
                            }
                            else
                            {
                                @entity.OrderNo
                            }
                        </td>
                        <td>
                            @entity.OrderTime.ToString("yyyy-MM-dd HH:mm")
                        </td>
                        <td>
                            @EYB.Web.Code.PageFunction.GetClassName(entity.Class, entity.Type)
                        </td>
                        <td>
                            @entity.AllQuatity
                        </td>
                        @if (HasPermission)
                        {
                            <td>
                                @entity.AllChengBen
                            </td>
                        }
                        <td>
                            @entity.AllMoney
                        </td>
                        <td>
                            @entity.UserName
                        </td>
                        <td>
                            @if (result) 
                            {
                                if (entity.IsVerify == 2)
                                {
                                <label>
                                    已审核
                                </label>
                                }
                                else
                                {
                                <a href="javascript:OpenDailogDetail(@entity.ID);">审核</a>
                                }
                            }
                        </td>
                    </tr>

                }
            <tr>
                <td></td>
                <td>
                </td>
                <td>
                </td>
                <input type="hidden" value="@count" id="txtHasPermission" />
                <td>
                    统计:
                </td>
                <td class="txtallnumber">
                    @allnumber
                </td>
                @if (HasPermission)
                {
                    <td class="txtallchengben">
                        @allchengben
                    </td>
                }
                <td class="txtallprice">
                    @allprice
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
        @Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new MvcAjaxOptions { UpdateTargetId = "articles", HttpMethod = "Post", DataFormId = "searchForm" }, new { id = "badoopager" })
    </form>
    <script type="text/javascript">
        $(function () {

            //计算head高度，宽度 计算articles高度
            //var theadheight = $("#header").height() + $(".accountdiv").height();
            //$(".gridTable thead").css("top", theadheight + "px");

            let topHeight = $(".ullist").height() + 5;
            $(".gridTable thead").css("top", topHeight + "px");
            $('.mainContentRight_bottom').on('scroll', function () {
                let scrollHeight = $('.mainContentRight_bottom').scrollTop();
                let topHeight = $(".ullist").height() + 5;
                if (scrollHeight >= topHeight) {
                    $(".gridTable thead").css("top", topHeight + "px");

                } else {
                    $(".gridTable thead").css("top", topHeight + "px");
                }


            })
        })
    </script>
    <script src="/Scripts/ymx/commonTable.js"></script>
