@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.WarehouseEntity.CheckOrderEntity>
    @{
        Layout = null;
        var allprice = ViewBag.AllPrice;
        var allnumber = ViewBag.AllNumber;
        bool result = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.HospitalManager_Manage_仓库管理盘点操作);
    }
    <form action="" method="post" id="searchForm">
        <input type="hidden" value="" name="orderDirection" id="orderDirection" />
        <input type="hidden" value="" name="orderField" id="orderField" />
        <table class="gridTable" id="proudectList" style="height: auto; border-collapse: collapse;
    width: 100%; margin-left: 5px;" cellpadding="0" cellspacing="0">
            <thead style="position:absolute;width:99%;">
                <tr>
                    <th>
                        盘点序号
                    </th>
                    <th orderfield="">
                        盘点编号
                    </th>
                    <th>
                        账面数量
                    </th>
                    <th orderfield="">
                        实盘数量
                    </th>
                    <th>
                        盘盈数量
                    </th>
                    <th>
                        盘盈金额
                    </th>
                    <th>
                        盘亏数量
                    </th>
                    <th>
                        盘亏金额
                    </th>
                    <th>
                        盘点时间
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="height:39px;"></tr>
                @foreach (var entity in Model)
                {
                    <tr>
                        @if (entity.IsVerify == 2)
                        {
                            <td>
                                @entity.DocumentNumber
                            </td>
                            <td>
                                <a href="javascript:OpenDailogDetail(@entity.ID);">@entity.OrderNo</a>
                            </td>
                            <td>
                                @entity.ZhangMianQuatity
                        </td>
                        <td>
                            @entity.ShijiQuatity
                    </td>
                    <td>
                        @entity.PanYinQuatity
                </td>
                <td>
                    @entity.PanyinMoney
            </td>
            <td>
                @entity.PankuiQuatity
        </td>
        <td>
            @entity.PankuiMoeny
    </td>
    <td>
        @entity.CheckTime.ToString("yyyy-MM-dd")
    </td>
    <td>
        <label>
            已审核
        </label>
    </td>
}
else
{
    <td>
    </td>
    <td>
        @if (result)
        {
            <a href="javascript:OpenDailogDetail(@entity.ID);">@entity.OrderNo</a>
        }
        else
        {
            @entity.OrderNo
        }
    </td>
    <td>
        审核后可见
    </td>
    <td>
        审核后可见
    </td>
    <td>
        审核后可见
    </td>
    <td>
        审核后可见
    </td>
    <td>
        审核后可见
    </td>
    <td>
        审核后可见
    </td>
    <td>
        @entity.CheckTime.ToString("yyyy-MM-dd")
    </td>
    <td>
        @if (result)
        {

            <a href="javascript:OpenDailogDetail(@entity.ID);">编辑</a> <a href="#" onclick="CRK('@entity.ID')">
                审核
            </a>
        }
        </td>
}
                    </tr>

                }
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        统计
                    </td>
                    <td>
                        @allnumber
                </td>
                <td>
                    @allprice
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
@Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new MvcAjaxOptions { UpdateTargetId = "articles", HttpMethod = "Post", DataFormId = "searchForm" }, new { id = "badoopager" })
</form>
<script type="text/javascript">
       function CRK(obj) {
        if(!isNaN(obj)&& confirm("确认提交?")) {
            $.ajax({
                type: "post", //使用get方法访问后台
                dataType: "json", //返回json格式的数据
                url: getControllerUrl("WarehouseManage", "AddPandianRukuAndChuku?ID="+obj.toString()),
                data: $('#myform').serialize(),
                async: false,
                success: function (data) {
                    if (data > 0) {
                        artdialog("操作成功！", "@Url.Content("~/WarehouseManage/pandianList")");
                    }else{
                        artdialogfail("操作失败, "+data+" 没入库！");
                    }
                },
                error: function () {
                    artdialogfail("操作失败！");
                }
            });
        }
     }
</script>
<script type="text/javascript">
    $(function () {

        //计算head高度，宽度 计算articles高度
        
        $('.mainContentRight_bottom').on('scroll', function () {
            let scrollHeight = $('.mainContentRight_bottom').scrollTop();
            let topHeight = $(".ullist").height() + 5;
            if (scrollHeight >= topHeight) {
                $(".gridTable thead").css("top", topHeight + "px");

            } else {
                $(".gridTable thead").css("top", topHeight + "px");
            }


        })
    })
</script>
<script src="/Scripts/ymx/commonTable.js"></script>
