@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.WarehouseEntity.StockOrderInfo>
    @{
        Layout = null;
        var s = Request["StartTime"];
        var St = ViewData["St"] == null ? ViewBag.StartTime : ViewData["St"];
        var Et = ViewData["Et"] == null ? ViewBag.EndTime : ViewData["Et"];
        var ph = ViewData["ph"] == null ? ViewBag.ParentHospitalID : ViewData["ph"];
        var ap = ViewData["ap"] == null ? ViewBag.AllPrice : ViewData["ap"];
        var an = ViewData["an"] == null ? ViewBag.AllNumber : ViewData["an"];
        var aiq = ViewBag.AllInQuantity == null ? ViewData["aiq"] : ViewBag.AllInQuantity;    //入库总数量
        var aoq = ViewBag.AllOutQuantity == null ? ViewData["aoq"] : ViewBag.AllOutQuantity;  //出库总数量
        var aim = ViewBag.AllInMoney == null ? ViewData["aim"] : ViewBag.AllInMoney;//总入库金额(零售价计算)
        var aom = ViewBag.AllOutMoney == null ? ViewData["aom"] : ViewBag.AllOutMoney;//总出库金额(零售价计算)
        var cb = ViewBag.cb == null ? ViewData["cb"] : ViewBag.cb;//成本总额
        bool HasPermission = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.HospitalManager_Manage_进出仓汇总成本价);
    }
    <style>
        /*******表格********/
        .gridTable tbody {
            display: block;
        }

        .gridTable tr {
            display: block;
        }

        .gridTable th {
            width: 200px;
            line-height: 40px;
        }

        .gridTable td {
            width: 200px;
        }
    </style>
    <form action="" method="post" id="searchForm">
        <input type="hidden" value="" name="orderDirection" id="orderDirection" />
        <input type="hidden" value="" name="orderField" id="orderField" />
        <table class="gridTable" id="proudectList" style="height: auto; border-collapse: collapse;overflow: scroll;" "
               cellpadding="0" cellspacing="0">
            <thead style="display: block; position: absolute;">
                <tr>
                    <th orderfield="">
                        仓库
                    </th>
                    <th>
                        单据列表
                    </th>
                    <th orderfield="">
                        单据类型
                    </th>
                    <th>
                        单据分类
                    </th>
                    <th>
                        原因
                    </th>
                    <th>
                        品牌
                    </th>
                    <th>
                        产品名称
                    </th>
                    <th>
                        数量
                    </th>
                    @if (HasPermission)
                    {
                        <th>
                            成本价
                        </th>
                    }
                    <th>
                        零售单价
                    </th>
                    <th>
                        合计金额
                    </th>
                    @if (HasPermission)
                    {
                        <th>
                            成本总额
                        </th>
                    }
                    <th>
                        业务日期
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="height: 40px;"></tr>
                @foreach (var entity in Model)
                {
                    <tr>
                        <td>
                            @entity.Housename
                        </td>
                        <td>
                            <a href="javascript:OpenDailogDetail(@entity.StockOrderID);">@entity.StockOrderNo</a>
                        </td>
                        <td>
                            @EYB.Web.Code.PageFunction.OrderType(entity.OrderType)
                        </td>
                        <td>
                            @EYB.Web.Code.PageFunction.GetClassName(entity.Class, entity.OrderType)
                        </td>
                        <td>
                            @EYB.Web.Code.PageFunction.GetBaseName(entity.BaseID, ph)
                        </td>
                        <td>
                            @entity.BrandName
                        </td>
                        <td>
                            @entity.ProductName
                        </td>
                        <td>
                            @entity.Number
                        </td>
                        @if (HasPermission)
                        {
                            <td>
                                @entity.CostPrice
                            </td>
                        }
                        <td>
                            @entity.RetailPrice
                        </td>
                        <td>
                            @(entity.Number * entity.RetailPrice)
                        </td>
                        @if (HasPermission)
                        {
                            <td>
                                @(entity.CostPrice * entity.Number)
                            </td>
                        }
                        <td>
                            @entity.OrderTime.ToString("yyyy-MM-dd hh:MM:ss")
                        </td>
                    </tr>

                }
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        合计：
                    </td>
                    <td>
                        @an
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        @ap
                    </td>
                    @if (HasPermission)
                    {
                        <td>
                            @cb
                        </td>
                    }
                    <td>
                    </td>
                </tr>
                @Html.Raw(HS.SupportComponents.NoRecord.NoRecords(Model.Count, 9))
            </tbody>
        </table>
        @Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new MvcAjaxOptions { UpdateTargetId = "articles", HttpMethod = "Post", DataFormId = "searchForm" }, new { id = "badoopager" })
    </form>
    <script type="text/javascript">
    $(function () {
        $("#sp").text('@Model.TotalItemCount');
        //计算head高度，宽度 计算articles高度
        var theadheight = $("#header").height() + 60 + $(".accountdiv").height();
        //$(".gridTable thead").css("top", theadheight + "px");
        $(".gridTable thead").css("width", (getDocumentWidth() - $("#mainContentLeft").width() - 30) + "px");
       $("#showmessage").css("display", "none");
    })
    </script>
    <script src="/Scripts/ymx/commonTable.js"></script>
