@{
    ViewBag.Title = "盘点";
    Layout = null;
    WarehouseManage.Factory.IBLL.IWarehouseManageBLL wareBll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<WarehouseManage.Factory.IBLL.IWarehouseManageBLL>();
    SystemManage.Factory.IBLL.ISystemManageBLL sysBll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<SystemManage.Factory.IBLL.ISystemManageBLL>();
    PersonnelManage.Factory.IBLL.IPersonnelManageBLL personBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<PersonnelManage.Factory.IBLL.IPersonnelManageBLL>();
    //查询门店美容师
    IList<EYB.ServiceEntity.PersonnelEntity.HospitalUserEntity> persoList = personBLL.GetAllUserByHospitalID(ViewBag.HospitalID, 0);
    persoList = persoList.Where(i => i.IsSys != 1).ToList();
    //var thetype = sysBll.GetBaseInfoTreeByType("WarehouseIn", 1, ViewBag.ParentHospitalID);//类型分类
    var cangku = wareBll.GetWarehouseList(new EYB.ServiceEntity.WarehouseEntity.WarehouseEntity { HospitalID = ViewBag.HospitalID });//获取仓库列表
}
<link href="@Url.Content("~/Content/themes/default/style.css")?v=1.2" rel="stylesheet" type="text/css" media="screen" />
<link href="@Url.Content("~/Content/themes/css/core.css")?v=1.1" rel="stylesheet" type="text/css" media="screen" />
<link href="../../Content/themes/css/validationEngine.jquery.css" rel="stylesheet"
    type="text/css" />
<link href="../../Content/themes/css/template.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/common.js")" type="text/javascript"></script>
<!--表格-->
<script src="@Url.Content("~/Scripts/Common/table.js")" type="text/javascript"></script>
<!--弹出框-->
<script src="../../Scripts/Jquery/plugins/artDialog/artDialog.js?skin=blue" type="text/javascript"></script>
<script src="../../Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
<!--日期-->
<script src="../../Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<body style="background: #fff;">
    <form method="post" action="#" id="myform2">
    <span style="height: 40px; width: 100%; line-height: 40px;">
    @*当前仓库：
        <select name="HouseID" id="HouseID">
            @foreach (var i in cangku)
            { 
                <option value="@i.ID">@i.Name</option>
            }
        </select>*@
           <input type="button" class="submitbutton4" onclick="ProductList()" value="选择盘点产品"
            style="width: 100px; margin: 5px;" />
        &nbsp;&nbsp;&nbsp; 盘点人:
        <select name="UserID">
            @foreach (var j in persoList)
            { 
                <option value="@j.UserID">@j.UserName</option>
            }
        </select>
     
        &nbsp;&nbsp;&nbsp; 备注:<input type="text" name="Memo" />
    </span>
    <div id="divaddpandian" style=" overflow:auto;">
    <table class="gridTable" style="border-collapse: collapse; width: 98%;  margin-left: 10px;">
        <thead>
            <tr >
                <th>
                    产品名称
                </th>
                <th>
                    品牌
                </th>
                <th>
                    单价
                </th>
                <th>
                    账面数量
                </th>
                <th>
                    实盘数量
                </th>
               <th>
                    盘盈数量
                </th>
                <th>
                    盘盈金额
                </th>
                <th>
                    盘亏数量
                </th>
                <th>
                    盘亏金额
                </th>
                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody id="warebody">
        </tbody>
    </table>
    </div>
    <div class="accountdiv" style="width:100%;">
        <label style="font-weight: normal; line-height: 40px;">
            &nbsp;&nbsp;账面数量：</label><label id="labcash0" class="labamout0">0</label>
        <label style="font-weight: normal;">
            实际数量：</label><label id="labcash1" class="labcash1">0</label>
       @* <label style="font-weight: normal; line-height: 40px;">
            &nbsp;&nbsp;盘亏数量：</label><label id="labcash2" class="labcash2">0</label>
        <label style="font-weight: normal;">
            盘亏金额：</label>
        <label id="labcash3" class="labcash3">
            0</label>*@
    </div>
    <table class="mainContentRight_table ">
        <tr>
            <td class="tdright">
            </td>
            <td>
                <input type="button" id="btn" value="保  存" class="submitbutton2" />
                <input type="button" onclick="history.go(-1)"  value="返 回" class="submitbutton2" />
            </td>
        </tr>
    </table>
    </form>
</body>
<script type="text/javascript">
    $(function () {
        $("#divaddpandian").height($(document).height() - 150);
    })
    //接收产品
    function ProductList() {
        var house = $("#HouseID").val();
        if (house == "0") {
            artdialogfail("请选择仓库", "", "250", "100");
            return false;
        }

        art.dialog.open("/WarehouseManage/kucunChanpin?houseid=" + house, { title: "盘点产品列表", width: 660, height: 470, close: function () {
            var bValue = art.dialog.data('bValueProduct'); // 读取B页面的数据
            if (bValue != undefined && bValue != '') {
                //这里添加一个绑定方法
                pdbind(bValue);
            }
        }
        })
    }
    //接受产品的方法
    function pdbind(obj) {
        var arraylist = new Array();
        arraylist = obj.split('$');
        var idlist = '';
        var kucunIDlist = '';
        $.each(arraylist, function (n, value) {
            if (value.split('|')[1] != '' && value.split('|')[1] != undefined) {
                idlist = idlist + value.split('|')[1] + ",";
                kucunIDlist = kucunIDlist + value.split('|')[0] + ",";
            }
        })

        $.ajax({
            type: "POST",
            url: getControllerUrl("WarehouseManage", "GetAllpandianList?idlist=" + idlist + "&kucunIDlist=" + kucunIDlist),
            async: false,
            error: function (request) {
                artdialogfailTwo("操作失败！", "", "250", "100");
            },
            success: function (data) {
                if (data != null) {
                    //$("#warebody").empty();
                    //这里是填写内容
                    $("#warebody").append(data);
                } else {
                    artdialogfailTwo("操作失败,！", "", "250", "100");
                }
            }
        });
    }
    //添加实盘数量自动更新其他数据
    $("#warebody").delegate(".InventoryNumber", "keyup", function () {
        var val = $(this).val(); //获取实盘数量
        var price = $(this).parent().parent().find(".price").text();  //获取单价
        var BookNumber = $(this).parent().parent().find(".BookNumber").text(); //获取账面数量
        var pankui = parseFloat(BookNumber) - parseFloat(val); //盘亏数量
        var panying = parseFloat(val) - parseFloat(BookNumber); //赢盘数量
        if (pankui > 0) {
            panying = 0; //如果盘亏大于0,则表示是盘亏,盘盈则为0;
        }
        if (panying > 0)
        { pankui = 0; }
        var pakkuiprice = parseFloat(pankui) * parseFloat(price); //盘亏金额
        var panyingprice = parseFloat(panying) * parseFloat(price); //盘盈金额

        $(this).parent().parent().find(".MoreNumber").text(panying);
        $(this).parent().parent().find(".LessNumber").text(pankui);
        $(this).parent().parent().find(".LessPrice").text(pakkuiprice);
        $(this).parent().parent().find(".MorePrice").text(panyingprice);

        allmunbercount();
    })
    //删除功能的实现
    $("#warebody").delegate(".delthis", "click", function () {
        if (confirm('确实要删除吗?')) {
            $(this).parent().parent().remove();
            allmunbercount();
        }
        
    })
    //保存
    $("#btn").click(function () {
        //$("#btn").attr("disabled", "disabled");     //给当前元素加上不可操作功能

        if (yanzheng()) {
            artdialogfailTwo("请选择产品！", "", "250", "100");
            $("#btn").attr("disabled", false);
            return false;
        }

        $.ajax({
            type: "POST",
            url: getControllerUrl("WarehouseManage", "AddPandian"),
            async: false,
            data: $('#myform2').serialize(), // 你的formid
            error: function (request) {
                artdialogfailTwo("操作失败！", "", "250", "100");
                $("#btn").attr("disabled", false); //吧提交按钮还原
            },
            success: function (data) {
                if (data > 0) {
                    artdialog("操作成功！", "/WarehouseManage/PandianList", "250", "100");
                }
            }
        });
        
    })

    function yanzheng() {
        var Idinfo = $("#warebody").find("input[name='ID']");
        var result = false;
        if (Idinfo.length == 0) {
            result = true;
        }
        return result;
    }

    function allmunbercount() {
        var shipan = $("#warebody").find(".InventoryNumber"); //获取实盘数量
        var pankui = $("#warebody").find(".LessNumber"); //盘亏数量(text)
        var pankuipeice = $("#warebody").find(".LessPrice"); //盘亏金额(text)
        var zhangmian = $("#warebody").find(".BookNumber"); //账面数量

        var shipannumber = 0;
        shipan.each(function () {
            shipannumber = parseFloat(shipannumber) + parseFloat($(this).val());
        })

        var pankuinumber = 0;
        pankui.each(function () {
            pankuinumber = parseFloat(pankuinumber) + parseFloat($(this).text());
        })

        var allpankuipeice = 0;
        pankuipeice.each(function () {
            allpankuipeice =parseFloat(allpankuipeice) + parseFloat($(this).text());
        })

        var allzhangmian = 0;
        zhangmian.each(function () {
            allzhangmian = parseFloat(allzhangmian) + parseFloat($(this).text())
        })

        $("#labcash0").text(allzhangmian);
        $("#labcash1").text(shipannumber);
        $("#labcash2").text(pankuinumber);
        $("#labcash3").text(allpankuipeice);



    }

</script>
