@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.BaseInfo.ProductEntity>
@{
    ViewBag.Title = "产品管理";
    Layout = null;
    WarehouseManage.Factory.IBLL.IWarehouseManageBLL wareBll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<WarehouseManage.Factory.IBLL.IWarehouseManageBLL>();

    var brandlist = wareBll.GetBrandListNoPage(ViewBag.ParentHospitalID);//获取品牌列表
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="@Url.Content("~/Content/themes/css/core.css")?v=1.1" rel="stylesheet" type="text/css" media="screen" />
<link href="../../Content/themes/css/template.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="../../Scripts/Jquery/plugins/artDialog/artDialog.js" type="text/javascript"></script>
<script src="../../Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
</head>
<body style="background: #fff;">
    
        @using (Ajax.BeginForm("PdList", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
        {
            <table width="100%" cellspacing="0" class="search-form">
                <tbody>
                    <tr>
                        <td>
                            <div class="explain-col">
                                <label class="labelspan">
                                    名称</label>
                                <input type="text" id="Name" name="Name" value="" style="width: 100px; height: 26px;
                                    line-height: 26px; float: left;" />
                                <label class="labelspan">
                                    品牌</label>
                                <select name="BrandID" style="width: 96px; height:26px; line-height:26px; margin-bottom:8px;" class="select">
                                    <option value="0">=选择品牌=</option>
                                    @foreach (var info in brandlist)
                                    {
                                        <option value="@info.ID">@info.Name</option>
                                    }
                                </select>
                                <input type="hidden" value="@DateTime.Now.Ticks" name="t" id="txtTime" />
                                <input type="submit" id="btnsearch" name="search" class="submitbutton4" value="搜 索" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        <div id="articles" class="mainContentRight_bottom" style="height: 350px; 
            margin-top: 5px; width: 100%;">
            @Html.Partial("_PdList", Model)
        </div>
        @{Html.RegisterMvcPagerScriptResource();}
        <script src="../../Scripts/Jquery/plugins/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
        <div style="margin: 20px; margin-left: 0px;" class="clearfix">
            <input type="button" class="submitbutton2" value="确 定" onclick="FullValue()" />
            <input class="submitbutton2" type="button" onclick="closeed()" value="取 消" /></div>
    
</body>
</html>
<script type="text/javascript">
    $("#articles").delegate("tr.ableclick", "click", function () {
//        var $chekbox = $(this).find("input:checkbox");
//        if ($chekbox.prop("checked") == false) {
//            $chekbox.attr("checked", "checked");
//            $(this).css("background", "#E7F6FF");
//        } else {
//            $chekbox.attr("checked", false);
//            $(this).css("background", "");
//        }

    });
    $("#articles").delegate("input:checkbox", "click", function () {
//        if ($(this).prop("checked") == false) {
//            $(this).attr("checked", "checked");
//            $(this).parent().parent().css("background", "#E7F6FF");
//        } else {
//            $(this).attr("checked", false);
//            $(this).parent().parent().css("background", "");
//        }
    });
    $("#Name").keyup(function () {
        $("#btnsearch").click();
        $("#txtTime").val(Math.random());
        //document.getElementById("searchForm").submit();
    });
    $("#articles").delegate("tr.ableclick", "dblclick", function () {
        $(this).find("input:checkbox").attr("checked", "checked");
        FullValue();
    });
    //确定选择按钮
    function FullValue() {
        var value = "";
        $("input[name='radioList']:checked").each(function (i) {
            value += $(this).val();
        });

        if (value == undefined) {
            alert("请选择产品");
            return false;
        }
        art.dialog.data('bValueProduct', value); // 存储数据
        art.dialog.close();
    }
    //关闭
    function closeed() {
        art.dialog.data('bValueProduct', ''); // 存储数据
        art.dialog.open.api.close();
    }
</script>
