@using EYB.ServiceEntity.WarehouseEntity;
@using WarehouseManage.Factory.IBLL;
@using EYB.ServiceEntity.WarehouseEntity;
@model PagedList<WarehouseAnalysisEntity>
@{
    ViewBag.Title = "WarehouseAnalysis";
    var orderField = ViewBag.orderField;
    var orderDirection = ViewBag.orderDirection;
    IWarehouseManageBLL wareBll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IWarehouseManageBLL>();
    var brandlist = wareBll.GetBrandListNoPage(ViewBag.ParentHospitalID);    
}
<div id="mainContentBody">
    @Html.Partial("_WarehouseManageControl")
    <div id="mainContentRight">
        <div class="mainContentRight_top">
            <label class="Soliddots">
            </label>全店仓库分析(<span id="sp">@Model.TotalItemCount</span>)
        </div>
        <div class="mainContentRight_bottom clearfix overflowhidden" style="position: relative;"
            id="mainContentRight_bottom">
            <div class="mainContentRight">
                <div class="toolbar" style="padding: 0px;">
                    <div class="box-wrap">
                        <div class="l-list">
                            @using (Ajax.BeginForm("WarehouseAnalysis", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
                            {
                                <input type="hidden" value="" name="orderDirection" id="orderDirection" />
                                <input type="hidden" value="" name="orderField" id="orderField" />
                                <div class="accountdiv ullist" style="margin-bottom: 0px;">
                                    <ul>
                                        <li>
                                            <label style="font-weight: normal;">
                                                所属品牌：</label>
                                            <select name="BrandID" id="BrandID" class="select ymxSelect" >
                                                <option value="0">全部</option>
                                                @foreach (var info in brandlist)
                                                {
                                                    <option  value="@info.ID">@info.Name</option>
                                                }
                                            </select>
                                        </li>
                                        <li>
                                            <label style="font-weight: normal;">
                                                产品名称：</label>
                                            <input type="text" name="Name" id="Name" class="text-input ymxInput " style="" value="" />
                                        </li>
                                        <li>
                                            <input type="hidden" value="@DateTime.Now.Ticks" name="t" id="txtTime" />
                                            <input type="submit" class="submitbutton2 ymxButtonMT" id="btnsearch" style="float: none;" value="查 询" />

                                        </li>
                                        <li> <input type="submit" class="submitbutton2 ymxButtonMT" id="btnSave" style="float: none;" value="导 出" /></li>
                                    </ul>
                                    <div style="clear: both;">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div id="articles" class="" style="overflow: auto; margin-top: 5px; width: 100%;">
                    @Html.Partial("_WarehouseAnalysis", Model)
                </div>
                @{Html.RegisterMvcPagerScriptResource();}
                <script src="../../Scripts/Jquery/plugins/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
            </div>
        </div>
    </div>
 <div id="showmessage" style="display: none; width: 220px; height: 140px; position: fixed;
        top: 300px; left: 650px; color: Red; margin: 0 auto; text-align: center;">
        <img src="../../Content/themes/images/loading.gif" width="100" />
        <p style="text-align: center; height: 30px; line-height: 30px;">
            正在努力查询中，请稍后...</p>
    </div>
</div>
<script type="text/javascript">
    $("#btnsearch").click(function () {
        $("#showmessage").css("display", "");
        $("#txtTime").val(Math.random());
    })
//    $("#Name").keyup(function () {
//        $("#btnsearch").click();
//        $("#showmessage").css("display", "");
//        //document.getElementById("searchForm").submit();
//    });
    $(function () {
        $("th[orderField='@orderField']").addClass("@orderDirection");
        if (window.PIE) {
            $('.rounded').each(function () {
                PIE.attach(this);
            });
        }
        var docheight = getDocumentHeight() - $("#header").height() - $("#footer").height() + 15;
        $("#articles").height(docheight - 150);
    });
    //导出
    $("#btnSave").click(function () {
        let txtAllQuatity = document.querySelector("#txtAllQuatity").innerText
        let txtAllMoney = document.querySelector("#txtAllMoney").innerText
         let txtAllChengben = document.querySelector("#txtAllChengben").innerText
        var BrandID = $("#BrandID").val();
        var ProductName = $("#Name").val();
        var url = getControllerUrl("WarehouseManage", "ExportWarehouseAnalysis") + "?pageNum=1&numPerPage=10000&Name=" + ProductName + "&txtAllQuatity=" + txtAllQuatity + "&txtAllMoney=" + txtAllMoney + "&txtAllChengben=" + txtAllChengben + "&BrandID=" + BrandID;
        window.location.href = url;
    });
</script>