@using EYB.ServiceEntity.WarehouseEntity;
@using WarehouseManage.Factory.IBLL;
@using EYB.ServiceEntity.WarehouseEntity;
@model PagedList<ProductStockEntity>
@{
    ViewBag.Title = "库存查询";
    //  var ProductType = Request["ProductType"];
    //IBaseinfoBLL baseinfoBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IBaseinfoBLL>();
    IWarehouseManageBLL wareBll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IWarehouseManageBLL>();
    var parentHospitalID = Common.Manager.LoginHospitalUserManager.GetLoginInfo().ParentHospitalID;//获取当前用户的父点ID
    var cangku = wareBll.GetAllWarehouseListByParentHospitalID(new EYB.ServiceEntity.WarehouseEntity.WarehouseEntity { ParentHospitalID = ViewBag.ParentHospitalID });//获取仓库列表

    var orderField = ViewBag.orderField;
    var orderDirection = ViewBag.orderDirection;

    var Name = ViewBag.Name;
    var HouseID = ViewBag.HouseID;
    var EndTime = ViewBag.EndTime;
    var StartTime = ViewBag.StartTime;

    var aiq = ViewBag.AllInQuantity;    //入库总数量
    var aoq = ViewBag.AllOutQuantity;  //出库总数量
    var aim = ViewBag.AllInMoney;//总入库金额(零售价计算)
    var aom = ViewBag.AllOutMoney;//总出库金额(零售价计算)

    var data = new ViewDataDictionary();
    data.Add("st", StartTime);
    data.Add("et", EndTime);
    data.Add("aiq", aiq);
    data.Add("aoq", aoq);
    data.Add("aim", aim);
    data.Add("aom", aom);

    //获取品牌列表
    IList<BrandEntity> brandlist = new List<BrandEntity>();
    brandlist = wareBll.GetBrandListNoPage(parentHospitalID);
   
}
<div id="mainContentBody">
    @Html.Partial("_WarehouseManageControl")
    <div id="mainContentRight">
        <div class="mainContentRight_top">
            <label class="Soliddots">
                ●</label>进出仓汇总(<span id="sp">@Model.TotalItemCount</span>)
        </div>
        <div class="mainContentRight_bottom clearfix" style="position: relative;" id="mainContentRight_bottom">
            <div class="mainContentRight condition">
                @using (Ajax.BeginForm("WarehouseSummaryPage", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
                {
                    <div class="accountdiv ullist" style="margin-bottom: 0px;">
                        <ul>
                            @*产品名称：
                    <input type="text" name="ProductName" id="ProductName" class="text-input " style="height:20px;" value="@Name" />*@
                            <li>
                                <label style="font-weight: normal;">
                                    仓库名称:</label>
                                <select name="HouseID" id="HouseID" class="" style="">
                                    <option value="0">请选择仓库</option>
                                    @foreach (var house in cangku)
                                    { 
                                        <option @(HouseID == house.ID ? "selected=selected" : "") value="@house.ID">@house.Name</option>
                                    }
                                </select>
                            </li>
                            <li>
                                <label style="font-weight: normal;">
                                    品牌:</label>
                                <select name="BrandID" id="BrandID" style="width: 96px;" class="">
                                    <option value="0">=选择品牌=</option>
                                    @foreach (var info in brandlist)
                                    {
                                        <option value="@info.ID">@info.Name</option>
                                    }
                                </select>
                            </li>
                            <li>
                                <label style="font-weight: normal;">
                                    开始时间:</label>
                                <input type="text" name="StartTime" id="StartTime" value="@StartTime" class="text-input Wdate input130" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                            </li>
                            <li>
                                <label style="font-weight: normal;">
                                    结束时间:</label><input type="text" name="EndTime"  id="EndTime" value="@EndTime" class="text-input Wdate input130" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                            </li>
                            <li>
                                <input type="submit" class="submitbutton2" id="btnsearch" style="float: none;" value="查 询" />
                            </li>
                            <li>
                                <input type="submit" class="submitbutton2" id="btnSave" style="float: none;" value="导 出" />
                            </li>
                        </ul>
                        <div style="clear: both;">
                        </div>
                    </div>
                }
                <div id="articles" class="" style="overflow: hidden; margin-top: 5px; width: 100%;">
                    @Html.Partial("_WarehouseSummary", Model, data)
                </div>
                @{Html.RegisterMvcPagerScriptResource();}
                <script src="../../Scripts/Jquery/plugins/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //导出
    $("#btnSave").click(function () {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var BrandID = $("#BrandID").val();
        var HouseID = $("#HouseID").val();
        var url = getControllerUrl("WarehouseManage", "ExportWarehouseSummary") + "?pageNum=1&numPerPage=10000&BrandID=" + BrandID + "&StartTime=" + StartTime + "&EndTime=" + EndTime + "&EndTime=" + EndTime + "&HouseID=" + HouseID";
        window.location.href = url;
    });

    $("#Name").keyup(function () {
        $("#btnsearch").click();
        //document.getElementById("searchForm").submit();
    });

    $(function () {
        $("th[orderField='@orderField']").addClass("@orderDirection");
        if (window.PIE) {
            $('.rounded').each(function () {
                PIE.attach(this);
            });
        }
    });

</script>
