@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.CashEntity.SellingProductAndProjectEntity>
    @{
        ViewBag.Title = "";
        Layout = null;
    }
    <div id="showmessage" style=" display:none;width:220px; height:140px; position:fixed; top:300px; left:650px; color:Red;  margin:0 auto; text-align:center;">
        <img src="../../Content/themes/images/loading.gif" width="100" />
        <p style=" text-align:center; height:30px;line-height:30px;">
            正在努力查询中，请稍后...
        </p>
    </div>
    <form>
        <table class="gridTable" style="border-collapse: collapse; width: 99%;">
            <thead>
                <tr>
                    <th orderfield="">
                        门店
                    </th>
                    <th orderfield="">
                        品项
                    </th>
                    <th orderfield="">
                        品牌
                    </th>
                    <th orderfield="">
                        分类
                    </th>
                    <th orderfield="">
                        数量
                    </th>
                    <th orderfield="">
                        金额
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entity in Model)
                {
                    <tr>
                        <td>@entity.HospitalName</td>
                        <td>@entity.ProductOrProjectName</td>
                        <td>@entity.BrandName</td>
                        <td>@entity.ProductTypeName</td>
                        <td>@entity.SaleNumber</td>
                        <td>@entity.SalePrice</td>
                    </tr>
                }

                @Html.Raw(HS.SupportComponents.NoRecord.NoRecords(Model.Count, 6))
            </tbody>
        </table>
        @Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new MvcAjaxOptions { UpdateTargetId = "articles", HttpMethod = "Post", DataFormId = "searchForm" }, new { id = "badoopager1" })
    </form>
