@model PagedList<EYB.ServiceEntity.CashEntity.MainCardBalanceEntity>
@{
    ViewBag.Title = "Cardinfo_In";
    Layout = null;
    int i = 1;

    //CashManage.Factory.IBLL.ICashManageBLL cashBll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<CashManage.Factory.IBLL.ICashManageBLL>();
    //var UserID = Request["UserID"];
    //var chongzhilist = cashBll.GetChongZhiList(Model).Where(c => c.UserID == UserID);
}
<link href="@Url.Content("~/Content/themes/css/core.css")?v=1.1" rel="stylesheet" type="text/css" media="screen" />
<link href="../../Content/themes/css/template.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="../../Scripts/Jquery/plugins/artDialog/artDialog.js" type="text/javascript"></script>
<script src="../../Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
<script src="../../Scripts/Common/common.js" type="text/javascript"></script>
<body style="background:#fff;" >
    <div >
        <table class="gridTable"  style="border-collapse:collapse ;width:100%; ">
            <thead>
                <tr>
                    <th>排序</th>
                    <th>时间</th>
                    <th>单据号</th>
                    <th>金额</th>
                    @*<th>美容师</th>*@
                </tr>
            </thead>
            <tbody id="tb">
                  @foreach (var info in Model)
                  {
                    <tr>
                        <td>@(i++)</td>
                        <td>@info.BuyCardTime.ToString("yyyy-MM-dd")</td>
                        <td><a href="#" onclick="OpenOrderDetail('@info.OrderNo')">@info.OrderNo</a></td>
                        <td>@info.Price</td>
                        @*<td>@info.UserName</td>*@
                    </tr>
                      @*foreach (var list in chongzhilist)
                      {
                          <tr>
                              <td>@(i++)</td>
                              <td>@list.BuyCardTime.ToString("yyyy-MM-dd")</td>
                              <td><a href="###" onclick="OpenOrderDetail('@info.OrderNo')">@info.OrderNo</a></td>
                              <td>@info.Price</td>
                          </tr>
                      }*@
                  }
                  @Html.Raw(HS.SupportComponents.NoRecord.NoRecords(Model.Count, 5))
            </tbody>
            <tfoot>
                <tr>
                  <td></td>
                  <td></td>
                    <td >合计:</td>
                    <td>@ViewBag.SumNum </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>




