@{
    var UserID = Request["UserID"];
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <link href="@Url.Content("~/Content/themes/default/style.css")?v=1.2" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/themes/css/core.css")?v=1.1" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../Content/themes/css/validationEngine.jquery.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/themes/css/template.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/common.js")" type="text/javascript"></script>
    <!--Panel-->
    <script src="@Url.Content("~/Scripts/Common/dwz.panel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/dwz.effects.js")" type="text/javascript"></script>
    <!--表格-->
    <script src="@Url.Content("~/Scripts/Common/table.js")" type="text/javascript"></script>
    <!--表单验证-->
    <script src="../../Scripts/Jquery/plugins/jquery.validationEngine-zh_CN.js" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/jquery.validationEngine.js" type="text/javascript"></script>
    <!--日期-->
    <script src="../../Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <!--弹出框-->
    <script src="../../Scripts/Jquery/plugins/artDialog/artDialog.js?skin=blue" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
    </head>
<body style=" overflow:hidden;background:#fff;padding:10px; " >
<form action="" method="post" class="clearfix" name="myform" id="myform" >
<input type="hidden" name="UserID" id="UserID" value="@UserID"/><!-- 顾客ID-->

    <div class="mainContentRight_bottomContent" style="overflow-x:hidden;">
        <div id="tabbox" style="position:relative;">
             <ul class="tabs" id="tabs">
                        <li><a href="###" tab="tab1">顾客到店率</a></li>
                        <li><a href="###" tab="tab2">消费排行</a></li>
                    @*    <li><a href="###" tab="tab3">储值卡销售</a></li>
                        <li><a href="###" tab="tab4">项目销售</a></li>*@
                     
                        <li><a href="###" tab="tab6">卡项结余</a></li>
                         <li><a href="###" tab="tab7">欠款汇总</a></li>
                            <li><a href="###" tab="tab5">消费汇总</a></li>
                      
                    </ul>
            <a href="@Url.Content("~/PatientManage/Patientanalyse")" title="缩小" style=" display:block;width:28px; top:0px; position:absolute;right:20px; height:28px; background:url(../../Content/themes/images/fullscreen_alt.png);background-size:100% 100%;"></a>
            <ul id="tab_conbox" class="tab_conbox" >
                        <li id="tab1" class="tab_con" style=" height:100%;">
                             <iframe src="@Url.Content("~/PatientManage/PatientstatisticsDaodian?UserID=")@UserID" href="@Url.Content("~/PatientManage/PatientstatisticsDaodian?UserID=")@UserID" frameborder="0" style="width:100%; style=" height:100%;" ">
                            </iframe>
                        </li>
                        <li id="tab2" class="tab_con" style="display: none;">
                          
                             <iframe id="PatientDetailPage" src="" href="@Url.Content("~/PatientManage/PatientstatisticsCashxiaofei?UserID=")@UserID" frameborder="0" style="width:100%;  ">
                            </iframe>
                        </li>
                       @* <li id="tab3" class="tab_con"  style="display: none;">
                         <iframe src="" href="@Url.Content("~/PatientManage/PatientstatisticsCardxiaoshou?UserID=")@UserID" frameborder="0" style="width:100%; ">
                            </iframe>
                        </li>
                        <li id="tab4" class="tab_con"  style="display: none;">
                         <iframe src="" href="@Url.Content("~/PatientManage/PatientstatisticsProjectxiaoshou?UserID=")@UserID" frameborder="0" style="width:100%; ">
                            </iframe>
                        </li>*@
                     
                         <li id="tab6" class="tab_con"  style="display: none;">
                         <iframe href="@Url.Content("~/PatientManage/PatientstatisticsCardShengyu?UserID=")@UserID" src="" frameborder="0" style="width:100%; ">
                            </iframe>
                        </li>

                        <li id="tab7" class="tab_con"  style="display: none;">
                         <iframe href="@Url.Content("~/PatientManage/PatientstatisticsQianKuan?UserID=")@UserID" src="" frameborder="0" style="width:100%; ">
                            </iframe>
                        </li>
                          <li id="tab5" class="tab_con"  style="display: none;">
                         <iframe href="@Url.Content("~/PatientManage/PatientstatisticsAllxiaofei?UserID=")@UserID" src="" frameborder="0" style="width:100%; ">
                            </iframe>
                        </li>
                    </ul>
        </div>
    </div>

</form>
</body>
</html>
<script type="text/javascript">


    jQuery(document).ready(function () {
      //  $(".mainContentRight_bottom").css("height", getDocumentHeight());
        $("iframe").height(getDocumentHeight()-90);
        //Tab切换
        $("#tabs  li").click(function () {
            $("#tabs li").removeClass("thistab");
            $(this).addClass("thistab");
            $(".tab_con").hide();
            var index = $(this).parent().find("li").index(this);
            $("#tab_conbox").find(".tab_con").eq(index).show();
            var iframe1 = $("#tab_conbox").find(".tab_con").eq(index).find("iframe");
            iframe1.attr("src", iframe1.attr("href"));
        });
        $("#tabs li:first").addClass("thistab").show();
    });
  
</script>
