@{
    ViewBag.Title = "_BaseInfoControl";
    //
    bool result1 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.SystemManager_TheProject);
    bool result2 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.SystemManager_TheProduct);
    bool result3 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.SystemManager_CardBusiness);
    bool result4 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.SystemManager_BasicInformation);
    bool result5 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.SystemManager_PersonnelManagePage);
    bool result6 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.SystemManager_UserManagePage);
    bool result7 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.SystemManager_UserSettings);
    bool result8 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.SystemManager_HospitalDetail);
    bool result9 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.SystemManager_CompetenceManage);
    bool result11 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.SystemManager_Liaochengka);
    bool result10 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.CenterManage_DataClear);
    bool result12 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.CenterManage_DataImport);
    bool result13 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.SystemManager_salaryStructure);

}
<style></style>

<div id="mainContentLeft">
    <div id="mainContentLeft_top">
       <span>系统设置</span>
    </div>
    @* <div id="mainContentLeft_center">
            <ul>
                <li onclick='CheckRight(this,"@result1")' redirect="@Url.Content("~/BaseInfo/TheProject")?Type=add"><a  href="javascript:;" ><img width='129' height='110' src='../../Content/themes/images/depart1.png'   /><label>项目管理</label></a></li>
                <li onclick='CheckRight(this,"@result2")' redirect="@Url.Content("~/BaseInfo/TheProduct")" style="margin-left:20px;"><a  href="javascript:;" ><img width='129' height='110' src='../../Content/themes/images/depart2.png'   /><label>产品管理</label></a></li>
            </ul>
        </div>*@
    <div id="mainContentLeft_bottom">
        <ul>
            @if (result1)
            {
                <li redirect="@Url.Content("~/BaseInfo/TheProject")" onclick='CheckRight(this,"@result1")'>
                    <a>
                        <span class="list_icon"></span>&nbsp;&nbsp;
                        项目管理

                    </a>
                </li>
            }
            @if (result2)
            {
                <li redirect="@Url.Content("~/BaseInfo/TheProduct")" onclick='CheckRight(this,"@result2")'>
                    <a style="cursor: pointer; ">
                        <span class="list_icon">

                        </span>&nbsp;&nbsp;
                        产品管理

                    </a>
                </li>
            }
            @if (result3)
            {
                <li redirect="@Url.Content("~/BaseInfo/Chuzhika")" onclick='CheckRight(this,"@result3")'>
                    <a style="cursor: pointer; ">
                        <span class="list_icon">
                        </span>&nbsp;&nbsp;
                        储值卡管理
                    </a>
                </li>
            }
            @if (result11)
            {
                <li redirect="@Url.Content("~/BaseInfo/LiaoChengKa")" onclick='CheckRight(this,"@result11")'>
                    <a style="cursor: pointer; ">
                        <span class="list_icon">
                        </span>&nbsp;&nbsp;
                        疗程卡管理
                    </a>
                </li>
            }
            @if (result4)
            {
                <li redirect="@Url.Content("~/BaseInfo/BasicInformation")" onclick='CheckRight(this,"@result4")'>
                    <a style="cursor: pointer; ">
                        <span class="list_icon">
                        </span>&nbsp;&nbsp;
                        基础字典设置
                    </a>
                </li>
            }
            @if (result5)
            {
                <li redirect="@Url.Content("~/PersonnelManage/PersonnelManagePage")" onclick='CheckRight(this,"@result5")'>
                    <a style="cursor: pointer; ">
                        <span class="list_icon">
                        </span>&nbsp;&nbsp;员工列表
                    </a>
                </li>
            }
            @if (result6)
            {
                <li redirect="@Url.Content("~/BaseInfo/SysUserpage")" onclick='CheckRight(this,"@result6")'>
                    <a style="cursor: pointer; ">
                        <span class="list_icon">
                        </span>&nbsp;&nbsp;系统用户
                    </a>
                </li>
            }
            @if (result7)
            {
                <li redirect="@Url.Content("~/BaseInfo/UserSettings")" onclick='CheckRight(this,"@result7")'>
                    <a style="cursor: pointer; ">
                        <span class="list_icon">
                        </span>&nbsp;&nbsp;系统参数
                    </a>
                </li>
            }
            @if (result8)
            {
                <li redirect="@Url.Content("~/BaseInfo/HospitalDetail")" onclick='CheckRight(this,"@result8")' style=" display:none;">
                    <a style="cursor: pointer; ">
                        <span class="list_icon">
                        </span>&nbsp;&nbsp;门店信息
                    </a>
                </li>
            }
            
            @if (result9)
            {
                <li redirect="@Url.Content("~/BaseInfo/SysUserManage")" onclick='CheckRight(this,"@result9")'>
                    <a style="cursor: pointer; ">
                        <span class="list_icon">
                        </span>&nbsp;&nbsp;权限组管理
                    </a>
                </li>
            }
            @*@if (result9)
            {
                <li redirect="@Url.Content("~/BaseInfo/CompetenceManage")" onclick='CheckRight(this,"@result9")'>
                    <a style="cursor: pointer; ">
                        <span class="list_icon">
                        </span>&nbsp;&nbsp;权限组管理
                    </a>
                </li>
            }*@

            @if (result12)
            {
                <li redirect="@Url.Content("~/BaseInfo/DataImport")" onclick='CheckRight(this,"@result12")'>
                    <a style="cursor: pointer; ">
                        <span class="list_icon">
                        </span>&nbsp;&nbsp;数据导入
                    </a>
                </li>
            }
            <li>
                <a onclick="JumpUrl('@Url.Content("~/BaseInfo/PersonnelDetail")?UserID=@ViewBag.UserID')">
                    <span class="list_icon"></span>&nbsp;&nbsp;账号信息

                </a>
            </li>
            <li>
            <a onclick="JumpUrl('@Url.Content("~/BaseInfo/PersonnelAccount")?UserID=@ViewBag.UserID')">
                <span class="list_icon"></span>&nbsp;&nbsp;系统安全

            </a>
        </li>

            @if (result13)
            {
                <li>
                    <a onclick="JumpUrl('@Url.Content("~/BaseInfo/salaryStructure")?UserID=@ViewBag.UserID')">
                        <span class="list_icon"></span>&nbsp;&nbsp;薪资架构
                    </a>
                </li>
            }

        </ul>
    </div>
</div>
<script type="text/javascript">
    //登录回车事件
    $(document).keydown(function (event) {
        if (event.keyCode == 13 || event.keyCode == 32) {
            if ($.trim($(".searchInput").val()) != "" && $(".searchInput").val() != "搜索") {
                document.getElementById("submitform").submit();
            }
        }
    });

    //定义权限列表，主要为了显示默认有权限的页面
    var TheArray = [["@result1", "@Url.Content("~/BaseInfo/TheProject")"], ["@result2", "@Url.Content("~/BaseInfo/TheProduct")"], ["@result3", "@Url.Content("~/BaseInfo/ChuZhika")"], ["@result4", "@Url.Content("~/BaseInfo/BasicInformation")"], ["@result5", "@Url.Content("~/BaseInfo/PersonnelManagePage")"], ["@result6", "@Url.Content("~/BaseInfo/UserManagePage")"], ["@result7", "@Url.Content("~/BaseInfo/UserSettings")"], ["@result8", "@Url.Content("~/BaseInfo/HospitalDetail")"], ["@result9", "@Url.Content("~/BaseInfo/CompetenceManage")"], ["@result10", "@Url.Content("~/CenterManage/DataClear")"], ["@result11", "@Url.Content("~/BaseInfo/LiaoChengKa")"]];


</script>
