@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.BaseInfo.ProductEntity>
@{
    Layout = null;
}
<form  action="" method="post" id="searchForm"  >
<input type="hidden" value="" name="orderDirection" id="orderDirection" />
<input type="hidden" value="" name="orderField" id="orderField" />
<table class="gridTable" style="height: auto; border-collapse: collapse; margin: 0px;width:100%;" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>
                选择
            </th>
            <th>
                产品名称
            </th>
            <th>
                品牌
            </th>
            <th>
                零售价
            </th>
               <th>
                库存
            </th>
            
            <th>
                所属类别
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            var listValue = entity.ID + "|" + entity.Name + "|" + entity.RetailPrice + "|" + entity.CostPrice + "|" + entity.BrandName + "|" + entity.UseUnit +"|" + entity.StandardUnitName + "$";
            <tr class="ableclick">
                <td>
                    @*<input name="radioList" type="radio" value="@listValue" />*@
                    <input type="checkbox" name="radioList" value="@listValue" />
                </td>
                <td>
                    @entity.Name
                </td>
                <td>
                    @entity.BrandName
                </td>
                <td>
                    @entity.RetailPrice
                </td>
                  <td>
                    @entity.Quatitys
                </td>
                <td>
                    @entity.ProductTypeName
                </td>
            
            </tr>
        }
    </tbody>
</table>
@Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new MvcAjaxOptions { UpdateTargetId = "articles", HttpMethod = "Post", DataFormId = "searchForm" }, new { id = "badoopager" })
</form>



