@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.BaseInfo.MainCardEntity>
@{
    Layout = null;
}
<form action="" method="post" id="searchForm">
<input type="hidden" value="" name="orderDirection" id="orderDirection" />
<input type="hidden" value="" name="orderField" id="orderField" />
  <table class="gridTable " style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th >
                        卡名称
                    </th>
                    <th >
                        有效期
                    </th>
                    <th >
                        购卡金额
                    </th>
                    <th>
                        卡类型
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (EYB.ServiceEntity.BaseInfo.MainCardEntity entity in Model)
                { 
                    <tr>
                        <td>@entity.Name
                        </td>
                        <td>@entity.VaildityDay
                        </td>
                        <td>@entity.Price
                        </td>
                        <td>@entity.CardTypename
                        </td>
                        <td>
                            <a target="_top"  href="@Url.Content("~/BaseInfo/EditProgramCard")?Type=Edit&ID=@entity.ID">
                                编辑</a>&nbsp; <a></a><a onclick="delit(@entity.ID, this)">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
         @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new { id = "badoopager" })
</form>
