@model PagedList<EYB.ServiceEntity.PersonnelEntity.HospitalUserEntity>
    @{
        ViewBag.Title = "系统用户";
        Layout = null;
        PersonnelManage.Factory.IBLL.IPersonnelManageBLL personbll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<PersonnelManage.Factory.IBLL.IPersonnelManageBLL>();
        var hospitalList = personbll.GetHospitalListByParentID(ViewBag.ParentHospitalID);
        //获取区域门店
        var RegionhospitalList = personbll.GetRegionHospitalListByHospitaId(ViewBag.HospitalID);
    }
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <link href="@Url.Content("~/Content/themes/default/style.css")?v=1.2" rel="stylesheet" type="text/css" media="screen" />
        <link href="@Url.Content("~/Content/themes/css/core.css")?v=1.1" rel="stylesheet" type="text/css" media="screen" />
        <link href="../../Content/themes/css/validationEngine.jquery.css" rel="stylesheet"
              type="text/css" />
        <link href="../../Content/themes/css/template.css" rel="stylesheet" type="text/css" />
        <script src="../../Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Common/common.js")" type="text/javascript"></script>
        <!--表格-->
        <script src="@Url.Content("~/Scripts/Common/table.js")" type="text/javascript"></script>
        <!--日期-->
        <script src="../../Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
        <!--弹出框-->
        <script src="../../Scripts/Jquery/plugins/artDialog/artDialog.js?skin=blue" type="text/javascript"></script>
        <script src="../../Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
    </head>
    <body style="background: #fff;">
        @using (Ajax.BeginForm("AppUserPage", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
        {   <input type="hidden" value="@DateTime.Now.Ticks" name="T" id="txtTime" />
        <div class="accountdiv ullist" style="height:40px;">
            <ul>
                <li>
                    <label style="font-weight: normal;">
                        所属分店：
                    </label>
                    <select id="HospitalID" name="HospitalID" class="select ymxSelect" style="">

                        @if (RegionhospitalList.Count > 0)
                        {
                            foreach (var info in RegionhospitalList)
                            {
                                <option @(ViewBag.HospitalID == info.HospitalID ? "selected='selected'" : "")=) value="@info.HospitalID">@info.Name</option>
                            }
                        }
                        else
                        {
                            foreach (var info in hospitalList)
                            {
                                <option @(ViewBag.HospitalID == info.ID ? "selected='selected'" : "")=) value="@info.ID">@info.Name</option>
                            }
                        }
                    </select>
                </li>
                <li>
                    <div class="explain-col">
                        <label class="labelspan">
                            名称
                        </label>
                        <input type="text" id="UserName" name="UserName" value="" class="inputtext ymxInput" />

                    </div>
                </li>
                <li>
                    <label style="font-weight: normal;">
                        是否正常：
                    </label>
                    <select name="IsActive" class="ymxSelect">
                        <option value="-1">全部</option>
                        <option selected="selected" value="1">正常</option>
                        <option value="0">已删除</option>
                    </select>
                </li>
                <li>
                    <input type="submit" id="btnsearch" name="search" class="submitbutton2" style="float: none;margin-top:5px;" value="搜 索" />
                </li>
            </ul>


        </div>
        }
        <div id="articles" class="mainContentRight_bottom" style="margin-top: 5px; width: 98%; overflow:auto;">
            @Html.Partial("_AppUserPage", Model)
        </div>
    </body>
</html>
<script type="text/javascript">
    $("#btnsearch").click(function () {
        $("#txtTime").val(Math.random());
    })
    function DelUser(obj) {
        if (confirm("确认删除此系统用户?")) {
            $.ajax({
                type: "post", //使用get方法访问后台
                dataType: "json", //返回json格式的数据
                url: getControllerUrl("PersonnelManage", "DeleteDepartment"),
                data: { "UserID": obj },
                success: function (data) {
                    if (data > 0) {
                        artdialog("删除成功！", "/BaseInfo/AppUserPage");
                    } else {
                        artdialogfail("删除失败！");
                    }
                },
                error: function () {
                    artdialogfail("对不起！系统出错啦，我们会尽快跟踪处理的！");
                }
            });
        }

    }

    function RestoreUser(obj) {
        if (confirm("确认启用此系统用户?")) {
            $.ajax({
                type: "post", //使用get方法访问后台
                dataType: "json", //返回json格式的数据
                url: getControllerUrl("PersonnelManage", "RestoreDepartment"),
                data: { "UserID": obj },
                success: function (data) {
                    if (data > 0) {
                        artdialog("启用成功！", "/BaseInfo/AppUserPage");
                    } else {
                        artdialogfail("启用失败！");
                    }
                },
                error: function () {
                    artdialogfail("对不起！系统出错啦，我们会尽快跟踪处理的！");
                }
            });
        }

    }


    //微信绑定
    function Weixinbind(userID) {
        art.dialog.open("@Url.Content("~/WeiXinhelp/WeiXinBindForYuangong?UserID=")" + userID, { title: "微信绑定", width: 550, height: 450 });
    }

    //微信解绑
    function WeixinbindRemove(userID) {
        if (confirm("确定解绑?解绑后需要用户再次微信扫描绑定方可绑定!")) {
            $.ajax({
                type: "post", //使用get方法访问后台
                dataType: "json", //返回json格式的数据
                url: "/PersonnelManage/HospitalUserWeixinbindRemove",
                data: { "UserID": userID },
                async: false,
                success: function (data) {
                    if (data > 0) {
                        alert("解绑成功!");
                        location = location;
                        //location.href = location.href;
                    } else {
                        alert("解绑失败!");
                    }
                },
                error: function () {
                    alert("支付失败！");
                }
            });


        }

    }

</script>

<script>
    $(function () {
        let acHeight = $(window).height() - $("#footer").height() - $(".mainContentRight_top").height() - $("#header").height();
        $("#articles").css("height", acHeight + "px");
    })
</script>

</EYB.ServiceEntity.PersonnelEntity.HospitalUserEntity>