@using BaseinfoManage.Factory.IBLL;
@using SystemManage.Factory.IBLL;
@using EYB.ServiceEntity.CashEntity;
@using HS.SupportComponents;
@using EYB.ServiceEntity.BaseInfo;
@using EYB.ServiceEntity.SystemEntity;
@using WarehouseManage.Factory.IBLL;
@using EYB.ServiceEntity.WarehouseEntity;
@{
    var type = Request["Type"];
    var id = Request["ID"];
    Layout = null;
    ProductEntity entity = new ProductEntity();
    IBaseinfoBLL baseinfoBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IBaseinfoBLL>();
    IWarehouseManageBLL wareBll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IWarehouseManageBLL>();
    ISystemManageBLL sysBll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<ISystemManageBLL>();

    if (!String.IsNullOrEmpty(id))
    {
        entity = baseinfoBLL.GetModel(ConvertValueHelper.ConvertIntValue(id));//获取单个产品实体类
    }
    var ParentHospitalID = ViewBag.ParentHospitalID;//总门店ID

    var brandlist = wareBll.GetBrandListNoPage(ParentHospitalID);//获取品牌列表
    var typelist = wareBll.GetProductTypeNoPage(ParentHospitalID, 2);//获取产品分类列表
    var supplierlist = wareBll.GetSupplierList(new SupplierEntity { HospitalID = ParentHospitalID });//获取供应商列表
    List<BaseinfoEntity> guigelist = new List<BaseinfoEntity>();
    guigelist = sysBll.GetBaseInfoTreeByType("ProductSpecification", 1, ParentHospitalID);//获取规格分类

    ViewBag.Title = "编辑产品";
    if (type.ToUpper() == "ADD")
    {
        entity.SellEndTime = DateTime.Now.AddYears(10);
        entity.ValidDay = 1000;
    }
    bool HasPermission = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.HospitalManager_Manage_产品管理);

}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache,   must-revalidate" />
    <meta http-equiv="expires" content="Wed,   26   Feb   1997   08:21:57   GMT" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <!--位置不能颠倒，否则影响样式-->
    <link href="@Url.Content("~/Content/themes/default/style.css")?v=1.21" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/themes/css/core.css")?v=1.21" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../Content/themes/css/validationEngine.jquery.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/themes/css/template.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/common.js")" type="text/javascript"></script>
    <!--Panel-->
    <script src="@Url.Content("~/Scripts/Common/dwz.panel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/dwz.effects.js")" type="text/javascript"></script>
    <!--表格-->
    <script src="@Url.Content("~/Scripts/Common/table.js")" type="text/javascript"></script>
    <!--表单验证-->
    <script src="../../Scripts/Jquery/plugins/jquery.validationEngine-zh_CN.js" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/jquery.validationEngine.js" type="text/javascript"></script>
    <!--日期-->
    <script src="../../Scripts/My97DatePicker/WdatePicker.js?v=1.2" type="text/javascript"></script>
    <!--弹出框-->
    <script src="../../Scripts/Jquery/plugins/artDialog/artDialog.js?skin=blue" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
    <script src="../../Scripts/Common/wbox-min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/timeticket.js?v=1.4")" type="text/javascript"></script>
</head>
<body style="background: #fff;">
    <div id="mainContentBody">
        <div class="mainContentRight_bottom clearfix" style="position: relative;" id="mainContentRight_bottom">
            <div class="mainContentRight" style="margin-top: 20px;">
                <form id="myform" action="@Url.Content("~/BaseInfo/ProductAddOrEdit")" class="clearfix" method="post"  >
                    <table class="mainContentRight_table ">
                        <tr>
                            <td class="tdright">
                                <span class="red">*&nbsp;</span>产品名称
                            </td>
                            <td>
                                <input type="hidden" value="@entity.ID" name="ID" />
                                @if (type.ToLower() == "detail")
                                {
                                    @entity.Name
                                }
                                else
                                {
                                    <input type="text" name="Name" id="txtName" value="@entity.Name" class="validate[required] text-input input130" />
                                }
                            </td>
                            <td class="tdright">
                                <span class="red">*&nbsp;</span>零售价
                            </td>
                            <td>
                                @if (type.ToLower() == "detail")
                                {
                                    @entity.RetailPrice
                                }
                                else
                                {
                                    <input type="text" name="RetailPrice" id="txtRetailPrice" value="@entity.RetailPrice" class="validate[custom[number]] text-input input200" />
                                }
                            </td>
                        </tr>

                        <tr>
                            <td class="tdright">
                                <span class="red">*&nbsp;</span>所属类别
                            </td>
                            <td>
                                <div class="selectdiv" style="width: 100px; float: left;">
                                    <select name="ProductType" id="ProductType" style="width:96px;" class="select" @(type.ToLower() == "detail" ? "disabled='disabled'" : "")=)>
                                        <option value="0">=选择分类=</option>
                                        @foreach (var info in typelist)
                                        {
                                            <option @(info.ID == entity.ProductType ? "selected=selected" : "")=) value="@info.ID">@info.Name</option>
                                        }
                                    </select>
                                </div>
                                <a href="#" style="float: left; display: block; margin-top: 10px;" onclick="AddCategory()">
                                    添加类别
                                </a>
                            </td>
                            <td class="tdright">
                                <span class="red">*&nbsp;</span>品牌
                            </td>
                            <td>
                                <div class="selectdiv" style="width: 100px; float: left;">
                                    <select name="BrandID" id="BrandID" style="width:96px;" class="select" @(type.ToLower() == "detail" ? "disabled='disabled'" : "")=)>
                                        <option value="0">=选择品牌=</option>
                                        @foreach (var info in brandlist)
                                        {
                                            <option @(info.ID == entity.BrandID ? "selected=selected" : "")=) value="@info.ID">@info.Name</option>
                                        }
                                    </select>
                                </div>
                                <a href="#" style="float: left; display: block; margin-top: 10px;" onclick="AddBrank()">
                                    添加品牌
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdright">
                                <span class="red">*&nbsp;</span>基础类别
                            </td>
                            <td>
                                <select id="selBaseType" name="BaseType" style="width: 150px;" class="select">
                                    <option @(entity.BaseType == 1 ? "selected=selected" : "")=) value="1">常规产品</option>
                                    <option @(entity.BaseType == 2 ? "selected=selected" : "")=) value="2">特殊产品</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdright">
                                产品编码
                            </td>
                            <td>
                                @if (type.ToLower() == "detail")
                                {
                                    @entity.ProductCode
                                }
                                else
                                {
                                    <input type="text" name="ProductCode" value="@entity.ProductCode" class="text-input input130" />
                                }
                            </td>
                            <td class="tdright">
                                有效期
                            </td>
                            <td>
                                @if (type.ToLower() == "detail")
                                {
                                    @entity.ValidDay
                                }
                                else
                                {
                                    <input type="text" name="ValidDay" style="width:90px;" id="txtValidDay" class="validate[custom[number]]" value="@entity.ValidDay" />
                                }
                                天
                            </td>
                        </tr>
                        <tr>
                            <td class="tdright">
                                容量
                            </td>
                            <td>
                                @if (type.ToLower() == "detail")
                                {
                                    @entity.UseUnit
                                }
                                else
                                {
                                    <input type="text" name="UseUnit" style="width:90px;" id="txtUseUnit" value="@entity.UseUnit" class="text-input input200 validate[custom[number]]" />
                                }
                            </td>
                            <td class="tdright">
                                规格
                            </td>
                            <td>
                                <select name="StandardUnit" id="txtStandardUnit" class="select" @(type.ToLower() == "detail" ? "disabled='disabled'" : "")=)>
                                    @foreach (var info in guigelist)
                                    {
                                        <option @(info.ID == entity.StandardUnit ? "selected=selected" : "")=) value="@info.ID">@info.InfoName</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdright">
                                可用天数
                            </td>
                            <td>
                                @if (type.ToLower() == "detail")
                                {
                                    @entity.AbleUseDay
                                }
                                else
                                {
                                    <input type="text" name="AbleUseDay" style="width:90px;" id="AbleUseDay" value="@entity.AbleUseDay" class="text-input input200 validate[custom[number]]" />
                                }
                                天
                            </td>
                            @* 汪 *@
                            <td></td>
                            <td></td>
                            @*<td class="tdright">
                销售截止时间
            </td>
            <td>
                @if (type.ToLower() == "detail")
                {
                    @entity.SellEndTime
                }
                else
                {

                    <input type="text" name="SellEndTime" value="@entity.SellEndTime.ToString("yyyy-MM-dd")" class=" Wdate input130" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"
            id="SellEndTime" style="width: 130px" />
                }
            </td>*@
                            @* 汪 *@
                        </tr>
                        @if (HasPermission)
                        {
                            <tr style="">
                                <td class="tdright">
                                    成本价
                                </td>
                                <td>
                                    @if (type.ToLower() == "detail")
                                    {
                                        @entity.CostPrice
                                    }
                                    else
                                    {
                                        <input type="text" name="CostPrice" id="txtCostPrice" value="@entity.CostPrice" class="text-input input200" />
                                    }
                                </td>
                            </tr>
                        }
                        @{
                            if (ViewBag.HospitalID == 2||ViewBag.HospitalID == 1017)
                            {
                                <tr>
                                    <td class="tdright"> 积分抵扣：</td>
                                    <td> <input type="text" name="Proportion" value="@entity.Proportion" class="text-input input130" /></td>

                                </tr>
                            }
                        }
                        <tr>
                            <td class="tdright">
                                说明
                            </td>
                            <td colspan="3">
                                @if (type.ToLower() == "detail")
                                {
                                    @entity.Memo
                                }
                                else
                                {

                                    <textarea rows="4" name="Memo" cols="40" class="textarea" @(type.ToLower() == "detail" ? "readonly='readonly'" : "")=)>@entity.Memo</textarea>
                                }
                            </td>
                        </tr>
                        <tr style="height: 60px;">
                            <td class="tdright">
                            </td>
                            <td class="clearfix" colspan="3">
                                @if (type.ToLower() == "detail")
                                {
                                    <a href="@Url.Content("~/BaseInfo/EditProduct")?Type=Edit&ID=@entity.ID" class="submitbutton3">
                                        编 辑
                                    </a>
                                    <input type="button" onclick="closeedNorefresh()" class="submitbutton2" value="关 闭" />
                                }
                                else
                                {
                                    <input type="submit" id="btnsave" class="submitbutton2" value="保 存" style="float: left;" />
                                    <input type="button" onclick="closeedNorefresh()" class="submitbutton2" value="关 闭" />
                                }
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
   function AddBrank(){
    art.dialog.open("/BaseInfo/AddBrank", { title: "添加品牌", width: 560, height: 470});
   }
    function AddCategory(){
    art.dialog.open("/BaseInfo/AddCategory?type=2", { title: "添加类别", width: 560, height: 470});
   }
   $('#txtName').keyup(function () {
       var re = /[\\\/:\*\?"\<\>\|]/; //只允许输入数字和大小写字母
       if (re.test($("#txtName").val())) {
           alert("请勿输入非法字符");
           $("#txtName").val("");
           return false;
       }
   });
    //提交操作
    function saveAs(){
        $("#btnsave").attr("disabled", "disabled");
        //$("#txtName").val($("#txtName").val().trim());
         if($("#txtName").val()=="" || $("#txtRetailPrice").val()=="")
         {
            $('#myform').submit();
            artdialogfail("名称/金额不能为空！","","250");
             $("#btnsave").attr("disabled", false); 
            return;
         }
        
            if($("#ProductType").val()=="0")
         {
               artdialogfail("分类必许要选择！","","250");
                $("#btnsave").attr("disabled", false); 
               return false;
         }
          if($("#BrandID").val()=="0")
         {
               artdialogfail("品牌必许要选择！","","250");
                $("#btnsave").attr("disabled", false); 
               return false;
          }
          //var reg = /^\d+$|^\d*\.\d+$/g;
          //if (!reg.test($("#txtCostPrice").val()) || $("#txtCostPrice").val()<0) {
          //    artdialogfail("成本价格必须为整数和合法字符", "", "250");

          //    $("#btnsave").attr("disabled", false);
          //    return false;
          //}
          var reg = /^\d+$|^\d*\.\d+$/g;
          if (!reg.test($("#txtRetailPrice").val()) || $("#txtRetailPrice").val() < 0) {
              artdialogfail("零售价必须为整数和合法字符", "", "250");
              $("#btnsave").attr("disabled", false);
              return false;
          }
          //if ($("#txtUseUnit").val() <=0) {
          //    artdialogfail("容量必须大于0！", "", "250");
          //    $("#btnsave").attr("disabled", false);
          //    return false;
          //}
          //if ($("#txtCostPrice").val() <= 0) {
          //    artdialogfail("成本价必须大于0！", "", "250");
          //    $("#btnsave").attr("disabled", false);
          //    return false;
          //}
          //if ($("#txtRetailPrice").val() <= 0) {
          //    artdialogfail("零售价必须大于0！", "", "250");
          //    $("#btnsave").attr("disabled", false);
          //    return false;
          //}
        //汪
     //有效期为正整数
          var reg = /^[0-9]*[0-9][0-9]*$/;
          if (!reg.test($("#txtValidDay").val())) {
              artdialogfail("有效期必须为整数！", "", "250");
              $("#btnsave").attr("disabled", false);
              return false;
          }
     //可用天数为正整数
          var reg = /^[0-9]*[0-9][0-9]*$/;
          if (!reg.test($("#AbleUseDay").val())) {
              artdialogfail("间隔天数必须为整数！", "", "250");
              $("#btnsave").attr("disabled", false);
              return false;
          }
     //汪

        $.ajax({
            cache: true,
            type: "POST",
            url: "@Url.Content("~/BaseInfo/ProductAddOrEdit?Type=")@type",
            data: $('#myform').serialize(), // 你的formid
            async: false,
            error: function (request) {
                 artdialogfailTwo("操作失败！","","250","100");
                  $("#btnsave").attr("disabled", false); 
            },
            success: function (data) {
             if(data>0){
                 alert("保存成功!");
                 window.top.location.reload();
                closeedNorefresh(); 
               }else if(data=-1){
                  artdialogfail("名称重复,请重新填写名称","","250","100");
                   $("#btnsave").attr("disabled", false); 
               }else
               {
                artdialogfailTwo("操作失败,！","","250","100");
                 $("#btnsave").attr("disabled", false); 
               }
            }
        });
     }

    jQuery(document).ready(function(){
        jQuery('#myform').validationEngine('attach', {
            promptPosition: "topLeft",
            relative: true,
            showOneMessage: true,
            overflownDIV: ".mainContentRight",
            onValidationComplete: function(form, status){
                if(status)
                {
                saveAs();
                }
        }
        });
      
    });

</script>
</html>
