@using EYB.ServiceEntity.BaseInfo;
@using BaseinfoManage.Factory.IBLL;
@using WarehouseManage.Factory.IBLL;
@using EYB.ServiceEntity.WarehouseEntity;
@using EYB.ServiceEntity.SystemEntity;
@model PagedList<ProjectEntity>
    @{
        ViewBag.Title = "项目列表";
        IWarehouseManageBLL wareBll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IWarehouseManageBLL>();

        var orderName = ViewBag.orderName;
        //var oederProductType = ViewBag.oederProductType;

        var orderField = ViewBag.orderField;
        var orderDirection = ViewBag.orderDirection;

        var brandlist = wareBll.GetBrandListNoPage(ViewBag.ParentHospitalID);
        var caretypelist = wareBll.GetProductTypeNoPage(ViewBag.ParentHospitalID, 1);//获取项目分类列表
                                                                                     // DateTime.Now.Millisecond
        bool HasPermissionPhone = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.TransferofworkManager_查看手机号);//设置隐藏顾客的也是用这个权限
        bool HasPermission = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.HospitalManager_Manage_产品管理);
        var dateresult = ViewBag.result1;
    }
    <div id="mainContentBody">
        @Html.Partial("_BaseInfoControl")
        <div id="mainContentRight">
            <div class="mainContentRight_top">
                <label class="Soliddots">
                </label>医学&nbsp;(<span id="sp">@Model.TotalItemCount</span>) &nbsp;<a href="javascript:OpenDailogDetail('ADD',0);"
                                                                                      class="addbutton">新建</a>
            </div>
            <div class="mainContentRight_bottom clearfix" style="position: relative; height: auto; overflow:hidden;"
                 id="">
                <div class="mainContentRight">
                    @using (Ajax.BeginForm("TheProject", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
                    {
                        <input type="hidden" value="@ViewBag.orderDirection" name="orderDirection" id="orderDirection" />
                        <input type="hidden" value="@ViewBag.orderField" name="orderField" id="orderField" />
                        <div class="accountdiv" style="margin-bottom: 0px;">
                            <input type="hidden" value="@DateTime.Now.Ticks" name="T" id="txtTime" />
                            服务项目：<input type="text" name="Name" id="Name" class="text-input input130" value="@orderName" />
                            &nbsp; 负责人:
                            <select name="ProjectType" id="ProjectType" class="ymxSelect">
                                <option value="0">请选择分类</option>

                                @*@foreach (var info in caretypelist)
                                    {
                                        <option value="@info.ID">@info.Name</option>
                                    }*@
                                @*<script src="../../Scripts/Common/ceshi.js"></script>*@
                                @*@foreach (var info in dateresult)
                                    {*@
                                <!--<script>
                                    let date = "@dateresult";
                                    alert("33");
                                    alert(date);-->
                                @*let aa = "@info.Name";
                                    let cc = "@info.Memo"

                                    let oReq = new XMLHttpRequest();
                                    let URLToPDF = aa ;
                                    oReq.open("GET", URLToPDF, true);
                                    oReq.responseType = "blob";
                                    oReq.onload = function () {
                                        let file = new Blob([oReq.response], {
                                            type: 'application/pdf'
                                        });
                                        saveAs(file, cc + ".pdf");
                                    };
                                     oReq.send();*@


                                <!--</script>-->
                                @*}*@
                            </select>
                            @*&nbsp; 负责人:
                                <select name="BrandID" id="BrandID" class="select ymxSelect">
                                    <option value="0">请选择品牌</option>
                                    @foreach (var info in brandlist)
                                    {
                                        <option value="@info.ID">@info.Name</option>
                                    }
                                </select>
                                &nbsp; 是否显示:
                                <select name="IsShow" id="IsShow" class="ymxSelect">
                                    <option value="2">正常项目</option>
                                    <option value="1">删除项目</option>
                                    <option value="0">全部</option>
                                </select>*@
                            <input type="hidden" value="@DateTime.Now.Ticks" name="t" id="txtTimehid" />
                            <input type="submit" class="submitbutton2" id="btnsumbit" style="float: none;" value="查 询" />
                            @*<input type="button" class="submitbutton1" id="btnsetCost" style="float: none;" onclick="OpenDailogSetCost()"
                                value="采集数据" />*@
                            @*<input type="button" class="submitbutton2" id="BtnSave" style="float: none;" value="导出" />*@
                            @*@if (HasPermission)
                                {
                                    <input type="button" class="submitbutton1" id="btnsetCost" style="float: none;" onclick="OpenDailogSetCost()"
                                           value="批量设置成本" />
                                }*@
                            <div class="mainContentRight">

                                <form action="@Url.Content("~/BaseInfo/UploadProduct")" method="post" id="submitbutton" enctype="multipart/form-data" style=" margin:10px auto;">
                                </form>
                                操作功能：
                                <fieldset style="border-color: #ccc; width:91%; margin: 8px auto;">

                                    <legend style="color: Green; font-size: 16px;">&nbsp;&nbsp;医学导入&nbsp;&nbsp;</legend>
                                    <form action="@Url.Content("~/BaseInfo/UploadCustomerBaojia1")" method="post" id="" enctype="multipart/form-data" style=" margin:10px auto;">
                                        <span style="margin: auto 0px auto 20px;">选择医学文件:</span>
                                        <input type="file" name="file" />
                                        <input type="text" name="type" id="type" class="text-input input130" style="display:none" value="医学" />

                                        <input id="" type="submit" value="提交" />
                                        <a href="/download/医学.xlsx" style="color: Blue;">导入模板下载(xlsx)</a>
                                        <a href="/download/粤械注准20192090463.pdf" style="color: Blue;">导入模板下载(xls)</a>
                                    </form>
                                </fieldset>
                                @*@if (ViewBag.HospitalID == 2)
                                    {
                                        <fieldset style="border-color: #ccc; width: 98%; margin: 8px auto;">
                                            <legend style="color: Green; font-size: 16px;">&nbsp;&nbsp;公众号证书导入（只有heyics账号能看到）&nbsp;&nbsp;</legend>
                                            <form action="@Url.Content("~/BaseInfo/UploadCustomer1")" method="post" id="" enctype="multipart/form-data" style=" margin:10px auto;">
                                                <span style="margin: auto 0px auto 20px;">选择公众号证书文件:</span>
                                                <input type="file" name="file" />
                                                <input id="" type="submit" value="提交" />
                                            </form>
                                        </fieldset>

                                    }*@
                            </div>
                            @*   @if (HasPermissionPhone)
                                {
                                    <input type="button" id="btnSetYinchang" class="submitbutton3" style="float: none;"
                                        value="设 置" />
                                }*@
                        </div>
                    }
                    <div id="articles" class="" style="height: 100%; overflow: hidden; margin-top: 5px; width: 100%;overflow:auto;">
                        @Html.Partial("_TheProject1", Model)
                    </div>
                    @{Html.RegisterMvcPagerScriptResource();}
                    <script src="../../Scripts/Jquery/plugins/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $("#btnsearch").click(function () {
        $("#txtTimehid").val(Math.random());
    })
  function OpenDailogDetail(type, obj) {
        var title = "";
        if (type == "ADD") {
            title = "新建项目";
        } else {
            title = "编辑项目";
        }
        art.dialog.open("/BaseInfo/Editproject1?Type=" + type + "&Tag=医学&ID=" + obj, { title: title, width: 960, height: 640 });
    }

    function OpenDailogSetCost() {
    alert("11");
    $.ajax({
    type: "POST",
    url: getControllerUrl("BaseInfo", "SetProjectIsMoni"),
    async: false,
    data: $("#submitform").serialize(), // 你的formid
    error: function (request) {
    artdialogfailTwo("操作失败！", "", "250", "100");
    },
    success: function (data) {

    }
    });
    }
    function DeleteData(obj,isshow) {
    var id = obj;
    $.ajax({
    cache: true,
    type: "POST",
    url: "@Url.Content("~/BaseInfo/ProjectDel?ID=")"+id+"&isshow="+isshow,
    async: false,
    error: function (request) {

    artdialogfailTwo("操作失败！","","250","100");
    },
    success: function (data) {
    if(data>0){
    alert("操作成功！");
    $("#btnsumbit").click();
    }else
    {
    artdialogfailTwo("操作失败,！","","250","100");
    }
    }
    });

    }
    //     $("#Name").keyup(function () {
    //        $("#btnsearch").click();
    //        //document.getElementById("searchForm").submit();
    //    });
    $("#btnsearch").click(function () {
    $("#txtTime").val(Math.random());
    })
    $(function () {
    $("th[orderField='@orderField']").addClass("@orderDirection");
    if (window.PIE) {
    $('.rounded').each(function () {
    PIE.attach(this);
    });
    }
    //默认加载有权限的
    for (var i = 0; i < TheArray.length; i++) {
    if (TheArray[i][0] == "True") {
    if ("/BaseInfo/TheProject" == TheArray[i][1]) {
    return;
    } else {
    self.location = TheArray[i][1];
    return;
    }
    }
    }
    });


    $("#BtnSave").click( function(){

    var Name = $("#Name").val();
    var ProjectType = $("#ProjectType").val();
    var BrandID = $("#BrandID").val();
    var IsShow = $("#IsShow").val();
    var url = getControllerUrl("BaseInfo", "ExportTheProjectList") + "?pageNum=1&numPerPage=10000000&Name=" + Name + "&ProjectType=" + ProjectType + "&BrandID=" + BrandID + "&IsShow=" + IsShow;
    // window.open(url);
    window.location.href = url;
    })

    $("#btnSetYinchang").click(function () {

    var str = "";
    $('input[name="checkbox"]:checked').each(function () {
    str += $(this).val() + "|";
    });
    if (str == "") {
    alert("请先勾选项目!");
    }
    else if (confirm('确定操作吗？')) {

    $.ajax({
    type: "POST",
    url: getControllerUrl("BaseInfo", "SetProjectIsMoni"),
    async: false,
    data: $("#submitform").serialize(), // 你的formid
    error: function (request) {
    artdialogfailTwo("操作失败！", "", "250", "100");
    },
    success: function (data) {
    if (data > 0) {
    artdialog("操作成功！", "", "250", "100");
    location.reload();
    }
    }
    });
    }
    });



    </script>
    <script>
        $(function () {
            let acHeight = $(window).height() - $("#footer").height() - $(".mainContentRight_top").height() - $("#header").height();
            $("#articles").css("height", acHeight + "px");
        })
    </script>
