@{
    ViewBag.Title = "_ReservationControl";
 }
<div id="mainContentLeft">
 <form action="@Url.Content("~/ReservationDoctorManage/SearchResult")" method="post" id="submitform" >
        <div id="mainContentLeft_top" >
         <span>预约管理</span> </div>
  
        <div id="mainContentLeft_bottom">
            <ul>
            @* <li   onclick='CheckRight(this,"")'   redirect="@Url.Content("~/ReservationDoctorManage/ReservationNew")"><span style="background:#fff url('../../Content/themes/default/images/menu/icon1.jpg')  13px -170px no-repeat;"></span><a style="cursor: pointer; "   >新建预约 </a> </li>*@
         <li onclick='CheckRight(this,"")'  redirect="@Url.Content("~/ReservationDoctorManage/ReservationDoctorPage")"><a style="cursor: pointer; "><span class="list_icon"></span>&nbsp;&nbsp;今日预约 </a> </li>
             <li onclick='CheckRight(this,"")'   redirect="@Url.Content("~/ReservationDoctorManage/ReservationWeek")"><a style="cursor: pointer; "><span class="list_icon"></span>&nbsp;&nbsp;本周预约 </a> </li>
                <li onclick='CheckRight(this,"")'   redirect="@Url.Content("~/ReservationDoctorManage/ReservationMonth")"><a style="cursor: pointer; "><span class="list_icon"></span>&nbsp;&nbsp;顾客考勤跟踪表 </a> </li>
                <li onclick='CheckRight(this,"")'  redirect="@Url.Content("~/ReservationDoctorManage/ReservationList")"><a style="cursor: pointer; "><span class="list_icon"></span>&nbsp;&nbsp;预约列表 </a> </li>
             <li onclick='CheckRight(this,"")'  redirect="@Url.Content("~/ReservationDoctorManage/PaibanManage")"><a style="cursor: pointer; "><span class="list_icon"></span>&nbsp;&nbsp;预约排班设置 </a> </li>
            
            </ul>           
        </div>
          </form>
    </div>
        
    <script type="text/javascript">
        //登录回车事件
        $(document).keydown(function (event) {
            if (event.keyCode == 13 || event.keyCode == 32) {
                if ($.trim($(".searchInput").val()) != "" && $(".searchInput").val() != "搜索") {
                    document.getElementById("submitform").submit();
                }
            }
        });


    </script>

