@using Webdiyer.WebControls.Mvc;
@using HS.SupportComponents;
@using SystemManage.Factory.IBLL;
@model List<EYB.ServiceEntity.ReservationEntity.DakaRecordEntity>
    @{
        Layout = null;
        ISystemManageBLL systemBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<ISystemManageBLL>();
        var YingxianggongxiuDay = systemBLL.GetUserSettingsValue(ViewBag.HospitalID, "YingxianggongxiuDay");
        var gongxiuday = ConvertValueHelper.ConvertIntValue(YingxianggongxiuDay.AttributeValue);
        gongxiuday = gongxiuday == 0 ? 4 : gongxiuday;
    }
    <style>
        .box {
            width: 115px;
            display: inline-block;
            margin: 0;
            padding: 0;
            background-color: #fff;
            /*background-color: #FFF0F5;  #EEF5F9*/
            float: left;
        }

        .boxfixed {
            width: 5%;
            display: inline-block;
            vertical-align: top;
            background-color: #EEF5F9;
        }

        .boxfixed1 {
            width: 16px;
            display: inline-block;
            vertical-align: top;
            background-color: #EEF5F9;
        }

        .boxfixed2 {
            width: 44px;
            display: inline-block;
            vertical-align: top;
            background-color: #EEF5F9;
        }

        .boxHeight22 {
            display: flex;
            align-items: center;
            height: 50px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            background-color: rgb(240,240,240);
            /*background-color: #00ffff;*/
            /*background-color: #00ffff;*/
            text-overflow:;
        }

        .boxHeighttop {
            display: flex;
            align-items: center;
            height: 50px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            position: absolute;
            background-color: #00ffff;
            text-overflow: ellipsis;
        }
        
        .boxHeight11 {
            display: flex;
            align-items: center;
            height: 122px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }
        
        .boxHeight44 {
            display: flex;
            align-items: center;
            height: 70px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }
        .boxHeight {
            display: flex;
            align-items: center;
            height: 50px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }

        .boxHeightg {
            display: flex;
            align-items: center;
            height: 50px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }

        .boxHeight1 {
            display: flex;
            align-items: center;
            height: 102px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }

        .boxHeight4 {
            display: flex;
            align-items: center;
            height: 206px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }

        .boxHeight3 {
            display: flex;
            align-items: center;
            height: 154px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }

        .boxHeight6 {
            display: flex;
            align-items: center;
            height: 310px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }
        
        .boxHeight61 {
            display: flex;
            align-items: center;
            height: 362px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }
        .boxHeight7 {
            display: flex;
            align-items: center;
            height: 412px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }

        .boxHeight14 {
            display: flex;
            align-items: center;
            height: 726px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }

        .boxHeight18 {
            display: flex;
            align-items: center;
            height: 934px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }

        .boxHeight19 {
            display: flex;
            align-items: center;
            height: 985px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }

        .boxHeight25 {
            display: flex;
            align-items: center;
            height: 1402px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }

        .boxHeight21 {
            display: flex;
            align-items: center;
            height: 1194px;
            justify-content: center;
            border: 1px solid #eee;
            word-break: break-all;
            overflow: hidden;
            text-overflow:;
        }

        .scrollBox-f {
            width: 88%;
            display: inline-block;
            overflow-x: auto;
        }
    </style>
    @if (Model.Count() > 0)
    {
        <div id="11" style="display: flex; margin-left:20px;justify-content: flex-start; margin-bottom:0px;position:absolute;">
            <div class="boxfixed1">
                <div class="boxHeight">	</div>
            </div>
            <div class="boxfixed2   ">
                <div class="boxHeight22">	姓名	</div>
            </div>
            <div class="scrollBox-f">
                <div id="scrollBox">
                    @foreach (var entity in Model)
                    {
                        <div class="box">
                            @*<div class="boxHeighttop" style="position:absolute;">	 @entity.UserName	</div>*@
                            @*<div class="boxHeighttop" style="position:fixed;">	 @entity.UserName	</div>*@
                            <div class="boxHeight22">	 @entity.UserName	</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
        <div id="11" style="display: flex; margin-left:20px;justify-content: flex-start; margin-bottom:0px">
            <div class="boxfixed1">
                <div class="boxHeight">	</div>
                <div class="boxHeight4">	考勤	</div>
                <div class="boxHeight6">	底薪	</div>
                <div class="boxHeight61">	实操业绩提成	</div>
                <div class="boxHeight21">	现金业绩提成	</div>
                <div class="boxHeight3">	卡扣业绩提成	</div>
                <div class="boxHeight61">	奖励&扣罚	</div>
                <div class="boxHeight11">	其他  	</div>
                <div class="boxHeight11">	职能考评	</div>
                <div class="boxHeight">		</div>
            </div>
            <div class="boxfixed2">
                <div class="boxHeight">	姓名	</div>
                <div class="boxHeight">	出勤	</div>
                <div class="boxHeight">	应享公休	</div>
                <div class="boxHeight">	已休	</div>
                <div class="boxHeight">	超休	</div>
                <div class="boxHeight">	月实操	</div>
                <div class="boxHeight">	底薪1	</div>
                <div class="boxHeight">	客流	</div>
                <div class="boxHeight">	客流单价	</div>
                <div class="boxHeight">	底薪2	</div>
                <div class="boxHeight22">	合计	</div>
                <div class="boxHeight">	指定客实操	</div>
                <div class="boxHeight">	提点	</div>
                <div class="boxHeight">	非指定客实操	</div>
                <div class="boxHeight">	提点	</div>
                <div class="boxHeight">	手工	</div>
                <div class="boxHeight">	奖励	</div>
                <div class="boxHeight22">	合计	</div>

                <div class="boxHeight">	指定客储值卡	</div>
                <div class="boxHeight">	提点	</div>
                <div class="boxHeight">	非指定客储值卡	</div>
                <div class="boxHeight">	提点	</div>
                <div class="boxHeight">	指定客疗程单次	</div>
                <div class="boxHeight">	提点	</div>
                <div class="boxHeight">	非指定客疗程单次	</div>
                <div class="boxHeight">	提点	</div>
                <div class="boxHeight">	指定客家居	</div>
                <div class="boxHeight">	提点	</div>
                <div class="boxHeight">	非指定客家居	</div>
                <div class="boxHeight">	提点	</div>
                <div class="boxHeight">	指定客大项目	</div>
                <div class="boxHeight">	提点	</div>
                <div class="boxHeight">	非指定客大项目	</div>
                <div class="boxHeight">	提点	</div>

                <div class="boxHeight">	特殊产品	</div>
                <div class="boxHeight">	提点	</div>
                <div class="boxHeight">	特殊项目	</div>
                <div class="boxHeight">	提点	</div>

                <div class="boxHeight">	家居服务业绩	</div>
                <div class="boxHeight">	提点	</div>
                <div class="boxHeight22">	合计	</div>
                <div class="boxHeight">	卡扣业绩	</div>
                <div class="boxHeight">	提点	</div>
                <div class="boxHeight22">	合计	</div>
                <div class="boxHeight">	新客/人	</div>
                <div class="boxHeight">	新客奖罚	</div>
                <div class="boxHeight">	客流项目奖	</div>
                <div class="boxHeight">	单次项目	</div>
                <div class="boxHeight">	是否全勤	</div>
                <div class="boxHeight">	全勤奖	</div>
                <div class="boxHeight22">	合计	</div>

                <div class="boxHeight">	行政扣罚	</div>
                <div class="boxHeight44">	总底薪是否与出勤天数挂钩	</div>
                <div class="boxHeight">	分数	</div>
                <div class="boxHeight44">	绩效工资是否与职能考评挂钩	</div>
                <div class="boxHeight22">	应发工资	</div>
            </div>
            <div class="scrollBox-f">
                <div id="scrollBox">
                    @foreach (var entity in Model)
                    {
                    <div class="box">
                        @*<div class="boxHeighttop" style="position:absolute;">	 @entity.UserName	</div>*@
                        <div class="boxHeight">	 @entity.UserName	</div>
                        <div class="boxHeight">	 @entity.ChuqingDay	</div>
                        <div class="boxHeight">	 @entity.Yingxianggongxiu	</div>
                        <div class="boxHeight">	@entity.XiuxiDay	</div>
                        <div class="boxHeight">	@entity.Chaoxiuday	</div>
                        <div class="boxHeight">	@entity.Mrssumshichao	</div>
                        <div class="boxHeight">	@entity.MrsDixin1	</div>
                        <div class="boxHeight">	@entity.MrsDixin2keliu	</div>
                        <div class="boxHeight">	@entity.MrsBasicsalaryTwo	</div>
                        <div class="boxHeight">	@entity.MrsDixin2	</div>
                        <div class="boxHeight22">	@entity.MrsDixin	</div>
                        <div class="boxHeight">	@entity.ShiCao_zhiding	</div>
                        <div class="boxHeight">		@entity.Mrsag %	</div>
                        <div class="boxHeight">	@entity.ShiCao_feizhiding 	</div>
                        <div class="boxHeight">		@entity.Mrsfg  %	</div>
                        <div class="boxHeight">	@entity.ShouGongFei	</div>
                        <div class="boxHeight">	@entity.Jiangli	</div>
                        <div class="boxHeight22">	@entity.Sumshicaoshougong	</div>
                        <div class="boxHeight">	@entity.Yeji_Chuzhikazhiding	</div>
                        <div class="boxHeight">	@(string.IsNullOrEmpty(entity.Yeji_Chuzhikazhidingf) ? "" : entity.Yeji_Chuzhikazhidingf + "%")	</div>
                        <div class="boxHeight">	@entity.Yeji_Chuzhikafeizhiding	</div>
                        <div class="boxHeight">	@(string.IsNullOrEmpty(entity.Yeji_Chuzhikafeizhidingf) ? "" : entity.Yeji_Chuzhikafeizhidingf + "%")	</div>
                        <div class="boxHeight">	@entity.Yeji_liaochengdancizhiding	</div>
                        <div class="boxHeight">	@(string.IsNullOrEmpty(entity.Yeji_liaochengdancizhidingf) ? "" : entity.Yeji_liaochengdancizhidingf + "%")	</div>
                        <div class="boxHeight">	@entity.Yeji_liaochengdancifeizhiding	</div>
                        <div class="boxHeight">	@(string.IsNullOrEmpty(entity.Yeji_liaochengdancifeizhidingf) ? "" : entity.Yeji_liaochengdancifeizhidingf + "%")	</div>
                        <div class="boxHeight">	@entity.Yeji_jiajuzhiding	</div>
                        <div class="boxHeight">	@(string.IsNullOrEmpty(entity.Yeji_jiajuzhidingf) ? "" : entity.Yeji_jiajuzhidingf + "%")	</div>
                        <div class="boxHeight">	@entity.Yeji_jiajufeizhiding	</div>
                        <div class="boxHeight">	@(string.IsNullOrEmpty(entity.Yeji_jiajufeizhidingf) ? "" : entity.Yeji_jiajufeizhidingf + "%")	</div>
                        <div class="boxHeight">	@entity.Yeji_daxiangmuzhiding	</div>
                        <div class="boxHeight">	@(string.IsNullOrEmpty(entity.Yeji_daxiangmuzhidingf) ? "" : entity.Yeji_daxiangmuzhidingf + "%")	</div>
                        <div class="boxHeight">	@entity.Yeji_daxiangmufeizhiding	</div>
                        <div class="boxHeight">	@(string.IsNullOrEmpty(entity.Yeji_daxiangmufeizhidingf) ? "" : entity.Yeji_daxiangmufeizhidingf + "%")	</div>
                        <div class="boxHeight">	@entity.Yeji_tushuchangpingzhiding	</div>
                        <div class="boxHeight">	@entity.Yeji_tushuchangpingzhidingf 	</div>
                        <div class="boxHeight">	@entity.Yeji_tushuxiangmuzhiding	</div>
                        <div class="boxHeight">	@entity.Yeji_tushuxiangmuzhidingf	</div>

                        <div class="boxHeight">	@entity.MrsFangdangBenyue	</div>
                        <div class="boxHeight">	@entity.MrsFangdangBenyuef 	</div>
                        <div class="boxHeight22">	@entity.MrsshicaoStr	</div>
                        <div class="boxHeight">	@entity.Mrskaikouyeji	</div>
                        <div class="boxHeight">	@(string.IsNullOrEmpty(entity.Mrskaikouyejif) ? "" : entity.Mrskaikouyejif + "%")	</div>
                        <div class="boxHeight22">	@entity.MrsSumkaikouyeji	</div>
                        <div class="boxHeight">	@entity.CustomerService	</div>

                        <div class="boxHeight">	@entity.NewCusReward	</div>
                        <div class="boxHeight">	@entity.Mrsqqklxmj	</div>
                        <div class="boxHeight">	@entity.Mrsdanxiangmuf	</div>
                        <div class="boxHeight">	@entity.IsQuanqing	</div>
                        <div class="boxHeight">	@entity.QuanqingReward	</div>
                        <div class="boxHeight22">	@entity.JiangliKoufang	</div>

                        <div class="boxHeight">	@entity.Xingzhen	</div>
                        <div class="boxHeight44">	@entity.IsDixinSalary	</div>
                        <div class="boxHeight">	@entity.Fenshu	</div>
                        <div class="boxHeight44">	@entity.Iszhinengkaoping	</div>
                        <div class="boxHeight22">	@entity.ShifaSalary	</div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div style="height:40px;"></div>

        <script>
            let boxLength = document.getElementsByClassName("box").length;
            let boxWidth = document.getElementsByClassName("box")[0].offsetWidth;
            let scrollBox = document.getElementById("scrollBox");
            let a = (boxLength * boxWidth) + "px";
            Object.assign(document.getElementById("scrollBox").style, {
                width: a
            })
        </script>
        <script type="text/javascript">
            $(function () {
                $("#showmessage").css("display", "none");
            })
        </script>
        <script type="text/javascript">
            $(function () {

                window.setTimeout(function () {
                    var gridtablewidth = $(".gridTable").width();
                    var thlen = $(".gridTable thead th").length;
                    let theadWidth = $(".gridTable tbody").width()
                    $(".gridTable thead").css("width", theadWidth + "px")
                    let tdWidth = (theadWidth / (thlen - 2)) + "px";
                    $(".gridTable thead th").css("width", tdWidth);
                    $(".gridTable tr td").css("width", tdWidth);
                }, 100)

            })
        </script>
        @*<form action="" method="post" id="submitform">
                <input type="hidden" value="" name="orderDirection" id="orderDirection" />
                <input type="hidden" value="" name="orderField" id="orderField" />
                <table class="gridTable" style="border-collapse: collapse;">
                    <thead>
                        <tr>

                            <th orderfield="">
                                员工职位
                            </th>
                            <th orderfield="">
                                员工姓名
                            </th>
                            <th>
                                底薪(1)【实操业绩】
                            </th>
                            <th>
                                底薪(2)【客流】
                            </th>
                            <th>
                                新客数提成【月客流量】
                            </th>
                            <th>
                                实操提成【月实操业绩】
                            </th>
                            <th>
                                单次项目实操业绩提成
                            </th>
                            <th>
                                店基础现金总收入提成【店基础现金总收入】
                            </th>
                            <th>
                                家居产品售后服务返单【本月家居业绩】
                            </th>
                            <th>
                                平均客流项目奖【平均客流/平均项目】
                            </th>
                            <th>
                                全勤奖
                            </th>
                            <th>
                                手工费
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var entity in Model)
                        {
                            <tr>
                                <td>
                                    @entity.UserPost
                                </td>
                                <td>
                                    @entity.UserName
                                </td>
                                <td>
                                    @entity.MrsDixin1【@entity.Mrssumshichao】
                                </td>
                                <td>
                                    @entity.MrsDixin2【@entity.MrsDixin2keliu】
                                </td>
                                <td>
                                    @entity.NewCusReward【@entity.CustomerService】
                                </td>
                                <td>
                                    @entity.Mrstichengzhidingke【@entity.MrsMouthShicao】
                                </td>
                                <td>
                                    @entity.Mrsdanxiangmu
                                </td>
                                <td>
                                    @entity.MrsshicaoStr【@entity.MrsHospitalYeji】
                                </td>
                                <td>
                                    @entity.MrsFangdang【@entity.MrsFangdangBenyue】
                                </td>
                                <td>
                                    @entity.Mrsqqklxmj【@entity.Mrspingjukeliu/@entity.Mrsxiangmu】
                                </td>
                                <td>
                                    @entity.Mrsquangqingjiang
                                </td>
                                <td>@entity.ShouGongFei</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </form>
            <script type="text/javascript">

            </script>*@
