@using PersonnelManage.Factory.IBLL;
@using EYB.ServiceEntity.DepartmentEntity;
@using SystemManage.Factory.IBLL;
@using EYB.ServiceEntity.PersonnelEntity;
@using ReservationDoctorManage.Factory.IBLL;
@{
    Layout = null;
    ViewBag.Title = "ReservationNew";
    var Hid = ViewBag.HospitalID;//门店ID
    var DocID = Request["DocID"];//本月预约中 点击添加预约传来的值
    var Date = Request["Date"];//本月预约中 点击添加预约传来的值
                               //预约编号
    var ID = Request["ID"];
    ISystemManageBLL systemBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<ISystemManageBLL>();
    IPersonnelManageBLL personbll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IPersonnelManageBLL>();
    IReservationDoctorManageBLL reserBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IReservationDoctorManageBLL>();
    //获取基础字典
    // var baseinfolist = systemBLL.GetBaseInfoList();
    //查询所有的美容师
    IList<HospitalUserEntity> List = personbll.GetAllUserByHospitalID(Hid, 0);
    var entity = reserBLL.ReservationEntityByID(Convert.ToInt32(ID));
    
        var Year = ViewBag.Years + "";
        var M = ViewBag.Months + "";

}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <link href="@Url.Content("~/Content/themes/css/core.css")?v=1.1" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../Content/themes/css/template.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Common/common.js" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/artDialog/artDialog.js" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
    <!--日期-->
    <script src="../../Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <style type="text/css">
        #gridTable tr td {
            text-align:left;
        }
    </style>
</head>
<body style="background: #fff;">
    <div id="mainContentBody">
        <div class="mainContentRight_bottom clearfix" style="position: relative;" id="mainContentRight_bottom">
            <div class="mainContentRight" style="margin-top: 20px;">
                <form id="myform" method="post">
                    <table class="gridTable" style="width: 96%; border-collapse: collapse;">
                        @*<tr id="trID">
                            <td style="text-align:left;margin-left:20px;">
                                <span class="red">*&nbsp;</span>员工姓名
                                <input type="hidden" value="@Model.ID" name="ID" />
                            </td>
                            <td style="line-height: 30px; height: 30px; text-align:left; padding-left:40px;  ">
                                <select name="UserId" id="UserId" class="select">
                                    @{ foreach (var D in List)
                                        {
                                            <option value="@D.UserID" @(D.UserID + "" == Model.UserId + "" ? "selected=selected" : "")=)>@D.UserName</option>
}}
                                </select>
                            </td>
                        </tr>*@
                        @*<tr>
            <td>
                <span class="red">*&nbsp;</span> 创建时间
            </td>
            <td>
                <input type="text" class="text-input Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="Dateleave" id="Dateleave" value="@Model.Dateleave" disabled="disabled"  />
            </td>
        </tr>*@
                        @*<tr>
            <td style="text-align:left;"><span class="red">*&nbsp;</span>类别</td>
            <td style="text-align:left; padding-left:40px;">
                <select name="category" class="select" id="CateGoryId">
                    <option value="0">==请选择==</option>
                    <option value="请假">请假</option>
                    <option value="旷工">旷工</option>
                </select>
            </td>
        </tr>*@
                        @*<tr>
                            <td style="text-align:left;">
                                <span class="red">*</span>时长
                            </td>
                            <td style="text-align:left; padding-left:40px;">
                                <select name="Year" id="Year">
                                    @for (int i = DateTime.Now.AddYears(-3).Year; i <= DateTime.Now.AddYears(3).Year; i++)
                                    {
                                        <option @(Year == i + "" ? "selected=selected" : "")=) value="@i">@i</option>
                                    }
                                </select>

                                年
                                <select name="Month" id="Month">
                                    <option @(M == "1" ? "selected=selected" : "")=) value="1">1</option>
                                    <option @(M == "2" ? "selected=selected" : "")=) value="2">2</option>
                                    <option @(M == "3" ? "selected=selected" : "")=) value="3">3</option>
                                    <option @(M == "4" ? "selected=selected" : "")=) value="4">4</option>
                                    <option @(M == "5" ? "selected=selected" : "")=) value="5">5</option>
                                    <option @(M == "6" ? "selected=selected" : "")=) value="6">6</option>
                                    <option @(M == "7" ? "selected=selected" : "")=) value="7">7</option>
                                    <option @(M == "8" ? "selected=selected" : "")=) value="8">8</option>
                                    <option @(M == "9" ? "selected=selected" : "")=) value="9">9</option>
                                    <option @(M == "10" ? "selected=selected" : "")=) value="10">10</option>
                                    <option @(M == "11" ? "selected=selected" : "")=) value="11">11</option>
                                    <option @(M == "12" ? "selected=selected" : "")=) value="12">12</option>
                                </select>月*@
                                @*<input type="text" class="text-input Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="StartTime" id="StartTime" value="@Model.StartTime" placeholder="开始时间" />*@
                                @*<select class="select" name="StartLeave">
                    <option value="全天">全天</option>
                    <option value="上午">上午</option>
                    <option value="下午">下午</option>
                </select>*@
                                @*<input type="text" class="text-input Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="EndTime" id="EndTime" value="@Model.EndTime" placeholder="结束时间" />*@
                                @*<select class="select" name="EndLeave">
                    <option value="全天">全天</option>
                    <option value="上午">上午</option>
                    <option value="下午">下午</option>
                </select>*@

                            @*</td>
                        </tr>*@

                        <tr>
                            <td style="text-align:left;">
                               名称：
                            </td>
                            <td style="text-align:left; padding-left:40px;">

                                <input type="text" value="应享公休" id="Memo" name="Memo" readonly="readonly" />
                                @*<textarea rows="7" id="MemoId" cols="60" name="Memo" class=" textarea" =textarea">@entity.Memo</textarea>*@
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">
                                <span class="red">*</span>天数：
                            </td>
                            <td style="text-align:left; padding-left:40px;">
                                <input type="text" value="@Model.NumDay" id="tianshu" name="NumDay" onkeyup="CheckInputIntFloat(this)" />
                            </td>
                        </tr>
                        <tr style="height: 80px; ">
                            <td></td>
                            <td style=" text-align:left; padding-left:40px;">
                                <input style="margin-left: 0px;" type="button" id="btnsave" class="submitbutton2"
                                       value="保 存" /><input class="submitbutton2" onclick="closeedNorefresh()" type="button"
                                                            value="返 回" />
                            </td>
                        </tr>
                    </table>
                </form>
                <script type="text/javascript">
                    window.onload = function () {
                        $("#CateGoryId").val('@Model.category');
                        $("#MemoId").val('@Model.Memo');

                    }
                    $("#btnsave").click(function () {
                        var tianshu = $("#tianshu").val();
                        var Memo = $("#Memo").val();
                        //var CateGoryId = $("#CateGoryId").val();
                        //var StartTime = $("#StartTime").val();
                        //var EndTime = $("#EndTime").val();
                        //if (CateGoryId==0||CateGoryId=="") {
                        //    alert("请选择类别");
                        //    return false;
                        //}
                        //if (StartTime==""||StartTime==null||EndTime==""||EndTime==null) {
                        //    alert("请选择起始和截至时间段！");
                        //    return false;
                        //}
                        //if (StartTime>EndTime) {
                        //    alert("结束时间不能小于或等于开始时间！");
                        //    return false;
                        //}
                        if (tianshu == 0 || tianshu=="") {
                            alert("请输入分数！");
                            return false;
                        }
                        if (Memo == 0 || Memo=="") {
                            alert("请输入行政扣罚！");
                            return false;
                        }
                        $.ajax({
                            type: 'post',
                            data: $('#myform').serialize(),
                            url: '/ReservationDoctorManage/BianLeave2',
                            success: function (data) {
                                //if (data == -99) {
                                //    alert("请假不能跨月份，如果跨月则分开填写！");
                                //    return;
                                //}
                                if (data > 0) {
                                    alert("保存成功！");
                                    closeed();
                                }
                                else {
                                    alert('保存失败');
                                }
                            },
                            error: function () {
                                alert('数据提交失败');
                            }
                        });
                    })
                </script>
            </div>
        </div>
    </div>
</body>
  
</html>
