@using Webdiyer.WebControls.Mvc;
@using PersonnelManage.Factory.IBLL;
@model List<EYB.ServiceEntity.ReservationEntity.DakaRecordEntity>
    @{

        var orderField = ViewBag.orderField;
        var orderDirection = ViewBag.orderDirection;
        var status = ViewBag.Statu;
        var ordertype = ViewBag.OrderType;
        var st = ViewBag.StartTime;
        var et = ViewBag.EndTime;
        var M = ViewBag.Months + "";
        var Year = ViewBag.Years + "";
        IPersonnelManageBLL personbll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IPersonnelManageBLL>();
        var hospitalList = personbll.GetHospitalListByParentID(ViewBag.ParentHospitalID);
        bool HasPermission = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.HospitalManager_Manage_跨店权限);
    }
    <div id="mainContentBody">
        @Html.Partial("~/Views/MoneyManage/_MoneyControl.cshtml")
        <div id="mainContentRight">
            <div class="mainContentRight_top">
                <label class="Soliddots"></label>
                考勤统计
                &nbsp; <a href="javascript:OpenDailogDetail('ADD',0);" style="width:100px;" class="addbutton"> 应享公休</a>
            </div>
            <div class="mainContentRight_bottom">
                @using (Ajax.BeginForm("DakaRecordStatistics", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
                {
                    <div class="accountdiv ullist" style="margin-bottom: 0px;">
                        <ul>
                            @if (HasPermission)
                            {
                                <li>
                                    <label style="font-weight: normal;">
                                        所属分店：
                                    </label>
                                    <select name="HospitalID" id="HospitalID" class="" style="width: 100px;">
                                        <option value="0">请选择分店</option>
                                        @foreach (var info in hospitalList)
                                        {
                                            <option value="@info.ID" @(ViewBag.HospitalID == info.ID ? "selected=selected" : "")>@info.Name</option>
                                        }
                                    </select>
                                </li>
                            }
                            <li>
                                <select name="Years" id="Years">
                                    @for (int i = DateTime.Now.AddYears(-3).Year; i <= DateTime.Now.AddYears(3).Year; i++)
                                    {
                                        <option @(Year == i + "" ? "selected=selected" : "") value="@i">@i</option>
                                    }
                                </select>
                                年
                                <select name="Months" id="Months">
                                    <option @(M == "1" ? "selected=selected" : "") value="1">1</option>
                                    <option @(M == "2" ? "selected=selected" : "") value="2">2</option>
                                    <option @(M == "3" ? "selected=selected" : "") value="3">3</option>
                                    <option @(M == "4" ? "selected=selected" : "") value="4">4</option>
                                    <option @(M == "5" ? "selected=selected" : "") value="5">5</option>
                                    <option @(M == "6" ? "selected=selected" : "") value="6">6</option>
                                    <option @(M == "7" ? "selected=selected" : "") value="7">7</option>
                                    <option @(M == "8" ? "selected=selected" : "") value="8">8</option>
                                    <option @(M == "9" ? "selected=selected" : "") value="9">9</option>
                                    <option @(M == "10" ? "selected=selected" : "") value="10">10</option>
                                    <option @(M == "11" ? "selected=selected" : "") value="11">11</option>
                                    <option @(M == "12" ? "selected=selected" : "") value="12">12</option>
                                </select>月
                            </li>

                            <li>
                                <input type="submit" id="btnsumbit" class="submitbutton2 ymxtop" style="float: none;" value="查询" />
                            </li>
                            @*<li>
                                    <input type="button" id="btnSave" class="submitbutton2" style="float: none;display:none" value="导出" />
                                </li>*@
                        </ul>
                        <div style="clear: both;">
                        </div>
                    </div>
                }
                <div id="articles" class="" style="height: 100%; overflow: hidden; margin-top: 5px;
                    width: 100%;">
                    @Html.Partial("_DakaRecordStatistics", Model)

                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        function OpenDailogDetail(type, obj) {
            var title = "";
            //if (type == "ADD") {
            //    title = "添加";
            //} else {
                title = "修改";
            //}
            art.dialog.open("/ReservationDoctorManage/AddLeavePage2?Type=" + type + "&ID=" + obj, { title: title, width: 400, height: 200 });
        }
        //function DeleteData(obj) {
        //    var mymessage = confirm("确定删除吗？");
        //    if (mymessage == true) {
        //        var id = obj;
        //        $.ajax({
        //            cache: true,
        //            type: "POST",
        //            url: "Url.Content("~/ReservationDoctorManage/_DeleteLeavePage?ID=")" + id,
        //            async: false,
        //        error: function (request) {

        //            artdialogfailTwo("操作失败！", "", "250", "100");
        //        },
        //        success: function (data) {
        //            if (data > 0) {
        //                alert("删除成功！");
        //                window.location.reload(true);
        //            } else {
        //                artdialogfailTwo("删除失败,！", "", "250", "100");
        //            }
        //        }
        //    });

        //}

        function DeleteData(obj) {
            var id = obj;
                if(confirm("确认操作吗？"))
                {
                    $.ajax({
                        cache: true,
                        type: "POST",
                        url: "@Url.Content("~/ReservationDoctorManage/_DeleteLeavePage?ID=")"+id,
                        async: false,
                    error: function (request) {

                        artdialogfailTwo("操作失败！","","250","100");
                    },
                    success: function (data) {
                        if(data>0){
                            alert("操作成功！");
                            //$("#btnsumbit").click();
                            window.location.reload(true);
                        }else
                        {
                            artdialogfailTwo("操作失败,！","","250","100");
                        }
                    }
                });
            }
        }

    </script>
