@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.PatientEntity.PatientEntity>
    @{
        ViewBag.Title = "_Patientlist";
        Layout = null;
    }
    <form action="" method="post" id="submitform">
        <input type="hidden" value="" name="orderDirection" id="orderDirection" />
        <input type="hidden" value="" name="orderField" id="orderField" />
        <table class="gridTable" style="border-collapse: collapse;">
            <thead style="position:absolute;">
                <tr>
                    <th>
                        老客卡号
                    </th>
                    <th>
                        老客姓名
                    </th>
                    <th>
                        新客卡号
                    </th>
                    <th>
                        新客姓名
                    </th>
                    <th>
                        新客开户时间
                    </th>
                    <th>
                        开单时间
                    </th>
                    <th>
                        金额
                    </th>
                    <th>
                        参与员工
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="height:35px;"></tr>
                @foreach (var entity in Model)
                {
                    <tr>
                        <td>@entity.JieshaoMemberNo</td>
                        <td>@entity.JieshaoUserName</td>
                        <td>@entity.MemberNo</td>
                        <td>@entity.UserName</td>
                        <td>@entity.RuHuiTime</td>
                        <td>@entity.CreateTime</td>
                        <td>@entity.ArrearsMoney</td>
                        <td>@entity.OpenID</td>
                    </tr>
                }
                @Html.Raw(HS.SupportComponents.NoRecord.NoRecords(Model.Count, 8))
            </tbody>
        </table>
        @Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new MvcAjaxOptions { UpdateTargetId = "articles", HttpMethod = "Post", DataFormId = "searchForm" }, new { id = "badoopager" })
    </form>

    <script type="text/javascript">
        $(function () {

            //计算head高度，宽度 计算articles高度
            var theadheight = $("#header").height() + $(".accountdiv").height();
            $(".gridTable thead").css("top", (theadheight + 20) + "px");
          
            $('.mainContentRight_bottom').on('scroll', function () {
                let scrollHeight = $('.mainContentRight_bottom').scrollTop();
                let topHeight = $(".ullist").height();
              
                    $(".gridTable thead").css("top", (topHeight + 20) + "px");

              
            })
        })
    </script>

    <script type="text/javascript">
    $(function () {
        window.setTimeout(function () {
        var gridtablewidth = $(".gridTable").width();
        var thlen = $(".gridTable thead th").length;
        let theadWidth = $(".gridTable tbody").width()
        $(".gridTable thead").css("width", theadWidth + "px")
        let tdWidth = (theadWidth / thlen) + "px";
        $(".gridTable thead th").css("width", tdWidth);
        $(".gridTable tr td").css("width", tdWidth);
        }, 100)

      })

    </script>
