@using Webdiyer.WebControls.Mvc;
@model  List<EYB.ServiceEntity.CenterEntity.PerformanceGoalsEntity>
@{
    ViewBag.Title = "公司目标列表";
    Layout = null;
}
<form action="" method="post" id="submitform">
<input type="hidden" value="" name="orderDirection" id="orderDirection" />
<input type="hidden" value="" name="orderField" id="orderField" />
<table class="gridTable" style="border-collapse: collapse;width:100%;">
    <thead>
        <tr>
            <th>
                门店
            </th>
            <th>
                目标时间
            </th>
            <th>
                现金
            </th>
            <th>
                实操
            </th>
            <th>
                客流量
            </th>
            <th>
                项目
            </th>
            <th>
                产品
            </th>
            <th>
                新客量
            </th>
            <th>
                详细
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            <tr>
                <td>@entity.HospitalName
                </td>
                <td>@(entity.Years + "年" + entity.Months + "月")
                </td>
                <td>@entity.Xianjin
                </td>
                <td>
                    @entity.ShiHao
                </td>
                <td>
                    @entity.Traffic
                </td>
                <td>
                    @entity.ProjectsConsumption.ToString()
                </td>
                <td>
                    @entity.ProductConsumption.ToString()
                </td>
                <td>
                    @entity.NewCustomerNumber.ToString()
                </td>
                <td>
                    <a href="#" target="_self" onclick="redirectEditUrl('@entity.GoalsType','@entity.ID')">编辑</a>&nbsp;&nbsp; <a href="#" onclick="redirectProgressUrl1('@entity.ID')">进度</a>
                </td>
            </tr> 
        }
        @*       @Html.Raw(HS.SupportComponents.NoRecord.NoRecords(Model.Count, 10))*@
    </tbody>
</table>
</form>
<script type="text/javascript">
       function redirectEditUrl(gt,id) {
        art.dialog.open("@Url.Content("~/CenterManage/GoalEdit")?Type=Edit&gat="+gt+"&ID="+id, { title: "目标设置", width: 660, height: 470})
    
            //location.href = "@Url.Content("~/CenterManage/GoalEdit")?Type=Edit&gat="+gt+"&ID="+id;
        }

        function redirectProgressUrl1(id) {
            location.href = "@Url.Content("~/CenterManage/GoalsProgressCompany")?ID="+id;
        }

</script>
