@using Webdiyer.WebControls.Mvc;
@using PersonnelManage.Factory.IBLL;
@model PagedList<EYB.ServiceEntity.CashEntity.OrderinfoEntity>
@{
    ViewBag.Title = "疗程卡销售汇总";
    Layout = null;
    IPersonnelManageBLL personbll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IPersonnelManageBLL>();
    var ParentHospitalID = ViewBag.ParentHospitalID;
    var hospitalList = personbll.GetHospitalListByParentID(ParentHospitalID);
    int sl=0;
    decimal hj=0;
}

<link href="../../Content/bootstrap/bootstrap.css" rel="stylesheet" />


<div data-example-id="contextual-panels" class="bs-example">
@if (ViewBag.al)
{
    foreach (var info in hospitalList)
    {
        int shuliang = 0;
        decimal heji = 0;
        <div class="panel panel-info" style="border-color:#FB9294;">
            <div class="panel-heading" style="border-color:#FB9294;background-color:rgba(251,195,196,0.5);" >
                <h3 class="panel-title">@info.Name</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:10%;">
                                    门店
                                </th>
                                <th>
                                    品牌
                                </th>
                                <th>
                                    分类
                                </th>
                                <th>
                                    卡名称
                                </th>
                                <th>
                                    项目名称
                                </th>
                                <th>
                                    数量
                                </th>
                                <th>
                                    总额
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var entity in Model)
                            {
                                if (entity.HospitalID == info.ID)
                                {
                                    
                            <tr>
                                <td>
                                    @entity.HospitalName
                                </td>
                                <td>
                                    @entity.BrandName
                                </td>
                                <td>
                                    @entity.ProductTypeName
                                    
                                </td>
                                <td>
                                    @entity.CardName
                                    
                                </td>
                                <td>
                                   @entity.ProdcuitName 
                                </td>
                                <td>
                                   @entity.Quantity
                                    <label style=" display:none;">@(shuliang += entity.Quantity)</label>
                                </td>
                                <td>
                                    @entity.AllPrice
                                    <label style=" display:none;">@(heji += entity.AllPrice)</label>
                                </td>
                            </tr>
                                }
                            }
                        @Html.Raw(HS.SupportComponents.NoRecord.NoRecords(Model.Count, 7))
                        </tbody>
                        <tfoot>
                           <tr style=" line-height:30px;  height:30px;">
                                <td colspan="5" style=" text-align:right;">总计:</td>
                                <td class="txtshuliang">@shuliang</td>
                               <td class="txtheji">
                                   @heji
                               </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>

            </div>
        </div>
    }
}
else
{
        <div class="panel panel-info" style="border-color:#FB9294;">
            <div class="panel-heading" style="border-color:#FB9294;background-color:rgba(251,195,196,0.5);" >
                <h3 class="panel-title">@ViewBag.hname</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:10%;">
                                    门店
                                </th>
                                <th>
                                    品牌
                                </th>
                                <th>
                                    分类
                                </th>
                                <th>
                                    卡名称
                                </th>
                                <th>
                                    项目名称
                                </th>
                                <th>
                                    数量
                                </th>
                                <th>
                                    总额
                                </th>
                            </tr>
                        </thead>
                    <tbody>
                   
                        @foreach (var entity in Model)
                        {
                            <tr>
                                <td>
                                    @entity.HospitalName
                                </td>
                                <td>
                                    @entity.BrandName
                                </td>
                                <td>
                                    @entity.ProductTypeName

                                </td>
                                <td>
                                    @entity.CardName

                                </td>
                                <td>
                                    @entity.ProdcuitName
                                </td>
                                <td>
                                    @entity.Quantity
                                    <label style=" display:none;">@(sl += entity.Quantity)</label>
                                </td>
                                <td>
                                    @entity.AllPrice
                                    <label style=" display:none;">@(hj += entity.AllPrice)</label>
                                </td>
                            </tr>
                        }
                        @Html.Raw(HS.SupportComponents.NoRecord.NoRecords(Model.Count, 15))
                    </tbody>

                        <tfoot>
                             <tr style=" line-height:30px;  height:30px;">
                                <td colspan="5" style=" text-align:right;">总计:</td>
                                <td class="txtshuliang">@sl</td>
                                 <td class="txtheji">@hj</td>
                            </tr>
                        </tfoot>

                    </table>
                </div>

            </div>
        </div>
}

</div>
<script type="text/javascript">
   $(function () {
        $("#showmessage").css("display", "none");
        $("#searchresult").html("");
            });
</script>


