@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.PatientEntity.PatientEntity>
@using SystemManage.Factory.IBLL;
@using PersonnelManage.Factory.IBLL;
@{
    Layout = null;
    ViewBag.Title = "顾客转介绍";
    var orderField = ViewBag.orderField;
    var orderDirection = ViewBag.orderDirection;
    IPersonnelManageBLL personbll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IPersonnelManageBLL>();
    var hospitalList = personbll.GetHospitalListByParentID(ViewBag.ParentHospitalID);
    //获取区域门店
    var RegionhospitalList = personbll.GetRegionHospitalListByHospitaId(ViewBag.HospitalID);
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache,   must-revalidate" />
    <meta http-equiv="expires" content="Wed,   26   Feb   1997   08:21:57   GMT" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <link href="@Url.Content("~/Content/themes/default/style.css")?v=1.2" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/themes/css/core.css")?v=1.1" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../Content/themes/css/validationEngine.jquery.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/themes/css/template.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/common.js")" type="text/javascript"></script>
    <!--表格-->
    <script src="@Url.Content("~/Scripts/Common/table.js")" type="text/javascript"></script>
    <!--日期-->
    <script src="../../Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <!--弹出框-->
    <script src="../../Scripts/Jquery/plugins/artDialog/artDialog.js?skin=blue" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
</head>
<body style="background: #fff;">
    <div class="toolbar">
        <div class="box-wrap">
            <div class="l-list accountdiv ullist" style="width: 99%; padding: 0px; margin: 5px auto 0px;">
                <ul>
                    @using (Ajax.BeginForm("CustomerRecommendationCount", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
                    {
                        <div class="accountdiv ullist" style="margin-bottom: 0px; width: 98%;">
                            <ul>
                                <li>
                                    <label style="font-weight: normal;">
                                        所属分店：
                                    </label>
                                    <select name="s_HospitalID" id="s_HospitalID" class="select ymxSelect">
                                         @if (RegionhospitalList.Count > 0)
                                    {
                                        foreach (var info in RegionhospitalList)
                                        {
                                        <option @(ViewBag.HospitalID == info.HospitalID ? "selected='selected'" : "") value="@info.HospitalID" >@info.Name</option>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var info in hospitalList)
                                        {
                                        <option @(ViewBag.HospitalID == info.ID ? "selected='selected'" : "") value="@info.ID" >@info.Name</option>
                                        }
                                    }
                                    </select>
                                </li>
                                <li>
                                    <label style="font-weight: normal;">
                                        介绍人：
                                    </label>
                                    <input type="text" id="s_Keyword" class="text-inpu ymxInput"  name="s_Keyword" />
                                </li>
                                <li>
                                    <label style="font-weight: normal;">
                                        开户时间：
                                    </label>
                                    <input type="text" autocomplete="off" class="text-input Wdate input130" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })"
                                                               name="s_StareTime" id="s_StareTime" value="@DateTime.Now.AddDays(-3).ToString("yyyy-MM-dd")" />
                                </li>
                                <li>
                                    <label style="font-weight: normal;">
                                        至
                                    </label>
                                    <input type="text" autocomplete="off" class="text-input Wdate input130"  onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" name="s_Endtime" id="s_Endtime" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                </li>
                                <li>
                                    <input type="hidden" value="@DateTime.Now.Ticks" name="t" id="txtTime" />
                                    <input type="submit" id="btnsumbit" class="submitbutton2 ymxButtonMT" style="float: none;" value="查询" />
                                </li>
                            </ul>
                            <div style="clear: both;">
                            </div>
                        </div>

                    }
                </ul>
                <div style="clear: both">
                </div>
            </div>
        </div>
    </div>
    <div id="articles" style="height: 100%; overflow:auto; margin-top: 5px; width: 99%;">
        @Html.Partial("_CustomerRecommendationCount", Model)
    </div>
    @{Html.RegisterMvcPagerScriptResource();}
    <script src="../../Scripts/Jquery/plugins/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    </div> </div>
</body>
</html>
<script type="text/javascript">

    $("#btnsumbit").click(function () {
        $("#txtTime").val(Math.random());
    })
    $(function () {
        $("th[orderField='@orderField']").addClass("@orderDirection");
        if (window.PIE) {
            $('.rounded').each(function () {
                PIE.attach(this);
            });
        }
        $("#txtUserName").keyup(function () {
            $("#btnsumbit").click();
            //document.getElementById("searchForm").submit();
        });
        ////默认加载有权限的
        //for (var i = 0; i < TheArray.length; i++) {
        //    if (TheArray[i][0] == "True") {
        //        if ("/CenterManage/ReceptionManager" == TheArray[i][1]) {
        //            return;
        //        } else {
        //            self.location = TheArray[i][1];
        //            return;
        //        }
        //    }
        //}
    });

</script>
<script>
    $(function () {
        let acHeight = $(window).height() - $("#footer").height() - $(".mainContentRight_top").height() - $("#header").height();
        $("#articles").css("height", acHeight + "px");
    })
</script>
