@using Webdiyer.WebControls.Mvc;
@model  List<EYB.ServiceEntity.CenterEntity.PerformanceGoalsEntity>
    @using SystemManage.Factory.IBLL;
    @using PersonnelManage.Factory.IBLL;
    @using WarehouseManage.Factory.IBLL;
    @{

        ViewBag.Title = "目标列表";
        Layout = null;
        var orderField = ViewBag.orderField;
        var orderDirection = ViewBag.orderDirection;
        IPersonnelManageBLL personbll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IPersonnelManageBLL>();
        var hospitalList = personbll.GetHospitalListByParentID(ViewBag.ParentHospitalID);
        //查询门店美容师
        IList<EYB.ServiceEntity.PersonnelEntity.HospitalUserEntity> persoList = personbll.GetAllUserByHospitalID(ViewBag.HospitalID, 0);
        persoList = persoList.Where(i => i.IsSys != 1).ToList();
        //获取区域门店
        var regionhospitalList = personbll.GetRegionHospitalListByHospitaId(ViewBag.HospitalID);
        var HospitalID = ViewBag.HospitalID;
    }
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <link href="/Content/themes/default/style.css?v=1.22" rel="stylesheet" type="text/css" media="screen" />
    <link href="/Content/themes/css/core.css?v=1.22" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../Content/themes/css/validationEngine.jquery.css" rel="stylesheet"
          type="text/css" />
    <link href="../../Content/themes/css/template.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="../../Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="/Scripts/Common/common.js" type="text/javascript"></script>
    <!--Panel-->
    <script src="/Scripts/Common/dwz.panel.js" type="text/javascript"></script>
    <script src="/Scripts/Common/dwz.effects.js" type="text/javascript"></script>
    <!--表格-->
    <script src="/Scripts/Common/table.js" type="text/javascript"></script>
    <!--表单验证-->
    <script src="../../Scripts/Jquery/plugins/jquery.validationEngine-zh_CN.js" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/jquery.validationEngine.js" type="text/javascript"></script>
    <!--日期-->
    <script src="../../Scripts/My97DatePicker/WdatePicker.js?v=1.2" type="text/javascript"></script>
    <!--弹出框-->
    <script src="../../Scripts/Jquery/plugins/artDialog/artDialog.js?skin=blue" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
    <script src="../../Scripts/Common/wbox-min.js" type="text/javascript"></script>
    <div id="mainContentBody">
        @*@Html.Partial("~/Views/MoneyManage/_MoneyControl.cshtml")*@
        <div id="mainContentRight" style="width:100%">
            <div class="mainContentRight_bottom" style="position: relative; height: auto;">
                <div class="mainContentRight toolbar">

                    <div class="accountdiv l-list ullist" style="margin: 0px auto; padding: 0px; width: 100%;">
                        <ul id="tdul">
                            @using (Ajax.BeginForm("GoalsList", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))

                            {

                                <li>

                                    <label style="font-weight: normal;">
                                        所属分店：
                                    </label>
                                    <select name="HospitalID" id="HospitalID" class="select ymxSelect">
                                        <option value="0">请选择分店</option>
                                        @if (regionhospitalList.Count > 0)
                                        {
                                            foreach (var info in regionhospitalList)
                                            {
                                                <option @(ViewBag.HospitalID == info.HospitalID ? "selected='selected'" : "") value="@info.HospitalID">@info.Name</option>
                                            }
                                        }
                                        else
                                        {
                                            foreach (var info in hospitalList)
                                            {
                                                <option @(ViewBag.HospitalID == info.ID ? "selected='selected'" : "") value="@info.ID">@info.Name</option>
                                            }
                                        }
                                    </select>
                                </li>


                                <li>
                                    <label style="font-weight: normal;">
                                        类别：
                                    </label>
                                    <select id="GoalsType" name="GoalsType" id="" class="select ymxSelect">
                                        <option value="0">请选择</option>
                                        <option value="1">员工目标</option>
                                        <option value="2">公司目标</option>
                                    </select>
                                </li>
                                <li class="liname" style="display: none;">
                                    <label style="font-weight: normal;" class="tdulli">
                                        员工:
                                    </label>
                                    <select name="UserID" id="UserID" class="select tdulli ">
                                        <option value="0">选择员工</option>
                                        @foreach (var info in persoList)
                                        {
                                            <option value="@info.UserID">@info.UserName</option>
                                        }
                                    </select>
                                </li>
                                <li>
                                    <label style="font-weight: normal;">
                                        年份：
                                    </label>
                                    <select name="Years" id="Years">
                                        @for (int i = DateTime.Now.Year - 5; i < DateTime.Now.Year + 3; i++)
                                        {
                                            <option @(i == DateTime.Now.Year ? "selected=selected" : "") value="@i">@i</option>
                                        }
                                    </select>
                                </li>
                                <li>
                                    <label style="font-weight: normal;">
                                        月：
                                    </label>
                                    <select name="Months" id="Months">
                                        <option value="">全部</option>
                                        <option @(DateTime.Now.Month == 1 ? "selected='selected'" : "") value="01">01</option>
                                        <option @(DateTime.Now.Month == 2 ? "selected='selected'" : "") value="02">02</option>
                                        <option @(DateTime.Now.Month == 3 ? "selected='selected'" : "") value="03">03</option>
                                        <option @(DateTime.Now.Month == 4 ? "selected='selected'" : "") value="04">04</option>
                                        <option @(DateTime.Now.Month == 5 ? "selected='selected'" : "") value="05">05</option>
                                        <option @(DateTime.Now.Month == 6 ? "selected='selected'" : "") value="06">06</option>
                                        <option @(DateTime.Now.Month == 7 ? "selected='selected'" : "") value="07">07</option>
                                        <option @(DateTime.Now.Month == 8 ? "selected='selected'" : "") value="08">08</option>
                                        <option @(DateTime.Now.Month == 9 ? "selected='selected'" : "") value="09">09</option>
                                        <option @(DateTime.Now.Month == 10 ? "selected='selected'" : "") value="10">10</option>
                                        <option @(DateTime.Now.Month == 11 ? "selected='selected'" : "") value="11">11</option>
                                        <option @(DateTime.Now.Month == 12 ? "selected='selected'" : "") value="12">12</option>
                                    </select>
                                </li>


                                <li>
                                    <input type="hidden" value="@DateTime.Now.Ticks" name="t" id="txtTime" />
                                    <input type="submit" id="btnsumbit" class="submitbutton3 ymxButtonMT" style="float: none;" value="查询" />
                                </li>
                                <li style="">
                                    <ul class="icon-list" style="float: none;">
                                        <li><a class="add" style="cursor: pointer;" onclick="redirectUrl1()"><span>添加员工目标</span></a></li>
                                        <li ><a class="add" style="cursor: pointer;" onclick="redirectUrl3()"><span>添加组目标</span></a></li>
                                        <li><a class="add" style="cursor: pointer;" onclick="redirectUrl2()"><span>添加店目标</span></a></li>
                                        @*<li><a id="btnSave" style="cursor: pointer;" class="save"><i></i><span>导出</span></a></li>*@
                                    </ul>
                                </li>
                            }
                        </ul>
                        <div style="clear: both;">
                        </div>
                    </div>
                    <div id="articles" style="height: 100%; overflow: auto; margin-top: 5px; width: 100%;">
                        @Html.Partial("_GoalsList", Model)
                    </div>

                    @{Html.RegisterMvcPagerScriptResource();}
                    <script src="../../Scripts/Jquery/plugins/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $("#btnsumbit").click(function () {
        $("#txtTime").val(Math.random());
    })
    $(function () {

        //定义高度
        var docheight = getDocumentHeight() - $("#header").height() - $("#footer").height() + 15;
        $("#articles").height(docheight - 150);

    });
        //导出
        $("#btnSave").click(function () {
            if ($("#s_HospitalID").val() == "" || $("#s_HospitalID").val() == null) {
                var s_HospitalID =@HospitalID;
            }
            else { var s_HospitalID = $("#s_HospitalID").val(); }
            var s_ID = $("#s_ID").val();
            var s_Keyword = $("#s_Keyword").val();
            var BrandID = $("#BrandID").val();
            var ProjectType = $("#ProjectType").val();
            var s_StartTime = $("#s_StartTime").val();
            var s_EndTime = $("#s_EndTime").val();
            var url = "/CenterManage/ExportPopularityRate?pageNum=1&numPerPage=10000&s_HospitalID=" + s_HospitalID + "&s_Keyword=" + s_Keyword + "&BrandID=" + BrandID + "&ProjectType=" + ProjectType + "&s_StartTime=" + s_StartTime + "&s_EndTime=" + s_EndTime + "&s_ID=" + s_ID;
            window.location.href = url;
        });



        function redirectUrl1() {

         art.dialog.open("@Url.Content("~/CenterManage/GoalEdit")?Type=Add&gat=1", { title: "员工目标设置", width: 600, height: 270})
        }
         function redirectUrl3() {

         art.dialog.open("@Url.Content("~/CenterManage/GoalEdit")?Type=Add&gat=3", { title: "组目标设置", width: 600, height: 270})
        }

         function redirectUrl2() {

         art.dialog.open("@Url.Content("~/CenterManage/GoalEdit")?Type=Add&gat=2", { title: "公司目标设置", width: 600, height: 270})
        }

//        function findjinduUrl(obj)
//        {
//          location.href = "@Url.Content("~/CenterManage/GoalsProgress")?ID="+obj;
//        }



        $(function () {
            $("th[orderField='@orderField']").addClass("@orderDirection");
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });
            }


        });
        $( function(){
            //门店更改修改员工列表
            $("#HospitalID").change( function(){
            var hospitalID=$(this).val();
            $.ajax({
            cache: true,
            type: "POST",
            url: "@Url.Content("~/CenterManage/GetUserList")",
            data: {"HospitalID":hospitalID},
            async: false,
            error: function (request) {
                 artdialogfailTwo("操作失败！","","250","100");
            },
            success: function (data) {
             if(data!=null){
                  $("#UserID").empty();
                  $("#UserID").append(data);
               }
               else{
                alert("员工下拉菜单获取失败!");
               }
            }
        });

            })

            //修改类别时隐藏员工列表
            $("#GoalsType").change( function(){
               var goalsType=$(this).val();
               if(goalsType=="2")
               {
                    $(".liname").css("display","none");
                    $("#UserID").find("option[value='0']").attr("selected",true);
               }else
               {
                   $(".liname").css("display","block");
               }

            })
        })

    </script>
