@{
    ViewBag.Title = "_BaseInfoControl";
    //新建科室
    bool result1 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.OrderinglsManager_Manage_View);
    //科室列表
    bool result2 = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.OrderinglsManager_Introduce_View_b);
}

    <div id="mainContentLeft">
      <form action="@Url.Content("~/DepartmentManage/DepartmentPage")" method="post" id="submitform" >
        <div id="mainContentLeft_top" >
         <a style="background:#fff url('../../Content/themes/default/images/menu/icon1.jpg')  13px -116px no-repeat;"> </a><span>系统设置</span></div>
        <div id="mainContentLeft_center">
            <ul>
                <li onclick='CheckRight(this,"@result1")' redirect="@Url.Content("~/BaseInfo/TheProject")?Type=add"><a  href="javascript:;" ><img width='129' height='110' src='../../Content/themes/images/depart1.png'   /><label>项目管理</label></a></li>
                <li onclick='CheckRight(this,"@result2")' redirect="@Url.Content("~/BaseInfo/TheProduct")" style="margin-left:20px;"><a  href="javascript:;" ><img width='129' height='110' src='../../Content/themes/images/depart2.png'   /><label>产品管理</label></a></li>
            </ul>
        </div>
        
           <div id="mainContentLeft_bottom">
            <ul>
               
                <li  redirect="@Url.Content("~/BaseInfo/CardBusiness")" onclick='CheckRight(this,"@result2")'><span style="background:#fff url('../../Content/themes/default/images/menu/icon1.jpg')  13px -60px no-repeat;"></span><a  href="javascript:;"    >卡项业务设置 <label></label></a> </li>
                <li redirect="@Url.Content("~/BaseInfo/BasicInformation")" onclick='CheckRight(this,"@result2")'><span style="background:#fff url('../../Content/themes/default/images/menu/icon1.jpg')  13px -60px no-repeat;"></span><a  href="javascript:;"     >基础字典设置 <label></label></a> </li>
                 <li  redirect="@Url.Content("~/DepartmentManage/DepartmentPage")" onclick='CheckRight(this,"@result2")'><span style="background:#fff url('../../Content/themes/default/images/menu/icon1.jpg')  13px -60px no-repeat;"></span><a  href="javascript:;"    >部门管理 <label></label></a> </li>
                <li redirect="@Url.Content("~/PersonnelManage/PersonnelManagePage")" onclick='CheckRight(this,"@result2")'><span style="background:#fff url('../../Content/themes/default/images/menu/icon1.jpg')  13px -60px no-repeat;"></span><a  href="javascript:;"     > 员工管理<label></label></a> </li>
               @* <li style=" height:33px;padding-left:13px;"><span  class="submitspan"  ></span><input type="text" name="UserName" class="searchInput" value="搜索" />
                <input type="submit" class="submitbutton"  value="" />
                </li>*@
            </ul>
        </div>

        </form>
    </div>
    

    <script type="text/javascript">
        //登录回车事件
        $(document).keydown(function (event) {
            if (event.keyCode == 13 || event.keyCode == 32) {
                if ($.trim($(".searchInput").val()) != "" && $(".searchInput").val() != "搜索") {
                    document.getElementById("submitform").submit();
                }
            }
        });

    </script>


