@using Webdiyer.WebControls.Mvc;
@using EYB.ServiceEntity.DepartmentEntity;
@model PagedList<DepartmentEntity>
@{
    ViewBag.Title = "部门管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="@Url.Content("~/Content/themes/css/core.css")?v=1.1" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../Content/themes/css/template.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Common/common.js" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/artDialog/artDialog.js" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
</head>
<style>
    table { width: 98%; border: 1px #ccc solid; }
    thead { }
     tr { height:30px; line-height: 30px; }
    thead th { color: Black; font-size: 16px; height: 35px; }
    tbody tr:nth-child(1n) { height: 40px; background-color: #E6E6E6; }
    tbody tr:nth-child(2n) { height: 40px; background-color: #D4D4D4; }
    tbody td:hover { background-color: #4EC9E5;color:#fff; }
    tbody td { padding-left: 8px; text-align:center; border-bottom:1px dashed #ccc; }
</style>
<body style="background: #fff;">
    @using (Ajax.BeginForm("AddBrank", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles",HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
    {
        <div class="accountdiv" style="margin-bottom: 0px;">
            品牌名称：<input type="text" name="Name" id="Name"  class="text-input input130" style="height:20px;" value=" " />
            <input type="submit" class="submitbutton2" id="btnsearch" style="float: none;" value="查 询" />
        </div>
    }
    <div id="articles" class="mainContentRight_bottom" style="height: 400px; overflow: hidden;
                    margin-top: 5px; width: 100%;">
                    @Html.Partial("_AddBrank", Model)
     </div>


    
</body>
</html>
<div id="mainContentBody">
    @Html.Partial("_BaseInfoControl")
    <div id="mainContentRight">
        <div class="mainContentRight_top">
            <label class="Soliddots">
                ●</label>
            部门列表 (<span>@Model.TotalItemCount</span>) <a href="@Url.Content("~/DepartmentManage/DepartmentNew")?Type=add" class="addbutton">
                新建</a>
        </div>
        <div class="mainContentRight_bottom clearfix">
            @foreach (var info in Model)
            {
                <div class="mainContentRight_block">
                    <table class="mainContentRight_blocktable">
                        <tr style="background: #c4c4c4;">
                            <td style="color: #fff; padding: 0 10px;">
                                @info.ID
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 16px; color: Black; padding: 0 10px;">
                                @info.Name
                            </td>
                        </tr>
                        <tr style="height: 25px;">
                            <td>
                                <div style="height: 25px; line-height: 25px; overflow: hidden; padding: 0 5px;">
                                    <span style="color: Black;">部门员工：</span> @info.UserName
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 20px;">
                            <td style="color: Black; padding: 0 10px;">
                                部门介绍：
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="height: 62px; line-height: 20px; overflow: hidden; padding: 0 5px;">
                                    @info.Memo
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a class="submitbutton2" style="margin-left:70px;margin-top:5px;" href="@Url.Content("~/DepartmentManage/DepartmentDetail")?ID=@info.ID">
                                    部门详情</a>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
        @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageindex", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new { id = "badoopager" })
    </div>
</div>
