@using Webdiyer.WebControls.Mvc;
@using PersonnelManage.Factory.IBLL;
@model PagedList<EYB.ServiceEntity.MoneyEntity.ItemDetailsConsumptionEntity>
@{
    ViewBag.Title = "详细";
    IPersonnelManageBLL personbll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IPersonnelManageBLL>();
    var hospitalList = personbll.GetHospitalListByParentID(ViewBag.ParentHospitalID);
 
}
<div id="mainContentBody">
    @Html.Partial("_MoneyControl")
        <div class="mainContentRight_top">
            <label class="Soliddots">
    <div id="mainContentRight">
                ●</label>
            实操消耗</div>
        <div class="mainContentRight_bottom">
           @using (Ajax.BeginForm("ItemDetailsConsumption", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
            {
                <div class="accountdiv" style="margin-bottom: 0px;">
                    <label style="font-weight: normal;">
                        所属分店：</label>
                    <select name="HospitalID" id="HospitalID" class="select" style="height: 25px; width: 100px;">
                        <option value="0">请选择分店</option>
                        @foreach (var info in hospitalList)
                        {
                            <option value="@info.ID">@info.Name</option>
                        }
                    </select>
                    <label style="font-weight: normal;">
                        顾客名称:</label>
                        <input type="text" name="UserName" style=" width:85px;" />

                    <label style="font-weight: normal;">
                        时间:</label>
                    <input type="text" class="text-input Wdate" style=" width:85px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="StartTime" id="txtStartTime" value="@DateTime.Now.ToString("yyyy-MM-dd 00:00:01")" />
                    <label style="font-weight: normal;">
                        至</label><input type="text" style=" width:85px;" class="text-input Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="EndTime" id="txtEndTime" value="@DateTime.Now.ToString("yyyy-MM-dd 23:59:59")" />
                    <input type="submit" id="btnsumbit" class="submitbutton2" style="float: none;" value="查询" />
                </div>
            }
            <div id="articles" style="margin-top: 5px;">
                @Html.Partial("_ItemDetailsConsumption", Model)
            </div>
            @{Html.RegisterMvcPagerScriptResource();}
            <script src="../../Scripts/Jquery/plugins/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

        </div>
    </div>
</div>
