@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.CashEntity.OrderinfoEntity>
    @using SystemManage.Factory.IBLL;
    @using PersonnelManage.Factory.IBLL;
    @using DepartmentManage.Factory.IBLL;
    @using WarehouseManage.Factory.IBLL;
    @using EYB.ServiceEntity.WarehouseEntity;

    @{
        ViewBag.Title = "员工业绩明细";
        var orderField = ViewBag.orderField;
        var orderDirection = ViewBag.orderDirection;
        ISystemManageBLL systemBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<ISystemManageBLL>();//基础数据
        IPersonnelManageBLL personbll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IPersonnelManageBLL>();
        IDepartmentManageBLL departbll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IDepartmentManageBLL>();
        var hospitalList = personbll.GetHospitalListByParentID(ViewBag.ParentHospitalID);
        var PersonList = personbll.GetAllUserByHospitalID(ViewBag.HospitalID, 0);
        //获取部门选择框
        var departList = departbll.GetDepartmentListByHospitalID(ViewBag.HospitalID, 1);
        bool HasPermission = Common.Manager.LoginHospitalUserManager.HasPermission(Common.Define.PermissionDefine.HospitalManager_Manage_跨店权限);
        var ordertype = 0;
        //获取区域门店
        var RegionhospitalList = personbll.GetRegionHospitalListByHospitaId(ViewBag.HospitalID);

        //汪 按销售需求给加个品牌筛选 begin 2019-8-1
        IWarehouseManageBLL wareBll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IWarehouseManageBLL>();
        var parentHospitalID = Common.Manager.LoginHospitalUserManager.GetLoginInfo().ParentHospitalID;//获取当前用户的父点ID
                                                                                                       //获取品牌列表
        IList<BrandEntity> brandlist = new List<BrandEntity>();
        brandlist = wareBll.GetBrandListNoPage(parentHospitalID);
        var HospitalID = ViewBag.HospitalID;
    }
    <div id="mainContentBody">
        @Html.Partial("_MoneyControl")
        <div id="mainContentRight">
            <div class="mainContentRight_top">
                <label class="Soliddots"></label>
                员工销售明细 (<span id="sp">@Model.TotalItemCount</span>)
            </div>
            <div class="mainContentRight_bottom" style="position: relative; height: auto; overflow:hidden; ">
                <div class="mainContentRight overflowhidden">
                    @using (Ajax.BeginForm("PerformanceDetails", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
                    {
                        <input type="hidden" value="" name="orderDirection" id="orderDirection" />
                        <input type="hidden" value="" name="orderField" id="orderField" />
                        <div class="accountdiv" style="margin-bottom: 0px;width:98%;">
                            @if (HasPermission)
                            {
                                <label style="font-weight: normal;">
                                    所属分店：
                                </label>
                                <select name="s_HospitalID" id="s_HospitalID" class="select ymxSelect" >
                                    <option value="0">请选择分店</option>
                                    @if (RegionhospitalList.Count > 0)
                                    {
                                        foreach (var info in RegionhospitalList)
                                        {
                                            <option @(ViewBag.HospitalID == info.HospitalID ? "selected='selected'" : "") value="@info.HospitalID">@info.Name</option>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var info in hospitalList)
                                        {
                                            <option @(ViewBag.HospitalID == info.ID ? "selected='selected'" : "") value="@info.ID">@info.Name</option>
                                        }
                                    }
                                </select>
                            }
                            <label style="font-weight: normal;">
                                所属组别：
                            </label>
                            <select name="DepartmentID" id="DepartmentID" class="select ymxSelect" >
                                <option value="0">请选择分组</option>
                                @foreach (var info in departList)
                                {
                                    <option value="@info.ID">@info.Name</option>
                                }
                            </select>
                            <label style="font-weight: normal;">
                                员工姓名：
                            </label>
                            <select class="select s_FollowUpUserID ymxSelect" name="s_FollowUpUserID" id="s_FollowUpUserID" >
                                <option value="0">请选择员工</option>
                                @foreach (var info in PersonList)
                                {
                                    <option value="@info.UserID">@info.UserName</option>
                                }
                            </select>
                            <label style="font-weight: normal;">
                                顾客姓名：
                            </label>
                            <input type="text" id="s_Name" name="s_Name" class="ymxInput" style="width: 100px;" />

                            <label style="font-weight: normal;">
                                项目名称：
                            </label>
                            <input type="text" id="s_Keyword" name="s_Keyword" class="ymxInput" style="width: 100px;" />
                            @*汪 增加品牌条件筛选 beign 2019-8-1*@
                            <label style="font-weight: normal;">
                                所属品牌：
                            </label>
                            <select name="BrandID" id="BrandID" class="select ymxSelect" style="width: 100px;">
                                <option value="0">请选择品牌</option>
                                @foreach (var info in brandlist)
                                {
                                    <option value="@info.ID">@info.Name</option>
                                }
                            </select>
                            @*汪  end*@

                            <label style="font-weight: normal;">
                                业务类型:
                            </label>
                            <select name="s_ProductType" id="s_ProductType" class="ymxSelect" style="width: 95px;">
                                <option @(ordertype == 0 ? "selected='selected'" : "" ) value="0">请选择类型</option>
                                <option @(ordertype == 4 ? "selected='selected'" : "" ) value="4">产品</option>
                                <option @(ordertype == 5 ? "selected='selected'" : "" ) value="5">单项</option>
                                <option @(ordertype == 2 ? "selected='selected'" : "" ) value="2">储值卡</option>
                                <option @(ordertype == 6 ? "selected='selected'" : "" ) value="6">疗程卡</option>
                                <option @(ordertype == 8 ? "selected='selected'" : "" ) value="8">还款</option>
                                <option @(ordertype == 9 ? "selected='selected'" : "" ) value="9">退换</option>
                            </select>

                            <label style="font-weight: normal;">
                                开始时间：
                            </label>
                            <input type="text" autocomplete="off" class="text-input Wdate s_StareTime input130"  onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })"
                                   name="s_StareTime" id="s_StareTime" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            <label style="font-weight: normal;">
                                至：
                            </label><input type="text" autocomplete="off"  class="text-input Wdate input130 s_Endtime" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })"
                                           name="s_Endtime" id="s_Endtime" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            <input type="checkbox" id="s_ID" name="s_ID" value="1" />跨店查询
                            <input type="hidden" value="@DateTime.Now.Ticks" name="t" id="txtTime" />
                            <input type="submit" id="btnsumbit" class="submitbutton2" style="float: none;" value="查询" />
                            <input type="button" class="submitbutton2" id="btnSave" style="float: none;" value="导出" />
                        </div>
                    }
                    <div id="articles" style="height: 100%; overflow:auto; margin-top: 5px;
                    width: 100%;">
                        @Html.Partial("_PerformanceDetails", Model)
                    </div>
                    @{Html.RegisterMvcPagerScriptResource();}
                    <script src="../../Scripts/Jquery/plugins/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
                </div>
            </div>
        </div>
    </div>
    <script src="../../Scripts/Common/placeholder.js" type="text/javascript"></script>
    <script type="text/javascript">

        var docheight = getDocumentHeight() - $("#header").height() - $("#footer").height() + 15;
        $("#articles").height(docheight - 150);

        $("#btnsumbit").click(function () {
            $("#txtTime").val(Math.random());
        })

        //$('#s_Keyword').placeholder({
        //    word: '项目名称'
        //})
        $("#btnsumbit").click(function () {
            $("#txtTime").val(Math.random());
        })

        $(function () {
            $("#txtUserName").keyup(function () {
                $("#btnsumbit").click();
                //document.getElementById("searchForm").submit();
            });
        });
        //导出
        $("#btnSave").click(function () {
            if ($("#HospitalID").val() == "" || $("#HospitalID").val() == null) {
                var HospitalID =@HospitalID;
            }
            else { var HospitalID = $("#HospitalID").val(); }
            //var s_HospitalID = $("#s_HospitalID").val();

            var DepartmentID = $("#DepartmentID").val();
            var s_FollowUpUserID = $("#s_FollowUpUserID").val();
            var s_Keyword = $("#s_Keyword").val();
            var s_StareTime = $("#s_StareTime").val();
            var s_Endtime = $("#s_Endtime").val();
            var s_ProductType = $("#s_ProductType").val();
            var s_ID = $("#s_ID").val();

            var url = "/MoneyManage/ExportPerformanceDetails?s_HospitalID=" + s_HospitalID + "&DepartmentID=" + DepartmentID + "&s_FollowUpUserID=" + s_FollowUpUserID + "&s_Keyword=" + s_Keyword + "&s_StareTime=" + s_StareTime + "&s_Endtime=" + s_Endtime + "&s_ProductType=" + s_ProductType + "&s_ID=" + s_ID;
            window.location.href = url;
        });

        $("#s_HospitalID").change(function () {
            var id = $("#s_HospitalID").val(); //获取所选门店
            $.ajax({
                type: "post", //使用get方法访问后台
                dataType: "text", //返回json格式的数据
                url: "/MoneyManage/GetHospltalUser",
                data: { "HospitalID": id },
                async: false,
                success: function (data) {
                    if (data != null) {
                        $("#s_FollowUpUserID").empty();
                        $("#s_FollowUpUserID").append(data.toString());
                    }
                },
                error: function () {
                    alert("数据请求失败!");
                }
            });

        })
    </script>
