@using Webdiyer.WebControls.Mvc;
@using CashManage.Factory.IBLL;
@using EYB.ServiceEntity.CashEntity;
@using SystemManage.Factory.IBLL;
@model PagedList<EYB.ServiceEntity.MoneyEntity.StaffPerformanceEntity>
@using HS.SupportComponents;
@{
    ViewBag.Title = "支付界面";
    Layout = null;
    var orderNo = Request["orderNo"];
    ICashManageBLL cashBll = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<CashManage.Factory.IBLL.ICashManageBLL>();
    ISystemManageBLL systemBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<ISystemManageBLL>();
    BaseinfoManage.Factory.IBLL.IBaseinfoBLL baseinfoBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<BaseinfoManage.Factory.IBLL.IBaseinfoBLL>();
    var uname = ViewBag.Username;
    var opentemcard = systemBLL.GetUserSettingsValue(ViewBag.HospitalID, "ISOpenCourseTreatment");       //是否开启疗程卡打印 1开启 2关闭
    //获取订单详情
    var entity = cashBll.GetOrderModel(new OrderEntity { OrderNo = orderNo });
    //获取订单支付方式
    var payList = cashBll.GetPaymentOrderProductList(orderNo);
    //获取订单产品详情
    var orderList = cashBll.GetOrderinfoAndJoinUser(new OrderinfoEntity { OrderNo = orderNo }).OrderByDescending(i => i.CardType).ToList();
    var newlist = Model.GroupBy(i => i.UserID).ToList();

}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="@Url.Content("~/Content/themes/default/style.css")?v=1.2" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/themes/css/core.css")?v=1.1" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../Content/themes/css/template.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/artDialog/artDialog.js" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/common.js")" type="text/javascript"></script>
    <!--Panel-->
    <script src="@Url.Content("~/Scripts/Common/dwz.panel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/dwz.effects.js")" type="text/javascript"></script>
    <script src="../../Scripts/Print/LodopFuncs.js" type="text/javascript"></script>
    <style type="text/css">
        .droptab { width: 99%; border: 1px solid #ccc; border-collapse: collapse; }
        .droptab thead { background: #e7f6ff; border: 1px solid #ccc; }
        .droptab thead tr { height: 18px; }
        .droptab thead tr th { border: 1px solid #ccc; }
        .droptab tbody { }
        .droptab tbody tr { border-bottom: 1px dashed #ccc; line-height: 26px; height: 26px; }
        .droptab tbody tr td { text-align: center; border: 1px solid #ccc; }
        .droptab tbody tr td input { border: 0px solid #ccc; width: 50px; margin: 0; padding: 0; height: 100%; }
        .trusername { background: #D4E8E3; }
        .changebg { background: #C2FAE6; }
    </style>
</head>
<body style="background: #fff;">
    <div style="width: 100%;" class="clearfix ">
        <div style="width: 48%; overflow: hidden; float: left; margin: 0px; margin-left: 10px;">
            <fieldset style="border-color: #ccc;">
                <legend style="color: Green; font-size: 16px;">&nbsp;&nbsp;订单详情&nbsp;&nbsp;</legend>
                <div class="mainContentRight_bottom" style="position: relative; margin-top: 0px;">
                    <table class="mainContentRight_bottomnewdepart" id="mainContentRight_bottomnewdepart">
                        <tr>
                            <td>
                                订单类型：
                            </td>
                            <td style="color: Blue; font-size: 20px;">
                                @EYB.Web.Code.PageFunction.GetorderType(entity.OrderType)
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 80px;">
                                订单编号：
                            </td>
                            <td>
                                @entity.OrderNo
                            </td>
                        </tr>
                        <tr>
                            <td>
                                订单时间：
                            </td>
                            <td>
                                @entity.CreateTime
                            </td>
                        </tr>
                        <tr>
                            <td>
                                订单总额：
                            </td>
                            <td>
                                @entity.Price
                            </td>
                        </tr>
                        <tr>
                            <td>
                                欠款：
                            </td>
                            <td>
                                <label style="color: Red;">
                                    @entity.QianPrice</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                客户名称：
                            </td>
                            <td>
                                @entity.UserName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                备注：
                            </td>
                            <td>
                                @entity.Name
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>
        <div style="width: 48%; overflow: hidden; float: left; margin: 0px; margin-left: 10px;">
            <fieldset style="border-color: #ccc;">
                <legend style="color: Green; font-size: 16px;">&nbsp;&nbsp;支付方式&nbsp;&nbsp;</legend>
                <div class="mainContentRight_bottom" style="position: relative; margin-top: 0px;"
                    id="">
                    <table class="gridTable" style="height: auto; border-collapse: collapse;" cellpadding="0"
                        cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    名称
                                </th>
                                <th>
                                    支付方式
                                </th>
                                <th>
                                    支付金额
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var info in payList)
                            {
                                <tr>
                                    <td>@info.ProjectName
                                    </td>
                                    <td>
                                        @(info.PayType > 2 ? info.Name : info.PayName)
                                    </td>
                                    <td>
                                        @info.PayMoney
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
    <div style="width: 98%;">
        <fieldset style="width: 100%;">
            <legend style="color: Green; font-size: 16px;">&nbsp;&nbsp;员工业绩列表&nbsp;&nbsp;</legend>
            <form id="myform2" action="" class="clearfix" method="post">
            <table class="droptab">
                <thead>
                    <tr>
                        <th rowspan="3" style=" width:60px;">
                            类型
                        </th>
                        <th rowspan="3" style=" width:80px;">
                            项目名称
                        </th>
                        <th rowspan="3" style=" width:40px;">
                            数量
                        </th>
                        <th rowspan="3" style=" width:50px;">
                            金额
                        </th>
                        <th colspan="16">
                            业绩明细
                        </th>
                    </tr>
                    <tr>
                        <th colspan="5">
                            现金
                        </th>
                        <th colspan="4">
                            卡扣
                        </th>
                        <th rowspan="2">
                            消耗
                        </th>
                        <th rowspan="2">
                            手工
                        </th>
                        <th rowspan="2">
                            奖励
                        </th>
                        <th rowspan="2">
                            项目数
                        </th>
                    </tr>
                    <tr>
                        <th>
                            充值业绩
                        </th>
                        <th>
                            疗程卡业绩
                        </th>
                        <th>
                            单项业绩
                        </th>
                        <th>
                            产品业绩
                        </th>
                        <th>
                            还款业绩
                        </th>
                        <th>
                            卡扣疗程
                        </th>
                        <th>
                            卡扣项目
                        </th>
                        <th>
                            卡扣产品
                        </th>
                        <th>
                            卡扣还款
                        </th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var ninfo in newlist)
                    {
                        <tr class="trusername">
                            <td colspan="17" style="text-align: left; line-height: 27px;">
                                @EYB.Web.Code.PageFunction.GetHospitalName(ninfo.Key)
                            </td>
                        </tr>
                        foreach (var info in Model)
                        {
                            if (ninfo.Key == info.UserID)
                            { 
                        <tr>
                            <td>
                                <input type="hidden" name="ID" value="@info.ID" />
                                @info.TypeName
                            </td>
                            <td>@info.ProjectName
                            </td>
                            <td>@info.Quantity
                            </td>
                            <td>@info.Price
                            </td>
                            <td>
                                <input type="text" name="Yeji_Chuzhika" onkeyup="CheckInputIntFloatReturn0(this)" value="@info.Yeji_Chuzhika" />
                            </td>
                            <td>
                                <input type="text" name="Yeji_Liaochengka" onkeyup="CheckInputIntFloatReturn0(this)" value="@info.Yeji_Liaochengka" />
                            </td>
                            <td>
                                <input type="text" name="Yeji_Xiangmu" onkeyup="CheckInputIntFloatReturn0(this)" value="@info.Yeji_Xiangmu" />
                            </td>
                            <td>
                                <input type="text" name="Yeji_Chanpin" onkeyup="CheckInputIntFloatReturn0(this)" value="@info.Yeji_Chanpin" />
                            </td>
                            <td>
                                <input type="text" name="Yeji_huankuan" onkeyup="CheckInputIntFloatReturn0(this)" value="@info.Yeji_huankuan" />
                            </td>
                            <td>
                                <input type="text" name="KakouYeji_Liaocheng" onkeyup="CheckInputIntFloatReturn0(this)" value="@info.KakouYeji_Liaocheng" />
                            </td>
                            <td>
                                <input type="text" name="KakouYeji_Xiangmu" onkeyup="CheckInputIntFloatReturn0(this)" value="@info.KakouYeji_Xiangmu" />
                            </td>
                            <td>
                                <input type="text" name="KakouYeji_Chanpin" onkeyup="CheckInputIntFloatReturn0(this)" value="@info.KakouYeji_Chanpin" />
                            </td>
                            <td>
                                <input type="text" name="KakouYeji_Huankuan" onkeyup="CheckInputIntFloatReturn0(this)" value="@info.KakouYeji_Huankuan" />
                            </td>
                            <td>
                                <input type="text" name="XiaoHao_Liaocheng" onkeyup="CheckInputIntFloatReturn0(this)" value="@info.XiaoHao_Liaocheng" />
                            </td>
                            <td>
                                <input type="text" name="ShouGong" onkeyup="CheckInputIntFloatReturn0(this)" value="@info.ShouGong" />
                            </td>
                            <td>
                                <input type="text" name="Reward" onkeyup="CheckInputIntFloatReturn0(this)" value="@info.Reward" />
                            </td>
                            <td>
                                <input type="text" name="ProjectNumber" onkeyup="CheckInputIntFloatReturn0(this)" value="@info.ProjectNumber" />
                            </td>
                        </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <input type="button" id="btn" class="submitbutton2" value="保存" onclick="SaveData()" />
            </form>
        </fieldset>
    </div>
</body>
</html>
<script type="text/javascript">
    //保存
    function SaveData() {
        if (!dataexamine()) {
            alert("项目数不能大于1!");
            return false;
        }

        $.ajax({
            type: "post", //使用get方法访问后台 
            dataType: "text", //返回json格式的数据
            url: getControllerUrl("MoneyManage", "SavePerformance"),
            data: $('#myform2').serialize(),
            success: function (data) {
                if (data > 0) { alert("保存成功!"); } else { alert("保存失败!"); }
            },
            error: function () {
                alert("对不起！系统出错啦，我们会尽快跟踪处理的！");
            }
        });
    }


    function dataexamine() {
        var isOk = true;
        var list = $("#tbody").find("input[name='ProjectNumber']");
        list.each(function () {
            if ($(parseFloat($(this).val())) > 1) {
                isOk = false;
            }
        })
        return isOk;
    }

    //修改变色处理
    $("input").keyup(function () {
        $(this).addClass("changebg");
    })
  
</script>
