@using Webdiyer.WebControls.Mvc;
@model PagedList<EYB.ServiceEntity.ShareShopEntity.Statistics.StatisticsShareholderBonus>
    @{
        Layout = null;
    }
    <form action="" method="post" id="searchForm">
        <input type="hidden" value="" name="orderDirection" id="orderDirection" />
        <input type="hidden" value="" name="orderField" id="orderField" />
        <table class="gridTable" id="proudectList" style="height: auto; border-collapse: collapse; margin: 0px;width:100%;"
               cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="check_box" class="checkbox" onclick="selectall('checkbox')" />
                    </th>
                    <th>
                        股东姓名
                    </th>
                    <th>
                        人脉数
                        @*</th>
                            <th>
                                一级人脉
                            </th>
                            <th>
                               二级人脉
                            </th>*@

                    <th>
                        人脉消费总金额
                    </th>
                    @*<th>
                            一级人脉消费总金额
                        </th>
                        <th>
                            二级人脉消费总金额
                        </th>*@
                    <th>
                        贡献毛利
                    </th>
                    <th>
                        股东分红
                    </th>
                    @*<th>
                            累计一级人脉分红
                        </th>
                        <th>
                            累计二机人脉分红
                        </th>*@
                    <th>入股时间</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entity in Model)
                {

                    <tr class="ableclick">
                        <td>
                            <input type="checkbox" name="checkbox" class="checkbox" value="@entity.Id" />
                        </td>
                        <td>
                            @entity.UserName
                        </td>
                        <td>
                            @entity.NetworkingCount
                        </td>
                        <td>
                            @entity.NetworkingBouns
                        </td>
                        <td>
                            @entity.GrossProfit
                        </td>
                        <td>
                            @entity.TotalBouns
                        </td>
                        <td>
                            @entity.JoinTime
                        </td>
                        <td>
                            @entity.Remarks
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNum", PagerItemsSeperator = "", ShowPageIndexBox = false, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new { id = "badoopager" })
    </form>
    <script type="text/javascript">
        $(function () {
            $("#sp").text('@Model.TotalItemCount');
        })
    </script>

