@using BaseinfoManage.Factory.IBLL;
@using SystemManage.Factory.IBLL;
@using EYB.ServiceEntity.CashEntity;
@using HS.SupportComponents;
@using EYB.ServiceEntity.BaseInfo;
@using EYB.ServiceEntity.SystemEntity;
@using WarehouseManage.Factory.IBLL;
@using EYB.ServiceEntity.WarehouseEntity;
@using ShareShopFactory.Factory.IBLL;
@using EYB.ServiceEntity.ShareShopEntity;
@{
    var type = Request["Type"];
    var id = Request["ID"];
    var title = Request["title"];
    Layout = null;
    BonusSchemeEntity entity = new BonusSchemeEntity();

    IShareShopBLL shareshopBLL = HS.SupportComponents.Base.XmlRegistration.Current.GetResovleContainer().Resolve<IShareShopBLL>();

    if (!String.IsNullOrEmpty(id))
    {
        entity = shareshopBLL.GetBonusScheme(ConvertValueHelper.ConvertIntValue(id));
    }
    var ParentHospitalID = ViewBag.ParentHospitalID;//总门店ID
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>@title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache,   must-revalidate" />
    <meta http-equiv="expires" content="Wed,   26   Feb   1997   08:21:57   GMT" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <!--位置不能颠倒，否则影响样式-->
    <link href="@Url.Content("~/Content/themes/default/style.css")?v=1.21" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/themes/css/core.css")?v=1.21" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/themes/css/addactive.css")?v=1.21" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../Content/themes/css/validationEngine.jquery.css" rel="stylesheet"
          type="text/css" />
    <link href="../../Content/themes/css/template.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/common.js")" type="text/javascript"></script>
    <!--Panel-->
    <script src="@Url.Content("~/Scripts/Common/dwz.panel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/dwz.effects.js")" type="text/javascript"></script>
    <!--表格-->
    <script src="@Url.Content("~/Scripts/Common/table.js")" type="text/javascript"></script>
    <!--表单验证-->
    <script src="../../Scripts/Jquery/plugins/jquery.validationEngine-zh_CN.js" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/jquery.validationEngine.js" type="text/javascript"></script>
    <!--日期-->
    <script src="../../Scripts/My97DatePicker/WdatePicker.js?v=1.2" type="text/javascript"></script>
    <!--弹出框-->
    <script src="../../Scripts/Jquery/plugins/artDialog/artDialog.js?skin=blue" type="text/javascript"></script>
    <script src="../../Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
    <script src="../../Scripts/Common/wbox-min.js" type="text/javascript"></script>

</head>
<body style="background: #fff;">
    <form id="myform" action="@Url.Content("~/ShareShop/ShareShopAddOrEdit")" class="clearfix" method="post">
        <table style="margin-top:30px;">
            <tr>
                <th style="text-align:center;">分红方案</th>
                <td style="text-align:center;">
                    <input type="text" id="txtFenhongName" value="@entity.Name" name="Name" /><input type="hidden" value="@entity.Id" name="ID" />
                </td>
            </tr>
            <tr>
                <th style="text-align:center;line-height:50px;">一级毛利分红比例%：</th>
                <td style="text-align:center;"><input type="text" id="txtYiji" value="@entity.OneBonus" name="OneBonus" placeholder="0" />%</td>
            </tr>
            <tr>
                <th>二级毛利分红比例%</th>
                <td style="text-align:center"><input type="text" id="txtYiji" value="@entity.TwoBonus" name="TwoBonus" placeholder="0" />%</td>
            </tr>
        </table>
        <div style="text-align:center;margin-top:20px;line-height:100px;height:100px;padding-left:120px">
            <input type="button" onclick="saveAs()"  id="btnsave" class="submitbutton2" value="确定" style="border: none; background-color: rgb(91, 155, 213);color: rgb(255, 255, 255); cursor: pointer; text-decoration: none; " />
            <input type="button" onclick="closeedNorefresh()" class="submitbutton2" value="关 闭" style="border: none; background-color: rgb(91, 155, 213);color: rgb(255, 255, 255); cursor: pointer; text-decoration: none;" />
        </div>
    </form>
</body>
<script type="text/javascript">

    //提交操作
    function saveAs() {
        $("#btnsave").attr("disabled", "disabled");
        if ($("#txtFenhongName").val() == "") {
            alert("不能为空");
            return;
        }
        $.ajax({
            cache: true,
            type: "POST",
            url: "@Url.Content("~/ShareShop/ShareShopAddOrEdit?Type=")@type",
            data: $('#myform').serialize(), // 你的formid
            async: false,
            error: function (request) {
                artdialogfailTwo("操作失败！", "", "250", "100");
                $("#btnsave").attr("disabled", false);
            },
            success: function (data) {
                if (data > 0) {
                    alert("保存成功!");
                    closeed();
                } else if (data = -1) {
                    artdialogfail("名称相同，重复,请重新填写名称", "", "250", "100");
                    $("#btnsave").attr("disabled", false);
                } else {
                    artdialogfailTwo("操作失败,员工不能相同！", "", "250", "100");
                    $("#btnsave").attr("disabled", false);
                }
            }
        });
    }
</script>
</html>
