@model EYB.Web.Models.ShareShop.Tabs.SelectShareholderActivityModel
@*@model PagedList<EYB.ServiceEntity.ShareShopEntity.ShareholderActivityEntity>*@
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache,   must-revalidate" />
    <meta http-equiv="expires" content="Wed,   26   Feb   1997   08:21:57   GMT" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <link href="@Url.Content("~/Content/themes/default/style.css")?v=1.2" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/themes/css/core.css")?v=1.1" rel="stylesheet" type="text/css" media="screen" />
    <link href="/Content/themes/css/template.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="/Scripts/Jquery/plugins/artDialog/artDialog.js" type="text/javascript"></script>
    <script src="/Scripts/Jquery/plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
    <style>
        .accountdiv { width: 100%; }

        .gridTable { width: 100%; }
    </style>
</head>
<body style="background: #fff;overflow-y: hidden;">
    <div id="articles" class="mainContentRight_bottom" style="height: 100%;  margin-top: 5px;">
        @using (Ajax.BeginForm("SelectShareholderActivity", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "articles", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
            {
            <div class="accountdiv ullist">
                <label style="font-weight: normal; ">活动名称：</label>
                <input type="text" name="ActivityName" id="Name" class="text-input input130" style="height:20px;" value="@Model.Result.ActivityName">
                <input type="submit" id="btnsumbit" class="submitbutton2" style="float: none;" value="查询">
            </div>
                <input type="hidden" value="" name="orderDirection" id="orderDirection" />
                <input type="hidden" value="" name="orderField" id="orderField" />
        }
        <div id="articles" class="" style="overflow: hidden; margin-top: 5px;width: 100%;">
            @Html.Partial("Tabs/_SelectShareholderActivity", Model.Results)
        </div>
        @{Html.RegisterMvcPagerScriptResource();}

        <div style="margin: 20px; margin-left: 0px;" class="clearfix">
            <input type="button" class="submitbutton2" value="确 定" onclick="FullValue()" />
            <input class="submitbutton2" type="button" onclick="closeed()" value="取 消" />
        </div>
    </div>
</body>
</html>
<script type="text/javascript">

    $(function () {
        $("#articles").delegate("tr.ableclick", "dblclick", function () {
            FullValue();
        });
        $("#articles").delegate("tr.ableclick", "click", function () {
            $(this).find("input:radio").attr("checked", "checked");
            $("tbody tr").css("background", "");
            $(this).css("background", "#E7F6FF");
        });
        $("#MemberNo").keyup(function () {
            $("#btnsearch").click();
            //document.getElementById("searchForm").submit();
        });
        $("#UserName").keyup(function () {
            $("#btnsearch").click();
            //document.getElementById("searchForm").submit();
        });
        $("#Mobile").keyup(function () {
            $("#btnsearch").click();
            //document.getElementById("searchForm").submit();
        });

        $("#HospitalID").change(function () {
            $("#btnsearch").click();
        });
    });

    function FullValue() {
        var value = $("input[name='radioList']:checked").val();
        if (value == null) {
            alert("请选择活动");
            return false;
        }



        if (@(Model.ShreholderIds == null ? 0: Model.ShreholderIds.Length)>0) {
            $.post('@Url.Action("SendActivityGivecard")?shareholderIds=@(Model.ShreholderIds == null ?"" : string.Join(",",Model.ShreholderIds))',{activityId:value.split('|')[0]},function(data) {
                if (data.IsError) {
                    alert(data.Message);
                }
                else {
                    alert(data.Message);
                    art.dialog.open.api.close();
                    var win = art.dialog.open.origin; //来源页面
                    closeed();
                }
            });
            return false;
        }

        try {
            var win = art.dialog.open.origin; //来源页面
            // 如果父页面重载或者关闭其子对话框全部会关闭
            win.ShareholderActivity(value);
            closeed();
        } catch (e) {
            // window.top.document.getElementsByTagName('iframe')[1].contentWindow.InFoDate(value);
        }
    }
    //关闭
    function closeed() {
        art.dialog.open.api.close();
    }
</script>
